<input type="hidden" name="page" value="articles_scout_group_sinaji_ton_agion_tis_xioy" class="page_name">
<div class="page-image">
  <img src="/images/uniform/handkerchief.jpg" alt="εικόνα με προσκοπικό μαντήλι"
    style="border-bottom: 7px solid rgb(61, 61, 61);">
</div>
<h2 class="title_page">Εορτή της σύναξης των Αγίων της Χίου</h2>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-9 order-1 order-md-2 second_column">
      <article class="scout_group_article">
        <img src="/images/articles/system/Iera_sinaji_ton_agion_tis_xioy_2021/7.jpg" alt="Iera_sinaji_ton_agion_tis_xioy_2021" width="100%">
        <h1>Παρουσία Προσκόπων στην φετινή εορτή</h1><br>
        <p>Βαθμοφόροι του Συστήματος μας βρέθηκαν σήμερα στην εκκλησία του Αγίου Γεωργίου στο Κάστρο για τον εορτασμό της σύναξης των Αγίων της Χίου. Στην θεία λειτουργία  πρωτοστάτησε ο Σεβασμιώτατος Μητροπολίτης Χίου Ψαρών και Οινουσσών κκ Μάρκος. Οι πιστοί προσήλθαν με προσοχή τηρώντας όλα τα απαραίτητα μέτρα.</p>
        <p>Παρευρέθηκε ο πρόεδρος της Δημοτικής κοινότητας Χίου Σιμος Βενέτος.Λίγο πριν την απόλυση ο Σεβασμιώτστος κκ Μάρκος πήγε στην κλειστή  φυλακή του Κάστρου έκανε τρισάγιο κι εψαλλε τον εθνικό ύμνο.</p>
        <p>Να τονίσουμε ότι στην εκκλησία είχαν μεταφερθεί λείψανα πολλών αγίων της Χίου.Στο τέλος ο Σεβασμιότατος έστειλε μήνυμα κατά του κορονοϊού αναφερόμενος στον ιερέα των Οινουσσών που απεβίωσε πάσχων από τον covid 19, όντας αρνητής του εμβολίου, τονίζοντας ότι η εκκλησία δεν επιβάλλει στον καθένα να εμβολιαστεί πριν λάβει την άποψη του θεράποντος ιατρού του.</p>
        <h2>Η Ιερή Σύναξη των Αγίων της Χίου</h2>
        <p>Κάθε χρόνο, την πρώτη Κυριακή του Σεπτεμβρίου πανηγυρίζεται η εορτή της Ιερής Συνάξεως των Αγίων της Χίου, η οποία εορτή, με απόφαση του μακαριστού Μητροπολίτου Χίου, Ψαρών και Οινουσσών Διονυσίου, συμπεριελήφθηκε μεταξύ των τοπικών εορτών της Ιεράς Μητροπόλεως.</p>
        <p>Ο πανηγυρισμός αυτός, στον οποίο καλούνται να συμπροσευχηθούν, όλες οι Αρχές του τόπου και ο λαός, καθιερώθηκε να τελείται, Αρχιερατικώς, εδώ και 29 χρόνια, στον Ιερό, Ναό του Αγ. Γεωργίου Φρουρίου, της πόλεως Χίου.</p>
        <p>Την ημέρα αυτή τελούμε τη μνήμη «πάντων των Αγίων της Χίου», τόσο των «όπου γης» χιακής καταγωγής Αγίων, όσο και των μη Χίων, που όμως πέρασαν από τη Χίο, έζησαν για μικρό ή μεγάλο χρονικό διάστημα εδώ, μαρτύρησαν ή εκοιμήθησαν οσιακά, κατά καιρούς, και αγίασαν τον τόπο μας.</p>
        <p>Οι ΄Αγιοι αυτοί, 45 τον αριθμό περίπου, άνδρες και γυναίκες, επώνυμοι και γνωστοί (γιατί υπάρχουν και ανώνυμοι) κατατάσσονται σε Μάρτυρες (παλαιούς), Νεομάρτυρες, Ιεράρχες και Οσίους. Αγιογραφήθηκαν, με πρωτοβουλία και μετά από πολυετή μελέτη του μακαριστού Αρχιμανδρίτη του Οικ Θρόνου Γεωργίου Λιαδή και επί δεκαετίες εφημέριου του Ιερού Ναού Αγ.Γεωργίου Φρουρίου, σε θαυμάσια παραστατική εικόνα, στο Ιερό Γυναικείο Κοινόβιο του Ευαγγελισμού της Θεοτόκου Οινουσσών το 1994 μ.Χ., χρονολογία που συνέπεσε με τη χιλιετηρίδα (993 μ.Χ.) από της κτίσεως και παρουσίας του Ιερού Ναού (σύμφωνα με οθωμανική επιγραφή εντοιχισμένη στο Νάρθηκα του Ναού).Μετά την πανηγυρική Θεία Λειτουργία η Εικόνα λιτανεύεται, κάθε χρόνο από τον Ιερό Ναό μέχρι τη μεγάλη σκοτεινή Φυλακή του Κάστρου, επειδή εγκλείστηκαν εκεί πολλοί από τους Νεομάρτυρες, αλλά και για να τιμηθούν παράλληλα και οι Πρόκριτοι της Χίου, οι οποίοι μαζί με τον τότε Μητροπολίτη Χίου Πλάτωνα (Φραγκιάδη) φυλακίσθηκαν και,εν συνεχεία, μετά από πολλές κακουχίες,στις 23 Απριλίου του 1822 απαγχονίστηκαν από τους Τούρκους.</p>
        <hr class="hr_articles_scout_group" />
        <div class="circle_box circle_box_article_scout_group">Gallery</div>
        <div class="gallery_scout_group_background">
          <div class="gallery_scout_group">
            <a target="_blank" href="/images/articles/system/Iera_sinaji_ton_agion_tis_xioy_2021/1.jpg">
              <img src="/images/articles/system/Iera_sinaji_ton_agion_tis_xioy_2021/1.jpg" alt="Iera_sinaji_ton_agion_tis_xioy_2021" />
            </a>
            <div class="desc_scout_group">
              Πατήστε πάνω για
              πλήρη εικόνα
            </div>
          </div>
          <div class="gallery_scout_group">
            <a target="_blank" href="/images/articles/system/Iera_sinaji_ton_agion_tis_xioy_2021/2.jpg">
              <img src="/images/articles/system/Iera_sinaji_ton_agion_tis_xioy_2021/2.jpg" alt="Iera_sinaji_ton_agion_tis_xioy_2021" />
            </a>
            <div class="desc_scout_group">
              Πατήστε πάνω για
              πλήρη εικόνα
            </div>
          </div>
          <div class="gallery_scout_group">
            <a target="_blank" href="/images/articles/system/Iera_sinaji_ton_agion_tis_xioy_2021/3.jpg">
              <img src="/images/articles/system/Iera_sinaji_ton_agion_tis_xioy_2021/3.jpg" alt="Iera_sinaji_ton_agion_tis_xioy_2021" />
            </a>
            <div class="desc_scout_group">
              Πατήστε πάνω για
              πλήρη εικόνα
            </div>
          </div>
          <div class="gallery_scout_group">
            <a target="_blank" href="/images/articles/system/Iera_sinaji_ton_agion_tis_xioy_2021/4.jpg">
              <img src="/images/articles/system/Iera_sinaji_ton_agion_tis_xioy_2021/4.jpg" alt="Iera_sinaji_ton_agion_tis_xioy_2021" />
            </a>
            <div class="desc_scout_group">
              Πατήστε πάνω για
              πλήρη εικόνα
            </div>
          </div>
          <div class="gallery_scout_group">
            <a target="_blank" href="/images/articles/system/Iera_sinaji_ton_agion_tis_xioy_2021/5.jpg">
              <img src="/images/articles/system/Iera_sinaji_ton_agion_tis_xioy_2021/5.jpg" alt="Iera_sinaji_ton_agion_tis_xioy_2021" />
            </a>
            <div class="desc_scout_group">
              Πατήστε πάνω για
              πλήρη εικόνα
            </div>
          </div>
          <div class="gallery_scout_group">
            <a target="_blank" href="/images/articles/system/Iera_sinaji_ton_agion_tis_xioy_2021/6.jpg">
              <img src="/images/articles/system/Iera_sinaji_ton_agion_tis_xioy_2021/6.jpg" alt="Iera_sinaji_ton_agion_tis_xioy_2021" />
            </a>
            <div class="desc_scout_group">
              Πατήστε πάνω για
              πλήρη εικόνα
            </div>
          </div>
          <div class="gallery_scout_group">
            <a target="_blank" href="/images/articles/system/Iera_sinaji_ton_agion_tis_xioy_2021/8.jpg">
              <img src="/images/articles/system/Iera_sinaji_ton_agion_tis_xioy_2021/8.jpg" alt="Iera_sinaji_ton_agion_tis_xioy_2021" />
            </a>
            <div class="desc_scout_group">
              Πατήστε πάνω για
              πλήρη εικόνα
            </div>
          </div>
        </div>
        <h3>Αφήστε ένα σχόλειο:</h3>
        <form action="scout_group_sinaji_ton_agion_xioy_comment_post" method="post">
          <label for="username">Ονοματεπώνημο σας:</label><br>
          <input type="text" name="username" id="username_textbox" style="width: 100%;"
            placeholder="Βάλτε το ονοματεπώνημο σας εδώ" required><br>
          <label for="comment">Εισάγετε το σχόλιο σας εδώ:</label><br>
          <textarea name="comment" id="comment_textbox" cols="102" rows="10" maxlength="1000"
            placeholder="Μέγιστο 1000 χαρακτήρες" style="white-space: pre-wrap;" required></textarea><br>
          <input type="submit" value="Καταχώρηση">
        </form>
        <h3>Πεδίο Σχολείων:</h3>
        <div class="comment_section_scout_group">
          <% for (let i = 0; i < comments.length; i++) { %>
          <div class="comment_section_scout_group_comment">
            <p>Ο/Η <%=comments[i].username%> έκανε το εξής σχόλιο:</p>
            <p><%=comments[i].comment_text%></p>
          </div>
          <%}%>
        <%=message%>
        </div>
      </article>
    </div>