<input type="hidden" name="page" value="personal_data" class="page_name">
<div class="page-image">
  <img src="/images/uniform/handkerchief.jpg" alt="εικόνα με προσκοπικό μαντήλι"
    style="border-bottom: 7px solid rgb(61, 61, 61);">
</div>
<h2 class="title_page">Προσωπικά Δεδομένα</h2>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-8 order-1 order-md-2 second_column">
      <article class="privacy_article">
        <p>Στον παρόντα δικτυακό τόπο δημοσιεύονται φωτογραφίες από δραστηριότητες του συστήματος.</p>
        <p>Καταβάλλουμε κάθε προσπάθεια ώστε τα πρόσωπα που εικονίζονται σε αυτές να μην αναγνωρίζονται με εύκολο τρόπο
          ή να λαμβάνεται η συγκατάθεση όλων των εικονιζόμενων.</p>
        <p>Αν παρόλα αυτά θεωρείτε ότι κάποια από τις φωτογραφίες που έχουν δημοσιευθεί στο δικτυακό τόπο προσβάλλει
          κάποιο από τα δικαιώματά σας, παρακαλούμε να επικοινωνήσετε άμεσα με κάποιο μέλος του Συστήματος ώστε να
          αποσυρθεί άμεσα.</p>
        <p>Εάν κάποιος επισκέπτης / χρήστης δε συμφωνεί με τους όρους προστασίας των προσωπικών δεδομένων που
          προβλέπονται στο παρόν τμήμα οφείλει να μη χρησιμοποιεί τις σελίδες / υπηρεσίες του παρόντος δικτυακού τόπου.
        </p>
      </article>
    </div>