<input type="hidden" name="page" value="terms_of_use" class="page_name">
<div class="page-image">
  <img src="/images/privacy/laptop-820274_1920.jpg" alt="εικόνα με laptop"
    style="border-bottom: 7px solid rgb(61, 61, 61);">
</div>
<h2 class="title_page">Όροι Χρήσης</h2>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-9 order-1 order-md-2 second_column">
      <article class="privacy_article">
        <p>Η συγκεκριμένη ιστοσελίδα έχει καθαρά ενημερωτικό χαρακτήρα και περιλαμβάνει αποκλειστικά εκδηλώσεις του 8ου Συστήματος Αεροπροσκόπων Χίου. Δεν αποτελεί επίσημη ενημέρωση του ΣΕΠ.</p>
        <p>Τα πνευματικά δικαιώματα των φωτογραφιών και του περιεχομένου της συγκεκριμένης ιστοσελίδας, ανήκουν στο 8ο Σύστημα Αεροπροσκόπων Χίου.</p>
        <p>Απαγορεύεται η αναπαραγωγή των φωτογραφιών ή άλλου υλικού της συγκεκριμένης ιστοσελίδας για οποιαδήποτε χρήση, χωρίς την έγγραφη έγκριση του υπεύθυνου Αρχηγού του 8ου Συστήματος Αεροπροσκόπων Χίου.</p>
      </article>
    </div>