<input type="hidden" name="page" value="faq" class="page_name">
<div class="page-image">
  <img src="/images/faq/question-mark-1872665_1920.jpg" alt="εικόνα με ερωτηματικά"
    style="border-bottom: 7px solid rgb(61, 61, 61);">
</div>
<h2 class="title_page">Συχνές Ερωτήσεις</h2>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-8 order-1 order-md-2 second_column">
      <article>
        <div class="faq-question">
          <span>Πως μπορώ να εγγράψω το παιδί μου στους Προσκόπους;</span>
        </div>
        <div class="faq-answer">
          <span>Επικοινωνήστε με την Αρχηγό του Συστήματος κ.Μέλλο Χρήστο στο τηλέφωνο <a href="tel:+306970838066">6970838066</a> , ή συμπληρώστε την
            φόρμα εγγραφής που θα βρείτε <a href="/register/kids">ΠΑΤΩΝΤΑΣ ΕΔΩ</a> και εμείς θα επικοινωνήσουμε σύντομα
            μαζί σας</span>
        </div>
        <div class="faq-question">
          <span>Από ποια ηλικία μπορεί ένα παιδί να γίνει Πρόσκοπος;</span>
        </div>
        <div class="faq-answer">
          <span>Όταν το παιδί συμπληρώσει το 7ο έτος της ηλικίας.</span>
        </div>
        <div class="faq-question">
          <span>Πόσο κοστίζει η συμμετοχή στους Προσκόπους;</span>
        </div>
        <div class="faq-answer">
          <span>Η ετήσια συνδρομή για το Σύστημά μας είναι 50€, παρέχει ασφαλιστική κάλυψη από το Σ.Ε.Π. σε όλες
            τις προσκοπικές δράσεις που συμμετέχει το παιδί σας , τη συνεισφορά στο ταμείο του Συστήματος, το οποίο
            ενισχύει τις δράσεις των Τμημάτων μας και καλύπτει τις υλικές ανάγκες του Συστήματος.</span>
        </div>
        <div class="faq-question">
          <span>Τι κερδίζει το παιδί μου από την Προσκοπική Κίνηση;</span>
        </div>
        <div class="faq-answer">
          <span>Σήμερα υπάρχουν δεκάδες ευκαιρίες για εξωσχολικές δραστηριότητες για παιδιά και εφήβους. Οι περισσότερες
            προσφέρουν στα παιδιά ανάπτυξη μιας ικανότητας, μιας γνώσης ή διασκέδαση. Η Προσκοπική Κίνηση όμως προχωράει
            αρκετά βήματα παραπέρα.
            Το παιδί σας θα έχει μια παρέα μέσα στην οποία θα μάθει να συνεργάζεται, θα ανακαλύψει νέες κλίσεις, θα
            ζήσει νέες εμπειρίες.Όλα αυτά μέσα σε ένα οργανωμένο περιβάλλον, με εκπαιδευμένους ενήλικους εθελοντές, που
            μπορεί να σας φαίνεται ότι είναι ακόμα παιδιά και κάνουν το μεράκι τους, αλλά στην πραγματικότητα προσφέρουν
            στο παιδί σας ανεκτίμητη βοήθεια. <br>
            Η Προσκοπική Μέθοδος είναι ειδικά σχεδιασμένη για να φαίνεται σαν παιχνίδι, να είναι ελκυστική για τα παιδιά
            και παράλληλα να τα προετοιμάζει για την είσοδό τους στην κοινωνία. <br>
            Στόχος μας είναι σε όποιο περιβάλλον και αν ζουν, όλοι οι νέοι να έχουν την ικανότητα να τα «βγάζουν πέρα»
            και να γίνουν «οι αρχιτέκτονες της δικής τους ανάπτυξης» ως άτομα, τα οποία είναι: <br>
            <ul>
              <li>Αυτόνομα, ικανά να επιλέγουν και να ελέγχουν την προσωπική και κοινωνική ζωή τους ως άτομα και ως μέλη
                της κοινωνίας.</li>
              <li>Υποστηρικτικά, ικανά να δείχνουν ενδιαφέρον για τους άλλους, να ενεργούν μαζί τους και για αυτούς και
                να μοιράζονται τις ανησυχίες τους.</li>
              <li>Υπεύθυνα, ικανά να αναλαμβάνουν τις ευθύνες για τις πράξεις τους, να δεσμεύονται και να ολοκληρώνουν
                ό,τι έχουν αναλάβει.</li>
              <li>Αφοσιωμένα, ικανά να διεκδικούν, με σεβασμό σε αξίες, ιδανικά και να ενεργούν σύμφωνα με αυτά.</li>
            </ul><br>
            Διαβάστε περισσότερα στην σελίδα <a href="/what-is/scouting"><<τι είναι ο Προσκοπισμός>>.</a>
          </span>
        </div>
        <div class="faq-question">
          <span>Κάθε πότε γίνονται οι δράσεις των Προσκόπων; Που γίνονται; Πόσο διαρκούν;</span>
        </div>
        <div class="faq-answer">
          <span>Η Αγέλη συναντιέται κάθε Σάββατο, είτε στη λέσχη είτε σε κάποιο μέρος που έχει κανονιστεί να επισκεφτεί (π.χ. μουσείο, θέατρο, πάρκο). Οι δράσεις της διαρκούν περίπου 2 ώρες. Το ίδιο ισχύει και για την Ομάδα.</span>
        </div>
        <div class="faq-question">
          <span>Μπορεί να έρθει το παιδί μου δοκιμαστικά;</span>
        </div>
        <div class="faq-answer">
          <span>Φυσικά! Μπορεί να συμμετέχει σε 1-2 συγκεντρώσεις , φυσικά χωρις συνδρομή , όχι όμως εκδρομές ( ημερήσιες , διήμερες , τριήμερες , μεγάλες δράσεις ) και αυτό για λόγους ασφάλισης και ασφάλειας πριν την εγγραφή.</span>
        </div>
        <div class="faq-question">
          <span>Μπορώ σαν γονέας να συμμετέχω στον Προσκοπισμό;</span>
        </div>
        <div class="faq-answer">
          <span>Βέβαια και ναι! Μπορείτε να συμμετέχετε στην Επιτροπή Κοινωνικής Συμπαράστασης του 8<sup>ου</sup> Συστήματος Αεροπροσκόπων Χίου, όπου μαζί με άλλους γονείς και φίλους του Συστήματος παρέχετε ουσιαστική υποστήριξη, την οποία χρειαζόμαστε. Διαβάστε επίσης , τι είναι Επιτροπή Κοινωνικής Συμπαραστασης <a href="/what-is/eks">ΠΑΤΩΝΤΑΣ ΕΔΩ</a></span>
        </div>
        <div class="faq-question">
          <span>Οι Πρόσκοποι φορούν κάτι συγκεκριμένο;</span>
        </div>
        <div class="faq-answer">
          <span>Ναι, οι πρόσκοποι φορούν την προσκοπική στολή η οποία προσαρμόζεται ανάλογα με τη δράση στην οποία συμμετέχουμε. Αυτό που πάντα έχουμε μαζί μας είναι το προσκοπικό μας μαντήλι ! Η στολή μας διαφοροποιείται ανάλογα με το τμήμα στο οποίο δραστηριοποιούμαστε. Παρακάτω μπορείτε να δείτε αναλυτικά τι περιλαμβάνει η στολή κάθε τμήματος καθώς και μία σχετική εικόνα για να ξέρετε που θα ράβεται κάθε σήμα. Μην ξεχνάτε, όσα σήματα δεν τα πήρατε κατά την αγορά της στολής, απονέμονται από τον Αρχηγό του τμήματος.
            Περισσότερα για την στολή μας μπορείτε να δείτε<a href="/usefull/uniform">ΠΑΤΩΝΤΑΣ ΕΔΩ</a></span>
        </div>
        <div class="faq-question">
          <span>Είμαι άνω των 18 ετών, μπορώ να γίνω Πρόσκοπος;</span>
        </div>
        <div class="faq-answer">
          <span>Φυσικά! Ο προσκοπισμός αφορά και παιδιά και νέους. Σε αυτήν την περίπτωση λοιπόν μπορείς να γίνεις ενήλικο στέλεχος, υποστηρίζοντας το προσκοπικό έργο με διάφορους τρόπους.</span>
        </div>
        <div class="faq-answer" style="background-color: red;">
          <span>Σε περίπτωση που δεν έχετε καλυφθεί πλήρως απο τις παραπάνω απαντήσεις ,
            επικοινωνήστε με την Αρχηγό του Συστήματος κ.Μέλλο Χρήστο στο τηλέφωνο <a href="tel:+306970838066">6970838066</a>, ή συμπληρώστε την φόρμα επικοινωνίας που που θα βρείτε <a href="/contact">ΠΑΤΩΝΤΑΣ ΕΔΩ</a> και εμείς θα επικοινωνήσουμε σύντομα μαζί σας</span>
        </div>
      </article>
    </div>