<input type="hidden" name="page" value="index" class="page_name">
<div class="page-image">
  <img src="/images/home_page_2.jpg" alt="8th system wallpaper" 
    style="border-bottom: 7px solid rgb(61, 61, 61);" id="home_page_wallpaper">
</div>
<h2 style="text-align: center; margin-top: 10px;">Καλωσήρθατε στη διαδικτυακή λέσχη μας!!!</h2>
<h2 class="title_page">Αρχική Σελίδα</h2>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-9 order-2 order-md-2 second_column">
      <div class="two_side_colour_stripe_home">
        <span class="left_side_home">
          <a href="/what-is/scouting">
            <h3>Προσκοπισμός</h3>
          </a>
          <h5>Η αποστολή και η δράση μας</h5>
        </span>
        <span class="right_side_home">
          <a href="/what-is/departments">
            <h3>Τα τμήματα μας</h3>
          </a>
          <h5>Ένα τμήμα για κάθε ηλικία</h5>
        </span>
      </div>
      <div class="whole_color_stripe_home">
        <a href="/faq">
          <h3>Συχνές Ερωτήσεις</h3>
        </a>
        <h5>Απαντήσεις στις ερωτήσεις σας</h5>
      </div>
      <h3 style="text-align: center;">Τα τελευταία νέα μας</h3>
      <div class="row bg-danger py-3 mx-2 text-center align-items-center text-dark home_article">
        <div class="col-md-6 "><a href="/images/articles/cubs/2021-2022/opening_day_11-09-2021/1.jpg" target="_blank">
            <img src="/images/articles/cubs/2021-2022/opening_day_11-09-2021/1.jpg" alt="opening_day_11-09-2021" width="100%"
              ></a>
        </div>
        <div class="col-md-6">
          <a href="/articles/scouts/opening_day_11-09-2021"><h3>Έναρξη προσκοπικης χρονιάς για την Αγέλη</h3></a>
          <h5><i class="far fa-calendar-alt"></i> 11/09/2021</h5>
          <p>Η μέρα 11 Σεπτεμβρίου και ώρα 16:00, η Εστία μετά από καιρό γεμίζει ξανά από ζωντάνια. Τα Λυκόπουλα
            καινούργια και παλιά ήρθαν γεμάτα όρεξη και ανυπομονησία για να ξανά δουν τους φίλους και να αναπληρώσουν το
            χαμένο χρόνο. Έτσι με χαρά σας ανακοινώνουμε ότι ξεκινήσαμε τις δράσεις μας για την φετινή σεζόν.</p>
        </div>
      </div>
      <div class="row bg-warning py-3 mx-2 text-center align-items-center text-dark home_article">
        <div class="col-md-6 order-md-2"><a href="/images/homepage/new_year_begins_poster.jpg" target="_blank">
            <img src="/images/homepage/new_year_begins_poster.jpg" alt="new_year_begins_poster.jpg" width="100%"
              height="600"></a>
        </div>
        <div class="col-md-6 order-md-1">
          <h3>Η περιπέτεια ξεκινάει!!!</h3>
          <p>Η νέα προσκοπική χρονιά για εμάς ξεκινάει στις 11/09/2021. Ανοίγουμε τις πύλες μας και σας περιμένουμε με
            πολλή χαρά και παιχνίδια. Για να εγγράψετε το παιδί σας επικοινωνήστε με την Αρχηγό του Συστήματος κ.Μέλλο
            Χρήστο στο τηλέφωνο 6970838066, ή συμπληρώστε την φόρμα εγγραφής που θα βρείτε <a
              href="/register/kids">ΠΑΤΩΝΤΑΣ ΕΔΩ</a> και εμείς θα επικοινωνήσουμε σύντομα μαζί σας.</p>
        </div>
      </div>
      <div class="row bg-danger py-3 mx-2 text-center align-items-center text-dark home_article">
        <div class="col-md-6 "><a href="/images/articles/system/Iera_sinaji_ton_agion_tis_xioy_2021/7.jpg" target="_blank">
            <img src="/images/articles/system/Iera_sinaji_ton_agion_tis_xioy_2021/7.jpg" alt="new_year_begins_poster.jpg" width="100%"
              ></a>
        </div>
        <div class="col-md-6">
          <a href="/articles/scout_group/sinaji_ton_agion_xioy"><h3>Εορτή της σύναξης των Αγίων της Χίου</h3></a>
          <h5><i class="far fa-calendar-alt"></i> 06/09/2021</h5>
          <p>Βαθμοφόροι του Συστήματος μας βρέθηκαν σήμερα στην εκκλησία του Αγίου Γεωργίου στο Κάστρο για τον εορτασμό της σύναξης των Αγίων της Χίου. Στην θεία λειτουργία πρωτοστάτησε ο Σεβασμιώτατος Μητροπολίτης Χίου Ψαρών και Οινουσσών κκ Μάρκος. Οι πιστοί προσήλθαν με προσοχή τηρώντας όλα τα απαραίτητα μέτρα.</p>
        </div>
      </div>
      <div class="row bg-info py-3 mx-2 text-center align-items-center text-dark home_article">
        <div class="col-md-6 order-md-2"><a href="/images/homepage/psara_statue_1.jpg" target="_blank">
            <img src="/images/homepage/psara_statue_1.jpg" alt="psara_statue_1.jpg" width="100%"></a>
        </div>
        <div class="col-md-6 order-md-1">
          <h3>Ενα επιβλητικό άγαλμα τεσσάρων μέτρων στα Ψαρά</h3>
          <h5><i class="far fa-calendar-alt"></i> 06/08/2021</h5>
          <p>Οι Βαθμοφόροι μας βρέθηκαν στα αποκαληπτήρια του αγάλματος της δώξας των Ψαρών. Εμπνευσμένο από τους
            στίχους του Εθνικού μας ποιητή Διονύσιου Σολωμού, και αποτυπωμένο όπως το φαντάστηκε ο ζωγράφος Νικόλαος
            Γύζης αποκαλύφθηκε το άγαλμα της «Δόξας των Ψαρών» στους πρόποδες της Μαύρης Ράχης.
            Το επιβλητικό άγαλμα ύψους τεσσάρων μέτρων, δωρεά του εφοπλιστή Θανάση Μαρτίνου, φιλοτέχνησε ο γλύπτης Νίκος
            Γεωργίου, ενώ η διαμόρφωση του περιβάλλοντα χώρου έγινε από τον Αρχιτέκτονα/Μηχανικό Μανώλη Βουρνού.
          </p>
        </div>
      </div>
      <div class="row bg-danger py-3 mx-2 text-center align-items-center text-dark overflow-auto home_article">
        <div class="col-md-6"><a href="/images/homepage/loykoymades_to_prison.jpg" target="_blank">
            <img src="/images/homepage/loykoymades_to_prison.jpg" alt="loykoymades_to_prison.jpg" width="100%"
              ></a>
        </div>
        <div class="col-md-6">
          <h3>Λουκουμάδες στο κατάστημα κράτησης Χίου</h3>
          <h5><i class="far fa-calendar-alt"></i> 31/07/2021</h5>
          <p>"..να βοηθώ κάθε άνθρωπο σε κάθε περίσταση "
            Σήμερα οι βαθμοφόροι του Συστήματος πιστοί στο καθήκον τηρώντας την υπόσχεση, προσέφεραν στο Κατάστημα
            Κράτησης Χίου (φυλακές) 900++ λουκουμάδες.
            Ευχαριστούμε πολύ για την κ . Άννα Φαράκλα για την πολύτιμη βοήθεια της και το προσωπικό του Κ.Κ.Χίου για
            την συνεργασία.
            Η σκέψη μας βρίσκεται πάντα στους ευάλωτους της κοινωνίας και σε όσους βιώνουν τον κοινωνικό αποκλεισμό.
            Οι Πρόσκοποι, μέσω των προγραμμάτων, των δράσεων και των διαχρονικών αξιών τους, για περισσότερα από 110
            χρόνια εφαρμόζουν έμπρακτα στους 17 στόχους βιώσιμης ανάπτυξης του Ο.Η.Ε., συμβάλλοντας στη δημιουργία ενός
            καλύτερου κόσμου!
          </p>
          <span><img src="/images/17_goals/2_zero_hunger.jpg" alt="zero_hunger" width="150" height="150"><img
              src="/images/17_goals/17.jpg" alt="17" width="150" height="150"></span>
        </div>
      </div>
      <div class="row bg-success py-3 mx-2 text-center align-items-center text-dark home_article">
        <div class="col-md-6 order-md-2"><a href="/images/homepage/clothes_recycling_event.jpg" target="_blank">
            <img src="/images/homepage/clothes_recycling_event.jpg" alt="clothes_recycling_event.jpg" width="100%"
              ></a>
        </div>
        <div class="col-md-6 order-md-1">
          <h3>Παρουσίαση του κάδου ανακύλωσης ρούχων</h3>
          <h5><i class="far fa-calendar-alt"></i> 30/05/2021</h5>
          <p>Την Κυριακή το πρωί μικρά και μεγάλα μέλη του Συστήματος παρουσίασαν τον κάδο που τοποθετήθηκε σε χώρο που
            παραχώρησε το Λιμενικό Ταμείο Χίου και απέστειλε η εταιρεία Recycom που δραστηριοποιείται σε αυτού του τύπου
            την ανακύκλωση. Τα παιδιά, Λυκόπουλα και Πρόσκοποι, του Συστήματος έδειξαν να έχουν κατανοήσει πλήρως την
            ανάγκη ανακύκλωσης των ρούχων και των παπουτσιών, ενώ όπως επισημάναμε οι ενήλικοι εθελοντές της Κίνησης
            θέλησαν και με την πρωτοβουλία αυτή να εφαρμόσουν στόχους της βιώσιμης ανάπτυξης του ΟΗΕ και κυρίως να
            γίνουν και οι ίδιοι μέρος της λύσης. Διαβάστε περισσότερα σχετικά με τον κάδο ανακύκλωσης ρούχων <a href="/articles/announcements/recycling_clothes" style="color: red;">ΠΑΤΩΝΤΑΣ ΕΔΩ</a>
          </p>
          <span><img src="/images/17_goals/7_clean_energy.jpg" alt="7_clean_energy.jpg" width="90" height="90"><img
              src="/images/17_goals/12.jpg" alt="12" width="90" height="90"><img src="/images/17_goals/13.jpg" alt="13"
              width="90" height="90"><img src="/images/17_goals/17.jpg" alt="17" width="90" height="90"></span>
        </div>
      </div>
      <div class="row bg-secondary py-3 mx-2 text-center align-items-center text-dark overflow-auto home_article">
        <div class="col-md-6"><a href="/images/homepage/anakiklosi_vodafone.jpg" target="_blank">
            <img src="/images/homepage/anakiklosi_vodafone.jpg" alt="anakiklosi_vodafone.jpg" width="100%"
              ></a>
        </div>
        <div class="col-md-6">
          <h3>Aνακύκλωση συσκευών και αξεσουάρ</h3>
          <h5><i class="far fa-calendar-alt"></i> 17/05/2021</h5>
          <p>Για πρώτη φορά το Σύστημα μας συμμετείχε στο πρόγραμμα ανακύκλωσης συσκευών και αξεσουάρ του Σώματος
            Ελλήνων Προσκόπων σε συνεργασία με την Vodafone .
            Ευχαριστούμε τα μέλη και τους φίλους του Συστήματος μας που στήριξαν την προσπάθεια μας να συγκεντρώσουμε
            μεγάλο αριθμό σε αξεσουάρ κινητών τηλεφώνων (συσκευές , φορτιστές , μπαταρίες, hands free, καλώδια κ.λπ.) .
            Τα ανακυκλώσιμα υλικά παραδόθηκαν στο κατάστημα Vodafone του κ. Σκυριώτη Γιώργου.
            Οι Πρόσκοποι, μέσω των προγραμμάτων, των δράσεων και των διαχρονικών αξιών τους, για 110 χρόνια εφαρμόζουν
            έμπρακτα στους 17 Στόχους Βιώσιμης Ανάπτυξης του ΟΗΕ, συμβάλλοντας στη δημιουργία ενός καλύτερου κόσμου! Για περισσότερες πληροφορίες σχετικά με την ανακύκλωση κινητών και αξεσουάρ <a href="/articles/announcements/recycling_phones" style="color: red;">ΠΑΤΗΣΤΕ ΕΔΩ</a>
          </p>
          <span><img src="/images/17_goals/12.jpg" alt="12" width="150" height="150"><img
              src="/images/17_goals/17.jpg" alt="17" width="150" height="150"></span>
        </div>
      </div>
      <!-- <div id="home_cluster_1">
        <div class="grid_container_two_column_article">
          <div class="grid_item_two_column_article">
            <img src="https://via.placeholder.com/400x400" alt="placeholder image" loading="lazy" width="100%">
            <div class="text_below_image">
            <a href="/articles/cubs/habet"><h3>Qui habet.</h3></a>
            <h5><i class="far fa-calendar-alt"></i> XX/XX/XXXX</h5>
            <h5><a href="#">#Αγέλη</a></h5>
            </div>
          </div>
          <div class="grid_item_two_column_article">
            <img src="https://via.placeholder.com/400x400" alt="placeholder image" loading="lazy" width="100%">
            <div class="text_below_image">
            <a href="#"><h3>Qui habet et pugnat longissimum patientia vincit.</h3></a>
            <h5><i class="far fa-calendar-alt"></i> XX/XX/XXXX</h5>
            <h5><a href="#">#Ομάδα</a></h5>
          </div>
          </div>
          <div class="grid_item_two_column_article">
            <img src="https://via.placeholder.com/400x400" alt="placeholder image" loading="lazy" width="100%">
            <div class="text_below_image">
            <a href="#"><h3>Qui habet et pugnat longissimum patientia vincit.</h3></a>
            <h5><i class="far fa-calendar-alt"></i> XX/XX/XXXX</h5>
            <h5><a href="#">#Βαθμοφόρων</a></h5>
          </div>
          </div>
          <div class="grid_item_two_column_article">
            <img src="https://via.placeholder.com/400x400" alt="placeholder image" loading="lazy" width="100%">
            <div class="text_below_image">
            <a href="#"><h3>Qui habet et pugnat longissimum patientia vincit.</h3></a>
            <h5><i class="far fa-calendar-alt"></i> XX/XX/XXXX</h5>
            <h5><a href="#">#Συστήματος</a></h5>
          </div>
          </div>
          <div class="grid_item_two_column_article">
              <img src="https://via.placeholder.com/400x400" alt="placeholder image" loading="lazy" width="100%">
              <div class="text_below_image">
              <a href="/articles/cubs/habet"><h3>Qui habet.</h3></a>
              <h5><i class="far fa-calendar-alt"></i> XX/XX/XXXX</h5>
              <h5><a href="#">#Αγέλη</a></h5>
              </div>
          </div>
          <div class="grid_item_two_column_article">
            <img src="https://via.placeholder.com/400x400" alt="placeholder image" loading="lazy" width="100%">
            <div class="text_below_image">
            <a href="#"><h3>Qui habet et pugnat longissimum patientia vincit.</h3></a>
            <h5><i class="far fa-calendar-alt"></i> XX/XX/XXXX</h5>
            <h5><a href="#">#Ομάδα</a></h5>
          </div>
          </div>
          <div class="grid_item_two_column_article">
            <img src="https://via.placeholder.com/400x400" alt="placeholder image" loading="lazy" width="100%">
            <div class="text_below_image">
            <a href="#"><h3>Qui habet et pugnat longissimum patientia vincit.</h3></a>
            <h5><i class="far fa-calendar-alt"></i> XX/XX/XXXX</h5>
            <h5><a href="#">#Βαθμοφόρων</a></h5>
          </div>
          </div>
          <div class="grid_item_two_column_article">
            <img src="https://via.placeholder.com/400x400" alt="placeholder image" loading="lazy" width="100%">
            <div class="text_below_image">
            <a href="#"><h3>Qui habet et pugnat longissimum patientia vincit.</h3></a>
            <h5><i class="far fa-calendar-alt"></i> XX/XX/XXXX</h5>
            <h5><a href="#">#Συστήματος</a></h5>
          </div>
          </div>
          <div class="grid_item_two_column_article">
            <img src="https://via.placeholder.com/400x400" alt="placeholder image" loading="lazy" width="100%">
            <div class="text_below_image">
            <a href="/articles/cubs/habet"><h3>Qui habet.</h3></a>
            <h5><i class="far fa-calendar-alt"></i> XX/XX/XXXX</h5>
            <h5><a href="#">#Αγέλη</a></h5>
            </div>
          </div>
          <div class="grid_item_two_column_article">
            <img src="https://via.placeholder.com/400x400" alt="placeholder image" loading="lazy" width="100%">
            <div class="text_below_image">
            <a href="#"><h3>Qui habet et pugnat longissimum patientia vincit.</h3></a>
            <h5><i class="far fa-calendar-alt"></i> XX/XX/XXXX</h5>
            <h5><a href="#">#Ομάδα</a></h5>
          </div>
          </div>
        </div>
    </div>
    <div id="home_cluster_2">
      <div class="grid_container_two_column_article">
        <div class="grid_item_two_column_article">
          <img src="https://via.placeholder.com/400x400" alt="placeholder image" loading="lazy" width="100%">
          <div class="text_below_image">
          <a href="/articles/cubs/habet"><h3>Qui habet.</h3></a>
          <h5><i class="far fa-calendar-alt"></i> XX/XX/XXXX</h5>
          <h5><a href="#">#Αγέλη</a></h5>
          </div>
        </div>
        <div class="grid_item_two_column_article">
          <img src="https://via.placeholder.com/400x400" alt="placeholder image" loading="lazy" width="100%">
          <div class="text_below_image">
          <a href="#"><h3>Qui habet et pugnat longissimum patientia vincit.</h3></a>
          <h5><i class="far fa-calendar-alt"></i> XX/XX/XXXX</h5>
          <h5><a href="#">#Ομάδα</a></h5>
        </div>
        </div>
        <div class="grid_item_two_column_article">
          <img src="https://via.placeholder.com/400x400" alt="placeholder image" loading="lazy" width="100%">
          <div class="text_below_image">
          <a href="#"><h3>Qui habet et pugnat longissimum patientia vincit.</h3></a>
          <h5><i class="far fa-calendar-alt"></i> XX/XX/XXXX</h5>
          <h5><a href="#">#Βαθμοφόρων</a></h5>
        </div>
        </div>
        <div class="grid_item_two_column_article">
          <img src="https://via.placeholder.com/400x400" alt="placeholder image" loading="lazy" width="100%">
          <div class="text_below_image">
          <a href="#"><h3>Qui habet et pugnat longissimum patientia vincit.</h3></a>
          <h5><i class="far fa-calendar-alt"></i> XX/XX/XXXX</h5>
          <h5><a href="#">#Συστήματος</a></h5>
        </div>
        </div>
        <div class="grid_item_two_column_article">
            <img src="https://via.placeholder.com/400x400" alt="placeholder image" loading="lazy" width="100%">
            <div class="text_below_image">
            <a href="/articles/cubs/habet"><h3>Qui habet.</h3></a>
            <h5><i class="far fa-calendar-alt"></i> XX/XX/XXXX</h5>
            <h5><a href="#">#Αγέλη</a></h5>
            </div>
        </div>
        <div class="grid_item_two_column_article">
          <img src="https://via.placeholder.com/400x400" alt="placeholder image" loading="lazy" width="100%">
          <div class="text_below_image">
          <a href="#"><h3>Qui habet et pugnat longissimum patientia vincit.</h3></a>
          <h5><i class="far fa-calendar-alt"></i> XX/XX/XXXX</h5>
          <h5><a href="#">#Ομάδα</a></h5>
        </div>
        </div>
        <div class="grid_item_two_column_article">
          <img src="https://via.placeholder.com/400x400" alt="placeholder image" loading="lazy" width="100%">
          <div class="text_below_image">
          <a href="#"><h3>Qui habet et pugnat longissimum patientia vincit.</h3></a>
          <h5><i class="far fa-calendar-alt"></i> XX/XX/XXXX</h5>
          <h5><a href="#">#Βαθμοφόρων</a></h5>
        </div>
        </div>
        <div class="grid_item_two_column_article">
          <img src="https://via.placeholder.com/400x400" alt="placeholder image" loading="lazy" width="100%">
          <div class="text_below_image">
          <a href="#"><h3>Qui habet et pugnat longissimum patientia vincit.</h3></a>
          <h5><i class="far fa-calendar-alt"></i> XX/XX/XXXX</h5>
          <h5><a href="#">#Συστήματος</a></h5>
        </div>
        </div>
        <div class="grid_item_two_column_article">
          <img src="https://via.placeholder.com/400x400" alt="placeholder image" loading="lazy" width="100%">
          <div class="text_below_image">
          <a href="/articles/cubs/habet"><h3>Qui habet.</h3></a>
          <h5><i class="far fa-calendar-alt"></i> XX/XX/XXXX</h5>
          <h5><a href="#">#Αγέλη</a></h5>
          </div>
        </div>
        <div class="grid_item_two_column_article">
          <img src="https://via.placeholder.com/400x400" alt="placeholder image" loading="lazy" width="100%">
          <div class="text_below_image">
          <a href="#"><h3>Qui habet et pugnat longissimum patientia vincit.</h3></a>
          <h5><i class="far fa-calendar-alt"></i> XX/XX/XXXX</h5>
          <h5><a href="#">#Ομάδα</a></h5>
        </div>
        </div>
      </div>
    </div>
    <div id="home_cluster_3">
      <div class="grid_container_two_column_article">
        <div class="grid_item_two_column_article">
          <img src="https://via.placeholder.com/400x400" alt="placeholder image" loading="lazy" width="100%">
          <div class="text_below_image">
          <a href="/articles/cubs/habet"><h3>Qui habet.</h3></a>
          <h5><i class="far fa-calendar-alt"></i> XX/XX/XXXX</h5>
          <h5><a href="#">#Αγέλη</a></h5>
          </div>
        </div>
        <div class="grid_item_two_column_article">
          <img src="https://via.placeholder.com/400x400" alt="placeholder image" loading="lazy" width="100%">
          <div class="text_below_image">
          <a href="#"><h3>Qui habet et pugnat longissimum patientia vincit.</h3></a>
          <h5><i class="far fa-calendar-alt"></i> XX/XX/XXXX</h5>
          <h5><a href="#">#Ομάδα</a></h5>
        </div>
        </div>
        <div class="grid_item_two_column_article">
          <img src="https://via.placeholder.com/400x400" alt="placeholder image" loading="lazy" width="100%">
          <div class="text_below_image">
          <a href="#"><h3>Qui habet et pugnat longissimum patientia vincit.</h3></a>
          <h5><i class="far fa-calendar-alt"></i> XX/XX/XXXX</h5>
          <h5><a href="#">#Βαθμοφόρων</a></h5>
        </div>
        </div>
        <div class="grid_item_two_column_article">
          <img src="https://via.placeholder.com/400x400" alt="placeholder image" loading="lazy" width="100%">
          <div class="text_below_image">
          <a href="#"><h3>Qui habet et pugnat longissimum patientia vincit.</h3></a>
          <h5><i class="far fa-calendar-alt"></i> XX/XX/XXXX</h5>
          <h5><a href="#">#Συστήματος</a></h5>
        </div>
        </div>
        <div class="grid_item_two_column_article">
            <img src="https://via.placeholder.com/400x400" alt="placeholder image" loading="lazy" width="100%">
            <div class="text_below_image">
            <a href="/articles/cubs/habet"><h3>Qui habet.</h3></a>
            <h5><i class="far fa-calendar-alt"></i> XX/XX/XXXX</h5>
            <h5><a href="#">#Αγέλη</a></h5>
            </div>
        </div>
        <div class="grid_item_two_column_article">
          <img src="https://via.placeholder.com/400x400" alt="placeholder image" loading="lazy" width="100%">
          <div class="text_below_image">
          <a href="#"><h3>Qui habet et pugnat longissimum patientia vincit.</h3></a>
          <h5><i class="far fa-calendar-alt"></i> XX/XX/XXXX</h5>
          <h5><a href="#">#Ομάδα</a></h5>
        </div>
        </div>
        <div class="grid_item_two_column_article">
          <img src="https://via.placeholder.com/400x400" alt="placeholder image" loading="lazy" width="100%">
          <div class="text_below_image">
          <a href="#"><h3>Qui habet et pugnat longissimum patientia vincit.</h3></a>
          <h5><i class="far fa-calendar-alt"></i> XX/XX/XXXX</h5>
          <h5><a href="#">#Βαθμοφόρων</a></h5>
        </div>
        </div>
        <div class="grid_item_two_column_article">
          <img src="https://via.placeholder.com/400x400" alt="placeholder image" loading="lazy" width="100%">
          <div class="text_below_image">
          <a href="#"><h3>Qui habet et pugnat longissimum patientia vincit.</h3></a>
          <h5><i class="far fa-calendar-alt"></i> XX/XX/XXXX</h5>
          <h5><a href="#">#Συστήματος</a></h5>
        </div>
        </div>
        <div class="grid_item_two_column_article">
          <img src="https://via.placeholder.com/400x400" alt="placeholder image" loading="lazy" width="100%">
          <div class="text_below_image">
          <a href="/articles/cubs/habet"><h3>Qui habet.</h3></a>
          <h5><i class="far fa-calendar-alt"></i> XX/XX/XXXX</h5>
          <h5><a href="#">#Αγέλη</a></h5>
          </div>
        </div>
        <div class="grid_item_two_column_article">
          <img src="https://via.placeholder.com/400x400" alt="placeholder image" loading="lazy" width="100%">
          <div class="text_below_image">
          <a href="#"><h3>Qui habet et pugnat longissimum patientia vincit.</h3></a>
          <h5><i class="far fa-calendar-alt"></i> XX/XX/XXXX</h5>
          <h5><a href="#">#Ομάδα</a></h5>
        </div>
        </div>
      </div>
    </div>
      <div class="more_posts" id="more_posts_home">Περρισσότερες Δημοσιεύσεις</div>
 -->
    </div>