<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>8ο Σύστημα Αεροπροσκόπων Χίου</title>
  <%/* <meta name="robots" content="noindex"> */%>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
  <link rel="shortcut icon" href="/images/8th_system_logo.png" type="image/x-icon">
  <script src="https://kit.fontawesome.com/cc178605cc.js" crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <!-- Stylesheets begin -->
  <link rel="stylesheet" href="/stylesheets/dependencies/animate.min.css">
  <link rel="stylesheet" href="/stylesheets/dependencies/fontawesome.css">
  <link rel="stylesheet" href="/stylesheets/style-layout.css">
  <link rel="stylesheet" href="/stylesheets/style-home.css">
  <!-- Stylesheets end -->
</head>
<body>
  <div class="main-body">
    <nav class="navbar5">
      <a href="#home" title="Αρχική Σελίδα" class="green_area animate__animated animate__slideInDown"><i class="fas fa-home"></i>
      </a>
      <div class="dropdown5">
        <button class="dropbtn animate__animated animate__slideInDown">Τι είναι... 
          <i class="fas fa-caret-down"></i>
        </button>
        <div class="dropdown-content animate__animated animate__zoomIn animate__faster">
          <a href="#" class="animate__animated animate__bounceInLeft">Προσκοπισμός</a>
          <a href="#" class="animate__animated animate__bounceInLeft">Αγέλη</a>
          <a href="#" class="animate__animated animate__bounceInLeft">Ομάδα</a>
          <a href="#" class="animate__animated animate__bounceInLeft">Ανιχνευτές</a>
          <a href="#" class="animate__animated animate__bounceInLeft">Δίκτυο</a>
          <a href="#" class="animate__animated animate__bounceInLeft">Ε.Κ.Σ.</a>
        </div>
      </div> 
      <div class="dropdown5">
        <button class="dropbtn animate__animated animate__slideInDown">Το Σύστημα 
          <i class="fas fa-caret-down"></i>
        </button>
        <div class="dropdown-content animate__animated animate__zoomIn animate__faster">
          <a href="#" class="animate__animated animate__bounceInLeft">Ιστορία</a>
          <a href="#" class="animate__animated animate__bounceInLeft">Στέγαση</a>
          <a href="#" class="animate__animated animate__bounceInLeft">Βαθμοφόροι</a>
          <a href="#" class="animate__animated animate__bounceInLeft">Τραγούδι</a>
          <a href="#" class="animate__animated animate__bounceInLeft">Throwbacks</a>
        </div>
      </div>
      <div class="dropdown5">
        <button class="dropbtn animate__animated animate__slideInDown">Δράσεις 
          <i class="fas fa-caret-down"></i>
        </button>
        <div class="dropdown-content animate__animated animate__zoomIn animate__faster">
          <a href="#" class="animate__animated animate__bounceInLeft">Αγέλης</a>
          <a href="#" class="animate__animated animate__bounceInLeft">Ομάδας</a>
          <a href="#" class="animate__animated animate__bounceInLeft">Ανιχνευτών</a>
          <a href="#" class="animate__animated animate__bounceInLeft">Δικτύου</a>
          <a href="#" class="animate__animated animate__bounceInLeft">Βαθμοφόρων</a>
          <a href="#" class="animate__animated animate__bounceInLeft">Συστήματος</a>
        </div>
      </div>
      <div class="dropdown5">
        <button class="dropbtn animate__animated animate__slideInDown">Χρήσιμα 
          <i class="fas fa-caret-down"></i>
        </button>
        <div class="dropdown-content animate__animated animate__zoomIn animate__faster">
          <a href="#" class="animate__animated animate__bounceInLeft">Ανακοινώσεις</a>
          <a href="#" class="animate__animated animate__bounceInLeft">Στολή</a>
          <a href="#" class="animate__animated animate__bounceInLeft">Δελτίο Υγείας</a>
          <a href="#" class="animate__animated animate__bounceInLeft">Δήμος</a>
          <a href="#" class="animate__animated animate__bounceInLeft">Σ.Ε.Π.</a>
          <a href="#" class="animate__animated animate__bounceInLeft">Προσκοπικό Πρατήριο</a>
        </div>
      </div>
      <div class="dropdown5">
        <button class="dropbtn animate__animated animate__slideInDown">Συχνές ερωτήσεις 
          <i class="fas fa-caret-down"></i>
        </button>
        <div class="dropdown-content animate__animated animate__zoomIn animate__faster">
          <a href="#" class="animate__animated animate__bounceInLeft">Πως θα γίνεις Πρόσκοπος</a>
        </div>
      </div>
      <div class="dropdown5">
        <button class="dropbtn animate__animated animate__slideInDown">Εμπιστευτικά 
          <i class="fas fa-caret-down"></i>
        </button>
        <div class="dropdown-content animate__animated animate__zoomIn animate__faster">
          <a href="#" class="animate__animated animate__bounceInLeft">Αγέλη</a>
          <a href="#" class="animate__animated animate__bounceInLeft">Ομάδα</a>
        </div>
      </div>
      <a href="#" class="animate__animated animate__slideInDown">Επικοινωνία</a>
    </nav>
    <nav class="navbar6 animate__animated animate__slideInDown" >
      <a href="#" style="background-color: rgb(0, 128, 0); display: block; border-bottom: 2px solid red; border-top: 2px solid red;"><i class="fas fa-home"></i></a>
      <div>
        <button class="dropbtn2">Τι είναι... <i class="fas fa-arrow-alt-circle-down"></i></button>
        <div class="dropdown-content2">
          <a href="#" class="animate__animated animate__bounceInLeft">Προσκοπισμός</a>
          <a href="#" class="animate__animated animate__bounceInLeft">Αγέλη</a>
          <a href="#" class="animate__animated animate__bounceInLeft">Ομάδα</a>
          <a href="#" class="animate__animated animate__bounceInLeft">Ανιχνευτές</a>
          <a href="#" class="animate__animated animate__bounceInLeft">Δίκτυο</a>
          <a href="#" class="animate__animated animate__bounceInLeft">Ε.Κ.Σ.</a>
        </div>
      </div>
      <div>
        <button class="dropbtn2">Το Σύστημα... <i class="fas fa-arrow-alt-circle-down"></i></button>
        <div class="dropdown-content2">
          <a href="#" class="animate__animated animate__bounceInLeft">Ιστορία</a>
          <a href="#" class="animate__animated animate__bounceInLeft">Στέγαση</a>
          <a href="#" class="animate__animated animate__bounceInLeft">Βαθμοφόροι</a>
          <a href="#" class="animate__animated animate__bounceInLeft">Τραγούδι</a>
          <a href="#" class="animate__animated animate__bounceInLeft">Throwbacks</a>
        </div>
      </div>
      <div>
        <button class="dropbtn2">Δράσεις <i class="fas fa-arrow-alt-circle-down"></i></button>
        <div class="dropdown-content2">
          <a href="#" class="animate__animated animate__bounceInLeft">Αγέλης</a>
          <a href="#" class="animate__animated animate__bounceInLeft">Ομάδας</a>
          <a href="#" class="animate__animated animate__bounceInLeft">Ανιχνευτών</a>
          <a href="#" class="animate__animated animate__bounceInLeft">Δικτύου</a>
          <a href="#" class="animate__animated animate__bounceInLeft">Βαθμοφόρων</a>
          <a href="#" class="animate__animated animate__bounceInLeft">Συστήματος</a>
        </div>
      </div>
      <div>
        <button class="dropbtn2">Χρήσιμα <i class="fas fa-arrow-alt-circle-down"></i></button>
        <div class="dropdown-content2">
          <a href="#" class="animate__animated animate__bounceInLeft">Ανακοινώσεις</a>
          <a href="#" class="animate__animated animate__bounceInLeft">Στολή</a>
          <a href="#" class="animate__animated animate__bounceInLeft">Δελτίο Υγείας</a>
          <a href="#" class="animate__animated animate__bounceInLeft">Δήμος</a>
          <a href="#" class="animate__animated animate__bounceInLeft">Σ.Ε.Π.</a>
          <a href="#" class="animate__animated animate__bounceInLeft">Προσκοπικό Πρατήριο</a>
        </div>
      </div>
      <div>
        <button class="dropbtn2">Συχνές ερωτήσεις <i class="fas fa-arrow-alt-circle-down"></i></button>
        <div class="dropdown-content2">
          <a href="#" class="animate__animated animate__bounceInLeft">Πως θα γίνεις Πρόσκοπος</a>
        </div>
      </div>
      <div>
        <button class="dropbtn2">Εμπιστευτικά <i class="fas fa-arrow-alt-circle-down"></i></button>
        <div class="dropdown-content2">
          <a href="#" class="animate__animated animate__bounceInLeft">Αγέλη</a>
          <a href="#" class="animate__animated animate__bounceInLeft">Ομάδα</a>
        </div>
      </div>
      <a href="#" style="background-color: rgb(97,86,236); display: block; border-bottom: 2px solid red; border-top: 2px solid red;">Επικοινωνία</a>
    </nav>
    <h1 class="site-title">8<sup>ο</sup> Σύστημα Αεροπροσκόπων Χίου</h1>
<%- body %>
<!-- Scripts Begin -->
<script src="javascripts/dependencies/jquery.min.js"></script>
<script src="javascripts/layout.js"></script>
<!-- Scripts End -->
</body>
</html>