<script>
  function goBack() {
    window.history.back()
  }
</script>
<input type="hidden" name="page" value="under_construction" class="page_name">
<div class="page-image">
  <img src="/images/under_construction/architecture-1857175_1920.jpg" alt="σχέδια κατασκευής"
    style="border-bottom: 7px solid rgb(61, 61, 61);">
</div>
<h2 class="title_page">Σελίδα υπό κατασκευή</h2>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-9 order-1 order-md-2 second_column">
      <article style="text-align: center;">
        <h2 style="margin-bottom: 30px;">ΔΥΣΤΥΧΩΣ ΑΥΤΗ Η ΣΕΛΙΔΑ ΕΙΝΑΙ ΥΠΟ ΚΑΤΑΣΚΕΥΗ. ΞΑΝΑ ΕΛΕΞΤΕ ΑΛΛΗ ΗΜΕΡΑ.</h2>
        <img src="/images/under_construction/Under_construction.png" alt="Σήμα υπό κατασκευής" width="100%" height="800">
        <button onclick="goBack()"
          style="width: 500px; height: 200px; border: solid 10px green; color: yellow; background-color: blue; font-size: 32px; cursor: pointer; margin-top: 30px;">ΠΗΓΑΙΝΕΤΕ ΠΙΣΩ</button>
      </article>
    </div>