<input type="hidden" name="page" value="what_is_departments" class="page_name">
<div class="page-image">
  <img src="/images/what_is/departments/departments.jpg" alt="εικόνα με σύμβολο προσκοπισμού" style="border-bottom: 7px solid rgb(61, 61, 61);">
</div>
<h2 class="title_page">Προσκοπικά Τμήματα</h2>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-8 order-1 order-md-2 second_column">
      <article class="departments_article">
        <p>
          Το προσκοπικό πρόγραμμα προσαρμόζεται στα χαρακτηριστικά της ηλικιακής ομάδας στην οποία απευθύνεται και αξιοποιεί τις παιδαγωγικές ευκαιρίες που προσφέρει κάθε ηλικία. Ένα Σύστημα αποτελείται από 4 τμήματα. Την Αγέλη Λυκόπουλων, την Ομάδα Προσκόπων, την Κοινότητα Ανιχνευτών και το Προσκοπικό Δίκτυο. Δείτε παρακάτω μία συνοπτική περιγραφή του κάθε τμήματος και τις ηλικίες στις οποίες απευθύνεται.</p>
          <div class="two_side_stripe two_side_stripe_departments_cubs">
            <span class="left_side left_side_departments_cubs">
              <img src="/images/what_is/departments/klados-likopoulon-final.png" alt="Σήμα Κλάδου Λυκοπούλων" width="100%" height="100%">
            </span>
            <span class="right_side right_side_departments_cubs">
              <h3>Αγέλη Λυκοπούλων (Παιδιά 7-11 ετών)</h3>
              <p>Η διαδρομή του προσκόπου μέσα στα μονοπάτια της προσκοπικής ζωής ξεκινά από την Αγέλη λυκοπούλων. Η αγέλη αποτελείται από παιδιά ηλικίας 7-11 ετών , τα λυκόπουλα , που μέσα από το παιχνίδι αναπτύσσουν τη φαντασία και τις ικανότητές τους. Το όνομα του τμήματος εμπνέεται από τις περιπέτειες του Μόγλη, και το γνωστό μυθιστόρημα του Κίπλινγκ, "Το βιβλίο της ζούγκλας". Η Αγέλη του 8ου Συστήματος Αεροπροσκόπων Χίου συγκεντρώνεται κάθε Σάββατο, και ώρα 15:45-17:30 στη λέσχη μας. Αρχηγός της Αγέλης είναι <strong>η Ρίκα Φαράκλα</strong>.</p>
            </span>
          </div>
          <br>
          <div class="two_side_stripe two_side_stripe_departments_scouts">
            <span class="left_side left_side_departments_scouts">
              <h3>Ομάδα Προσκόπων (Παιδιά 11-14 ετών)</h3>
              <p>Στην ομάδα , οι πρόσκοποι κοινωνικοποιούνται, διευρύνουν τις ατομικές τους κλίσεις και αποκτούν χρήσιμες γνώσεις μέσα από το παιχνίδι, την περιπέτεια και τις δραστηριότητες στην ύπαιθρο. Οι Πρόσκοποι δημιουργούν μικρές παρέες, τις ενωμοτίες, μέσα στις οποίες έχουν την ευκαιρία να αναπτύξουν τις ικανοτητές τους λειτουργώντας στα πλαίσια της ομάδας. Η Ομάδα του 8ου Συστήματος Αεροπροσκόπων Χίου συγκεντρώνεται κάθε Σάββατο, και ώρα 17:30-19:30 στη λέσχη μας. Αρχηγός της Ομάδας είναι <strong>ο Μιχάλης Ξενάκης</strong>.</p>
            </span>
            <span class="right_side right_side_departments_scouts">
              <img src="/images/what_is/departments/Logo_scouts-1024x1009.png" alt="Σήμα Κλάδου Προσκόπων" width="100%" height="100%">
            </span>
          </div>
          <div class="two_side_stripe two_side_stripe_departments_explorers">
            <span class="left_side left_side_departments_explorers">
              <img src="/images/what_is/departments/Logo_explorers-1024x1001.png" alt="Σήμα Κλάδου Ανιχνευτών" width="100%" height="100%">
            </span>
            <span class="right_side right_side_departments_explorers">
              <h3>Κοινότητα Ανιχνευτών (Παιδιά 15-18 ετών)</h3>
              <p>Ανιχνευτές μπορούν να γίνουν και έφηβοι 15-18 ετών, που δεν υπήρξαν Πρόσκοποι. Έφηβος, που για πρώτη φορά έρχεται στον Προσκοπισμό για να ονομαστεί και να γίνει ενεργό μέλος του ΣΕΠ, πρέπει να δώσει την Υπόσχεση του Προσκόπου. Η διαπαιδαγώγηση, που παρέχει ο Προσκοπισμός στον Κλάδο των Λυκόπουλων και στον Κλάδο των Προσκόπων, συμπληρώνεται στον Κλάδο των Ανιχνευτών με την εντατική ανίχνευση του φυσικού περιβάλλοντος και της κοινωνικής ζωής, καθώς και την προσφορά υπηρεσίας στο Κοινωνικό σύνολο, με στόχο την ανάπτυξη των ηθικών, πνευματικών, φυσικών και κοινωνικών ικανοτήτων των Ανιχνευτών, ώστε να βοηθηθούν να διαμορφώσουν την προσωπικότητα τους και να γίνουν υπεύθυνοι ‘Έλληνες πολίτες χρήσιμοι την Πατρίδα και το Κοινωνικό σύνολο.</p>
            </span>
          </div>
          <div class="two_side_stripe two_side_stripe_departments_network">
            <span class="left_side left_side_departments_network">
              <h3>Προσκοπικό Δίκτυο (Ενήλικες 18-26 ετών)</h3>
              <p>Ο σκοπός του Π.Δ. είναι να ενισχύσει το πνευματικό, ηθικό, επαγγελματικό και κοινωνικό υπόβαθρο των νέων ηλικίας 18-26 ετών, σε σχέση με τα θέματα που αντιμετωπίζουν στη ζωή τους, ώστε να γίνουν ακόμη πιο χρήσιμοι και υπεύθυνοι πολίτες και να διαδραματίσουν έναν εποικοδομητικό ρόλο στην κοινωνία. Σε αυτό ανταποκρίνεται το έργο της Προσκοπικής Μεθόδου έτσι που το Π.Δ. να ικανοποιεί τις ανάγκες των νέων που αφορούν τις ανθρώπινες σχέσεις, την επιτυχή τους ένταξη στο ευρύτερο κοινωνικό και επαγγελματικό περιβάλλον, την υποστήριξη στις ανησυχίες τους, παρέχοντας διέξοδο στους προβληματισμούς τους και γενικότερα συμβάλλοντας στην ανάπτυξη της προσωπικότητάς τους.</p>
            </span>
            <span class="right_side right_side_departments_network">
              <img src="/images/what_is/departments/Logo_network_c3e2ec4bbd.png" alt="Σήμα Προσκοπικού Δικτύου" width="100%" height="100%">
            </span>
          </div>
      </article>
    </div>