<div class="page-image">
  <img src="/images/uniform/handkerchief.jpg" alt="εικόνα με προσκοπικό μαντήλι" style="border-bottom: 7px solid rgb(61, 61, 61);">
</div>
<h2 class="title_page">Προσκοπικά Τμήματα</h2>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-8 order-1 order-md-2">
      <article class="departments_article">
        <p>
          Το προσκοπικό πρόγραμμα προσαρμόζεται στα χαρακτηριστικά της ηλικιακής ομάδας στην οποία απευθύνεται και αξιοποιεί τις παιδαγωγικές ευκαιρίες που προσφέρει κάθε ηλικία. Ένα Σύστημα αποτελείται από 4 τμήματα. Την Αγέλη Λυκόπουλων, την Ομάδα Προσκόπων, την Κοινότητα Ανιχνευτών και το Προσκοπικό Δίκτυο. Δείτε παρακάτω μία συνοπτική περιγραφή του κάθε τμήματος και τις ηλικίες στις οποίες απευθύνεται.</p>
      </article>
    </div>