<input type="hidden" name="page" value="what_is_departments" class="page_name">
<div class="page-image">
  <img src="/images/what_is/departments/departments.jpg" alt="εικόνα με σύμβολο προσκοπισμού"
    style="border-bottom: 7px solid rgb(61, 61, 61);">
</div>
<h2 class="title_page">Προσκοπικά Τμήματα</h2>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-9 order-1 order-md-2 second_column">
      <article class="departments_article">
        <p>
          Το προσκοπικό πρόγραμμα προσαρμόζεται στα χαρακτηριστικά της ηλικιακής ομάδας στην οποία απευθύνεται και
          αξιοποιεί τις παιδαγωγικές ευκαιρίες που προσφέρει κάθε ηλικία. Ένα Σύστημα αποτελείται από 4 τμήματα. Την
          Αγέλη Λυκόπουλων, την Ομάδα Προσκόπων, την Κοινότητα Ανιχνευτών και το Προσκοπικό Δίκτυο. Δείτε παρακάτω μία
          συνοπτική περιγραφή του κάθε τμήματος και τις ηλικίες στις οποίες απευθύνεται.</p>
        <div class="row bg-warning py-3 mx-2 text-center align-items-center text-dark departments_article">
          <div class="col-md-6 order-md-2"> <img src="/images/what_is/departments/klados-likopoulon-final.png"
              alt="Σήμα Κλάδου Λυκοπούλων" width="100%" height="100%">
          </div>
          <div class="col-md-6 order-md-1">
            <h3>Αγέλη Λυκοπούλων (Παιδιά 7-11 ετών)</h3>
            <p>Η διαδρομή του προσκόπου μέσα στα μονοπάτια της προσκοπικής ζωής ξεκινά από την Αγέλη λυκοπούλων. Η αγέλη
              αποτελείται από παιδιά ηλικίας 7-11 ετών , τα λυκόπουλα , που μέσα από το παιχνίδι αναπτύσσουν τη φαντασία
              και τις ικανότητές τους. Το όνομα του τμήματος εμπνέεται από τις περιπέτειες του Μόγλη, και το γνωστό
              μυθιστόρημα του Κίπλινγκ, "Το βιβλίο της ζούγκλας". Η Αγέλη του 8ου Συστήματος Αεροπροσκόπων Χίου
              συγκεντρώνεται κάθε Σάββατο, και ώρα 15:45-17:30 στη λέσχη μας. Αρχηγός της Αγέλης είναι <strong>η Ρίκα
                Φαράκλα</strong>.</p>
          </div>
        </div>
        <div class="row bg-success py-3 mx-2 text-center align-items-center text-dark departments_article">
          <div class="col-md-6 "> <img src="/images/what_is/departments/Logo_scouts-1024x1009.png"
              alt="Σήμα Κλάδου Προσκόπων" width="100%" height="100%">
          </div>
          <div class="col-md-6">
            <h3>Ομάδα Προσκόπων (Παιδιά 11-14 ετών)</h3>
            <p>Στην ομάδα , οι πρόσκοποι κοινωνικοποιούνται, διευρύνουν τις ατομικές τους κλίσεις και αποκτούν χρήσιμες
              γνώσεις μέσα από το παιχνίδι, την περιπέτεια και τις δραστηριότητες στην ύπαιθρο. Οι Πρόσκοποι δημιουργούν
              μικρές παρέες, τις ενωμοτίες, μέσα στις οποίες έχουν την ευκαιρία να αναπτύξουν τις ικανοτητές τους
              λειτουργώντας στα πλαίσια της ομάδας. Η Ομάδα του 8ου Συστήματος Αεροπροσκόπων Χίου συγκεντρώνεται κάθε
              Σάββατο, και ώρα 17:30-19:30 στη λέσχη μας. Αρχηγός της Ομάδας είναι <strong>ο Μιχάλης Ξενάκης</strong>.
            </p>
          </div>
        </div>
        <div class="row bg-danger py-3 mx-2 text-center align-items-center text-dark departments_article">
          <div class="col-md-6 order-md-2"> <img src="/images/what_is/departments/Logo_explorers-1024x1001.png"
              alt="Σήμα Κλάδου Ανιχνευτών" width="100%" height="100%">

          </div>
          <div class="col-md-6 order-md-1">
            <h3>Κοινότητα Ανιχνευτών (Παιδιά 15-18 ετών)</h3>
            <p>Ο σκοπός του Π.Δ. είναι να ενισχύσει το πνευματικό, ηθικό, επαγγελματικό και κοινωνικό υπόβαθρο των νέων
              ηλικίας 18-26 ετών, σε σχέση με τα θέματα που αντιμετωπίζουν στη ζωή τους, ώστε να γίνουν ακόμη πιο
              χρήσιμοι και υπεύθυνοι πολίτες και να διαδραματίσουν έναν εποικοδομητικό ρόλο στην κοινωνία. Σε αυτό
              ανταποκρίνεται το έργο της Προσκοπικής Μεθόδου έτσι που το Π.Δ. να ικανοποιεί τις ανάγκες των νέων που
              αφορούν τις ανθρώπινες σχέσεις, την επιτυχή τους ένταξη στο ευρύτερο κοινωνικό και επαγγελματικό
              περιβάλλον, την υποστήριξη στις ανησυχίες τους, παρέχοντας διέξοδο στους προβληματισμούς τους και
              γενικότερα συμβάλλοντας στην ανάπτυξη της προσωπικότητάς τους.
            </p>
          </div>
        </div>
        <div
          class="row bg-primary py-3 mx-2 text-center align-items-center text-dark overflow-auto departments_article">
          <div class="col-md-6"> <img src="/images/what_is/departments/Logo_network_c3e2ec4bbd.png"
              alt="Σήμα Προσκοπικού Δικτύου" width="100%" height="100%">
          </div>
          <div class="col-md-6">
            <h3>Προσκοπικό Δίκτυο (Ενήλικες 18-26 ετών)</h3>
            <p>Ο σκοπός του Π.Δ. είναι να ενισχύσει το πνευματικό, ηθικό, επαγγελματικό και κοινωνικό υπόβαθρο των νέων
              ηλικίας 18-26 ετών, σε σχέση με τα θέματα που αντιμετωπίζουν στη ζωή τους, ώστε να γίνουν ακόμη πιο
              χρήσιμοι και υπεύθυνοι πολίτες και να διαδραματίσουν έναν εποικοδομητικό ρόλο στην κοινωνία. Σε αυτό
              ανταποκρίνεται το έργο της Προσκοπικής Μεθόδου έτσι που το Π.Δ. να ικανοποιεί τις ανάγκες των νέων που
              αφορούν τις ανθρώπινες σχέσεις, την επιτυχή τους ένταξη στο ευρύτερο κοινωνικό και επαγγελματικό
              περιβάλλον, την υποστήριξη στις ανησυχίες τους, παρέχοντας διέξοδο στους προβληματισμούς τους και
              γενικότερα συμβάλλοντας στην ανάπτυξη της προσωπικότητάς τους.
            </p>
          </div>
        </div>
      </article>
    </div>