<input type="hidden" name="page" value="what_is_eks" class="page_name">
<div class="page-image">
  <img src="/images/uniform/handkerchief.jpg" alt="εικόνα με προσκοπικό μαντήλι" style="border-bottom: 7px solid rgb(61, 61, 61);">
</div>
<h2 class="title_page">ΕΚΣ</h2>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-8 order-1 order-md-2">
      <article>
        <p>
          Η Επιτροπή Κοινωνικής Συμπαράστασης (Ε.Κ.Σ.) αποτελεί απαραίτητη προϋπόθεση για την καλή λειτουργία του Συστήματος, καθώς και για την ανάπτυξη και ευρύτερη προβολή και υποστήριξη του Προσκοπικού Έργου. Σκοπός της είναι η ηθική και υλική ενίσχυση του Συστήματος.
        </p>
        <h4>Ειδικότερα:</h4>
        <ol>
          <li>Κινεί το ενεργό ενδιαφέρον για τον Προσκοπισμό στην περιοχή μας και πάντοτε μέσα στα πλαίσια της αρμοδιότητάς τους.</li>
          <li>Εξευρίσκει οικονομικούς πόρους, υλικά και χώρους για τη λειτουργία του Συστήματος και με κάθε τρόπο ενισχύει το προσκοπικό έργο.</li>
          <li>Βοηθά τον Αρχηγό Συστήματος στην εξεύρεση ενήλικων στελεχών, καθώς και άλλων προσώπων, κατάλληλων για τη μετάδοση ειδικών γνώσεων και ικανοτήτων στα μέλη των Τμημάτων του Συστήματος.</li>
          <li>Οργανώνει εκδηλώσεις (όπως συναντήσεις, ομιλίες, χορούς, bazaar και άλλα) γενικότερου κοινωνικού ενδιαφέροντος με ειδικούς ομιλητές, ανάλογα με το θέμα και πάντοτε στα πλαίσια του Προσκοπικού Προγράμματος του Συστήματος.</li>
          <li>Συμβάλλει ενεργά στη δημιουργία, διατήρηση και προαγωγή κλίματος συνεργασίας με όλους τους Βαθμοφόρους του Συστήματος, καθώς οι Βαθμοφόροι και τα μέλη της Ε.Κ.Σ. αποτελούν Μέλη της ίδιας Προσκοπικής Οικογένειας.</li>
        </ol>
        <p>Αποτελείται από 5-15 άτομα, που μπορεί να είναι γονείς ή κηδεμόνες μελών των Προσκοπικών τμημάτων, παλαιοί Πρόσκοποι ή φίλοι του Προσκοπισμού, αρκεί να έχουν συμπληρώσει το 18ο έτος της ηλικίας τους και να έχουν λευκό ποινικό μητρώο. Η θητεία των μελών της Ε.Κ.Σ. είναι διετής. Οι αρμοδιότητες και τα καθήκοντα τους ορίζονται από το σχετικό Κανονισμό Λειτουργίας των Ε.Κ.Σ. του Σώματος Ελλήνων Προσκόπων. Εκλέγονται ως εξής: Πρόεδρος, Αντιπρόεδρος, Γραμματέας, Ταμίας, Υπεύθυνος Υλικού, Μέλοι.
        </p>
        <p>Πρόεδρος της Ε.Κ.Σ. του 8ου Συστήματος Αεροπροσκόπων Χίου είναι ______________.</p>
      </article>
    </div>