<div class="page-image">
  <img
    src="/images/what_is/scouting/compass-1621264-1919x1275.jpg"
    alt="εικόνα με πυξίδα και χάρτι"
    style="border-bottom: 7px solid rgb(61, 61, 61)"
  />
</div>
<h2 class="title_page">Τι είναι Προσκοπισμός;</h2>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-8 order-1 order-md-2">
      <h3>Προσκοπισμός</h3>
      <article style="border-bottom: 2px gray solid">
        <p>
          Ο Προσκοπισμός είναι
          <strong>μια εθελοντική, μη κομματική παιδαγωγική κίνηση,</strong> για
          νέους ανθρώπους, ανοικτή σε όλους,
          <strong>χωρίς διάκριση καταγωγής, φυλής ή πίστης,</strong> σύμφωνα με
          το Σκοπό, τις Αρχές και τη Μέθοδο που καθόρισε ο Ιδρυτής του Lord
          Robert Stephenson Smyth Baden Powell.
        </p>
        <img
          src="/images/what_is/scouting/badenpowell-295x300.jpg"
          alt="Baden Powel picture"
          style="float: right; margin-left: 10px"
          title="Lord Robert Stephenson Smyth Baden Powell"
        />
        <p>
          Αποστολή του Προσκοπισμού είναι να συμβάλλει
          <strong> στην εκπαίδευση των νέων,</strong> μέσω ενός συστήματος αξιών
          βασισμένου στην Προσκοπική Υπόσχεση και το Νόμο, να βοηθήσει στην
          οικοδόμηση ενός καλύτερου κόσμου, όπου οι άνθρωποι ολοκληρώνονται σαν
          άτομα και διαδραματίζουν έναν εποικοδομητικό ρόλο στην κοινωνία.
        </p>
        <p>
          Για να επιτευχθεί αυτό ο Προσκοπισμός έχει ως βάση την εμπλοκή ατόμων,
          την χρήση συγκεκριμένης μεθόδου, όπου καθένας είναι ο βασικός
          υπεύθυνος για την ανάπτυξη του
          <strong> σε άτομο αυτοδύναμο</strong> και την βοήθεια στα άτομα να
          διαμορφώνουν ένα σύστημα αξιών βασισμένο στις πνευματικές, κοινωνικές
          και ατομικές αρχές όπως αυτές εκφράζονται στην Υπόσχεση και στο Νόμο.
        </p>
        <p>
          Μέσα στο αυτό το πλαίσιο η Προσκοπική Κίνηση καλείται να αντιμετωπίσει
          ορισμένες προσκλήσεις στην σημερινή κοινωνία. Ο Προσκοπισμός πρέπει να
          ανταποκρίνεται στις ανάγκες και προσδοκίες των νέων και να απευθύνεται
          όλο και σε περισσότερους νέες και νέους. Θα πρέπει επίσης να τονίζεται
          η συμβολή του στην διαπαιδαγώγηση των νέων, χρησιμοποιώντας και τις
          σχέσεις με άλλους φορείς και οργανισμούς. Όλα τα παραπάνω όμως, δεν
          πρέπει να παρεκκλίνουν από την παγκόσμια ενότητα της Κίνησης αλλά και
          τα υπόλοιπα επίπεδα, τοπικά και εθνικά.
        </p>
      </article>
      <h3>Η Υπόσχεση και ο Νόμος του Προσκόπου</h3>
      <article>
        <blockquote>
          <p style="margin-left: 35px">
            Υπόσχομαι στην τιμή μου<br />
            να εκτελώ το καθήκον μου προς τον Θεό και την Πατρίδα<br />
            να βοηθώ κάθε άνθρωπο και σε κάθε περίσταση<br />
            και να τηρώ το νόμο του Προσκόπου.
            <span class="quote_after">”</span>
          </p>
        </blockquote>
        <p>
          Η Υπόσχεση του Προσκόπου αποτελεί θεμελιώδη διαδικασία της Ομάδας
          Προσκόπων καθώς το παιδί γίνεται μέλος της Παγκόσμιας Προσκοπικής
          Αδελφότητας.
        </p>
        <br />
        <p>Τα 10 άρθρα του Νόμου του Προσκόπου:</p>
        <br />
        <blockquote>
          <ol style="margin-left: 25px">
            <li>Ο Πρόσκοπος λέει την αλήθεια και κρατά το λόγο του.</li>
            <img
              src="/images/what_is/scouting/yposxesi.jpg"
              alt="Προσκοπικός Χαιρετισμός"
              style="float: right"
              title="Προσκοπικός Χαιρετισμός"
            />
            <li>
              Ο Πρόσκοπος είναι δίκαιος, άξιος να τον εμπιστεύονται, ξέρει να
              πειθαρχεί και να τηρεί τους Νόμους.
            </li>
            <li>
              Ο Πρόσκοπος είναι χρήσιμος στην οικογένειά του και την κοινωνία.
            </li>
            <li>
              Ο Πρόσκοπος είναι φίλος κι ευγενής προς όλους κι αδελφός με κάθε
              Πρόσκοπο.
            </li>
            <li>
              Ο Πρόσκοπος σέβεται τον εαυτό του και τους άλλους, προσέχει τα
              λόγια και τις πράξεις του.
            </li>
            <li>Ο Πρόσκοπος αγαπά την φύση και προστατεύει το περιβάλλον.</li>
            <li>Ο Πρόσκοπος είναι εύθυμος και αισιόδοξος.</li>
            <li>
              Ο Πρόσκοπος είναι οικονόμος και φροντίζει για την καλή χρήση του
              χρόνου.
            </li>
            <li>
              Ο Πρόσκοπος είναι εργατικός και προοδεύει με τις ικανότητές του.
            </li>
            <li>
              Ο Πρόσκοπος είναι αποφασιστικός, έχει θάρρος και αυτοπεποίθηση και
              αναλαμβάνει την ευθύνη των πράξεών του.
              <span class="quote_after">”</span>
            </li>
          </ol>
        </blockquote>
        <br />
        <p>
          Ο Προσκοπισμός βασίζεται στην Υπόσχεση και τον Νόμο του που αποτελούν
          τόσο τη βάση του κώδικα συμπεριφοράς που διέπει την Κίνηση σαν σύνολο,
          όσο και έναν προσωπικό τρόπο ζωής στον οποίο κάθε μέλος μένει πιστό.
          Αυτές οι αρχές είναι σχετικές με την ενεργή και δημιουργική δέσμευση
          του ατόμου σε πνευματικές αξίες της ζωής, στην κοινωνία και τον εαυτό
          του.
        </p>
      </article>
    </div>