.calendar_date_row {
  height: 200px;
}

table {
  table-layout: fixed;
}

.date_number {
  float: right;
  height: 35px;
  width: 35px;
  background-color: brown;
  color: white;
  border-radius: 50%;
  text-align: center;
  padding-top: 5px;
}

.date_number_left{
  height: 30px;
  width: 30px;
  padding-top: 2px;
  float: left;
}

.date_small, .calendar_small_event{
  height: 130px;
  width: 100%;
}

.calendar_table_september_2021_small thead{
  height: 20px;
  width: 100%;
}
.calendar_month_header {
  text-align: center;
  color: green;
}

.previous_after_month {
  background-color: antiquewhite;
}

.previous_after_month_number {
  background-color: burlywood;
}

.event {
  clear: both;
  display: block;
  font-size: 13px;
  border-radius: 4px;
  padding: 5px;
  margin-top: 0;
  margin-bottom: 5px;
  line-height: 14px;
  background: #e4f2f2;
  border: 1px solid #b5dbdc;
  text-decoration: none;
}

.event_cubs {
  background: #FFC107;
}

.event_scouts {
  background: #198754;
}
.event_ranked{
  background: #ca4040;
  color: white;
}

.event_ranked a{
  color: white;
}

.event_desc {
  margin: 3px 0 7px 0;
  text-decoration: none;
  text-align: center;
}

.date_small{
  width: 100px;
}

.calendar_table_small{
  display: none;
}

@media only screen and (max-width:1040px) {
  .calendar_table_small {
    display: block;
    width: 100%;
    table-layout: auto;
  }

  .calendar_table_full {
    display: none;
  }
}
