.cubs_article{
  padding: 20px;
  text-align: left;
}

.circle_box_article_cubs{
  background-color: rgb(190, 205, 50);
  color: white;
}
.hr_articles_cubs{
  border-top: blue solid 5px;
}

.comment_section_cubs{
  border: 5px solid rgb(190, 205, 50);
}

.comment_section_cubs_comment{
  border-bottom: 5px dotted rgb(190, 205, 50);
}

.galleryBackground {
  border: 5px double rgb(190, 205, 50);
  border-radius: 10px;
  padding: 30px;
  text-align: center;
}


.gallery {
  transition: transform 1s;
  margin: 10px;
  display: inline-block;
  background-color: rgb(190, 205, 50);
  border: 2px solid rgb(19, 16, 223);
  width: 45%;
}

.gallery:hover {
  transform: scale(1.4);
  border: 2px solid rgb(255, 0, 0);
}

.gallery img {
  width: 100%;
  max-height: 400px;
}

.desc {
  margin: auto;
  padding: 5px;
  text-align: center;
  font-size: 15px;
  word-wrap: break-word;
  color: black;
}

.grid_container_two_column_article_cubs{
  background-color: rgb(189, 189, 14);
}