.page-image img{
  width: 100%;
}

.two_side_colour_stripe_home{
  width: 100%;
  text-align: center;
  margin-bottom: 0px;
  margin-top: 25px;
}

.two_side_colour_stripe_home .right_side_home{
  width: 50%;
  padding-top: 10px;
  padding-bottom: 10px;
  float: left;
  background-color: rgb(0, 60, 255);
  color: white;
}

.two_side_colour_stripe_home .left_side_home{
  width: 50%;
  float: left;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
  background-color: brown;
}

.two_side_colour_stripe_home a{
  text-decoration: none;
  color: white;
}
.two_side_colour_stripe_home a:hover{
  color: yellow;
}
.whole_color_stripe_home{
  width: 100%;
  margin-top: 0px;
  padding-top: 105px;
  padding-bottom: 10px;
  color: white;
  text-align: center;
  background-color: yellowgreen;
}

.whole_color_stripe_home a{
  text-decoration: none;
  color: white;
}
.whole_color_stripe_home a:hover{
  color: yellow;
}

#home_cluster_2{
  display: none;
}

#home_cluster_3{
  display: none;
}