.contact_article{
  padding-top: 25px;
}

.left_side_contact{
  float: left;
  width: 35%;
}

.right_side_contact{
  float: right;
  width: 65%;
}

#contact_feedback > *{
  display: block;
}

@media only screen and (max-width:1050px) {
  .right_side_contact > * {
    font-size: 11px;
  }

  .left_side_contact > * {
    font-size: 11px;
  }
}
