<div class="page-image">
  <img src="/images/uniform/handkerchief.jpg" alt="εικόνα με προσκοπικό μαντήλι"
    style="border-bottom: 7px solid rgb(61, 61, 61);">
</div>
<h2 class="title_page">Lorem ipsum dolor sit.</h2>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-8 order-1 order-md-2">
      <article class="cubs_article">
        <img src="https://via.placeholder.com/1000x400" alt="placeholder" width="100%">
        <h1>Lorem, ipsum dolor.</h1><br>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nam labore omnis debitis perferendis odit ducimus
          temporibus similique obcaecati impedit ut, nihil iste molestias eligendi. Debitis voluptas et eos cupiditate
          nostrum!</p>
        <h2>Lorem, ipsum dolor.</h2>
        <p><strong>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci ad modi, nesciunt minus accusantium
            sit aut? Praesentium, unde laboriosam provident nostrum nobis numquam ex tempora repellat excepturi nihil!
            Rem error, tenetur eaque hic doloremque eum commodi a alias asperiores nobis?</strong></p>
        <ul>
          <li>Lorem ipsum dolor sit amet.</li>
          <li>consectetur adipiscing elit</li>
        </ul>
        <h3>Lorem, ipsum dolor.</h3>
        <ol>
          <li>Lorem ipsum dolor sit amet consectetur adipisicing.</li>
          <li>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ullam!</li>
        </ol>
        <h4>Lorem, ipsum dolor.</h4><br>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae, suscipit reprehenderit? Eligendi sint
          soluta voluptatum alias deserunt aperiam eius sit vitae quidem quas fugit esse earum iusto expedita numquam,
          quis rerum cumque optio, temporibus nostrum non? Dolore dolorem sit laudantium!</p>
        <hr class="hr_articles_cubs" />
        <div class="circle_box circle_box_article_cubs">Gallery</div>
        <div class="galleryBackground">
          <div class="gallery">
            <a target="_blank" href="https://via.placeholder.com/400x400">
              <img src="https://via.placeholder.com/400x400" alt="PCem Motherboard" />
            </a>
            <div class="desc">
              Σύντωμη περιγραφή μιας εικόνας<br />Πατήστε πάνω για
              πλήρη εικόνα
            </div>
          </div>
          <div class="gallery">
            <a target="_blank" href="https://via.placeholder.com/400x400">
              <img src="https://via.placeholder.com/400x400" alt="PCem Motherboard" />
            </a>
            <div class="desc">
              Σύντωμη περιγραφή μιας εικόνας<br />Πατήστε πάνω για
              πλήρη εικόνα
            </div>
          </div>
          <div class="gallery">
            <a target="_blank" href="https://via.placeholder.com/400x400">
              <img src="https://via.placeholder.com/400x400" alt="PCem Motherboard" />
            </a>
            <div class="desc">
              Σύντωμη περιγραφή μιας εικόνας<br />Πατήστε πάνω για
              πλήρη εικόνα
            </div>
          </div>
          <div class="gallery">
            <a target="_blank" href="https://via.placeholder.com/400x400">
              <img src="https://via.placeholder.com/400x400" alt="PCem Motherboard" />
            </a>
            <div class="desc">
              Σύντωμη περιγραφή μιας εικόνας<br />Πατήστε πάνω για
              πλήρη εικόνα
            </div>
          </div>

        </div>
        <h3>Αφήστε ένα σχόλειο:</h3>
        <form action="habet_comment_post" method="post">
          <label for="username">Ονοματεπώνημο σας:</label><br>
          <input type="text" name="username" id="username_textbox" style="width: 100%;"
            placeholder="Βάλτε το ονοματεπώνημο σας εδώ" required><br>
          <label for="comment">Εισάγετε το σχόλιο σας εδώ:</label><br>
          <textarea name="comment" id="comment_textbox" cols="102" rows="10" maxlength="1000"
            placeholder="Μέγιστο 1000 χαρακτήρες" style="white-space: pre-wrap;" required></textarea><br>
          <input type="submit" value="Καταχώρηση">
        </form>
        <h3>Πεδίο Σχολείων:</h3>
        <div class="comment_section_cubs">
          <% for (let i = 0; i < comments.length; i++) { %>
          <div class="comment_section_cubs_comment">
            <p>Ο/Η <%=comments[i].username%> έκανε το εξής σχόλιο:</p>
            <p><%=comments[i].comment_text%></p>
          </div>
          <%}%>
        <%=message%>
        </div>
      </article>
    </div>