<div class="page-image">
  <img src="/images/uniform/handkerchief.jpg" alt="εικόνα με προσκοπικό μαντήλι"
    style="border-bottom: 7px solid rgb(61, 61, 61);">
</div>
<h2 class="title_page">Δράσεις Αγέλης</h2><br>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-8 order-1 order-md-2">
      <article>
        <h5>Επιλέξτε μια προσκοπική χρονία και έναν μήνα από τις κάτω λίστες.</h5>
        <input type="hidden" name="page" value="articles_cubs_home">
        <label for="articles_cubs_year">Προσκοπική Χρονία:
          <select name="articles_cubs_year" id="articles_cubs_year">
            <option value="nothing_year"></option>
            <option value="2020-2021">2020-2021</option>
            <option value="2021-2022">2021-2022</option>
          </select>
        </label>
        <label for="articles_cubs_month">Μήνας:
          <select name="articles_cubs_month" id="articles_cubs_month">
            <option value="nothing_month"></option>
            <option value="september">Σεπτέμβριος</option>
            <option value="octomber">Οκτώμβριος</option>
            <option value="november">Νοέμβριος</option>
            <option value="december">Δεκέμβριος</option>
            <option value="january">Ιανουάριος</option>
            <option value="february">Φεβρουάριος</option>
            <option value="march">Μάρτιος</option>
            <option value="april">Απρίλιος</option>
            <option value="may">Μάϊος</option>
            <option value="june">Ιούνιος</option>
          </select>
        </label>
        <div id="articles_cubs_2021_2022_september">
          <div class="grid_container_two_column_article grid_container_two_column_article_cubs">
            <div class="grid_item_two_column_article grid_item_two_column_article_cubs">
              <img src="https://via.placeholder.com/400x400" alt="placeholder image" loading="lazy" width="100%">
              <div class="text_below_image">
                <a href="#">
                  <h3>Lorem ipsum dolor sit amet consectetur adipisicing.</h3>
                </a>
                <h5><i class="far fa-calendar-alt"></i> XX/XX/XXXX</h5>
              </div>
            </div>
            <div class="grid_item_two_column_article grid_item_two_column_article_cubs">
              <img src="https://via.placeholder.com/400x400" alt="placeholder image" loading="lazy" width="100%">
              <div class="text_below_image">
                <a href="#">
                  <h3>Qui habet et pugnat longissimum patientia vincit.</h3>
                </a>
                <h5><i class="far fa-calendar-alt"></i> XX/XX/XXXX</h5>
              </div>
            </div>
            <div class="grid_item_two_column_article grid_item_two_column_article_cubs">
              <img src="https://via.placeholder.com/400x400" alt="placeholder image" loading="lazy" width="100%">
              <div class="text_below_image">
                <a href="#">
                  <h3>Qui habet et pugnat longissimum patientia vincit.</h3>
                </a>
                <h5><i class="far fa-calendar-alt"></i> XX/XX/XXXX</h5>
              </div>
            </div>
            <div class="grid_item_two_column_article grid_item_two_column_article_cubs">
              <img src="https://via.placeholder.com/400x400" alt="placeholder image" loading="lazy" width="100%">
              <div class="text_below_image">
                <a href="#">
                  <h3>Qui habet et pugnat longissimum patientia vincit.</h3>
                </a>
                <h5><i class="far fa-calendar-alt"></i> XX/XX/XXXX</h5>
              </div>
            </div>
            <div class="grid_item_two_column_article grid_item_two_column_article_cubs">
              <img src="https://via.placeholder.com/400x400" alt="placeholder image" loading="lazy" width="100%">
              <div class="text_below_image">
                <a href="#">
                  <h3>Lorem ipsum dolor sit amet consectetur adipisicing.</h3>
                </a>
                <h5><i class="far fa-calendar-alt"></i> XX/XX/XXXX</h5>
                <h5><a href="#">#Αγέλη</a></h5>
              </div>
            </div>
            <div class="grid_item_two_column_article grid_item_two_column_article_cubs">
              <img src="https://via.placeholder.com/400x400" alt="placeholder image" loading="lazy" width="100%">
              <div class="text_below_image">
                <a href="#">
                  <h3>Qui habet et pugnat longissimum patientia vincit.</h3>
                </a>
                <h5><i class="far fa-calendar-alt"></i> XX/XX/XXXX</h5>
              </div>
            </div>
            <div class="grid_item_two_column_article grid_item_two_column_article_cubs">
              <img src="https://via.placeholder.com/400x400" alt="placeholder image" loading="lazy" width="100%">
              <div class="text_below_image">
                <a href="#">
                  <h3>Qui habet et pugnat longissimum patientia vincit.</h3>
                </a>
                <h5><i class="far fa-calendar-alt"></i> XX/XX/XXXX</h5>
              </div>
            </div>
            <div class="grid_item_two_column_article grid_item_two_column_article_cubs">
              <img src="https://via.placeholder.com/400x400" alt="placeholder image" loading="lazy" width="100%">
              <div class="text_below_image">
                <a href="#">
                  <h3>Qui habet et pugnat longissimum patientia vincit.</h3>
                </a>
                <h5><i class="far fa-calendar-alt"></i> XX/XX/XXXX</h5>
              </div>
            </div>
            <div class="grid_item_two_column_article grid_item_two_column_article_cubs">
              <img src="https://via.placeholder.com/400x400" alt="placeholder image" loading="lazy" width="100%">
              <div class="text_below_image">
                <a href="#">
                  <h3>Lorem ipsum dolor sit amet consectetur adipisicing.</h3>
                </a>
                <h5><i class="far fa-calendar-alt"></i> XX/XX/XXXX</h5>
              </div>
            </div>
            <div class="grid_item_two_column_article grid_item_two_column_article_cubs">
              <img src="https://via.placeholder.com/400x400" alt="placeholder image" loading="lazy" width="100%">
              <div class="text_below_image">
                <a href="#">
                  <h3>Qui habet et pugnat longissimum patientia vincit.</h3>
                </a>
                <h5><i class="far fa-calendar-alt"></i> XX/XX/XXXX</h5>
              </div>
            </div>
          </div>
        </div>
      </article>
    </div>