<input type="hidden" name="page" value="articles_cubs_opening_day_11-09-2021" class="page_name">
<div class="page-image">
  <img src="/images/uniform/handkerchief.jpg" alt="εικόνα με προσκοπικό μαντήλι"
    style="border-bottom: 7px solid rgb(61, 61, 61);">
</div>
<h2 class="title_page">Έναρξη Προσκοπικής Χρονιάς</h2>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-9 order-1 order-md-2 second_column">
      <article class="scout_group_article">
        <img src="/images/articles/cubs/2021-2022/opening_day_11-09-2021/1.jpg" alt="placeholder" width="100%">
        <h2>Τα λυκόπουλα επιστρέφουν σπίτι τους</h2><br>
        <p>Η μέρα 11 Σεπτεμβρίου και ώρα 16:00, η Εστία μετά από καιρό γεμίζει ξανά από ζωντάνια. Τα Λυκόπουλα
          καινούργια και παλιά ήρθαν γεμάτα όρεξη και ανυπομονησία για να ξανά δουν τους φίλους και να αναπληρώσουν το
          χαμένο χρόνο. Έτσι με χαρά σας ανακοινώνουμε ότι ξεκινήσαμε τις δράσεις μας για την φετινή σεζόν.</p>
        <p>Λόγο των πρωτοφανών συνθηκών που βιώνουμε όλοι μας ως προς την δημόσια υγεία είμαστε αναγκασμένοι να λάβουμε
          κάποιες προφυλάξεις και να προσαρμόσουμε το πρόγραμμα μας ώστε να προφυλαχθούμε όλοι. Για αυτόν τον λόγο το
          πρόγραμμα μας εκτελέσθηκε σε εξωτερικό χώρο και έτσι τα παιδιά δεν είναι υποχρεωτικό να φοράνε μάσκα.</p>
        <p>Η πρώτη δια ζώσης μετά από αρκετό καιρό ξεκίνησε με την έπαρση της Ελληνικής Σημαίας και λέγοντας τον εθνικό
          ύμνο. Μετέπειτα ξεκίνησαν τα παιχνίδια και τα τραγούδια. Επίσης είχαμε επίσκεψη από 2 μικρά λυκάκια τον Άγη
          και την Έλλη. Στο τέλος έγινε η ανάβαση με 2 λυκόπουλα να ανεβαίνουν στην Ομάδα.</p>
        <hr class="hr_articles_cubs" />
        <div class="circle_box circle_box_article_cubs">Gallery</div>
        <div class="grid_container_two_column_gallery_cubs">
          <div class="grid_item_two_column_gallery_cubs">
            <div class="gallery_cubs">
              <a target="_blank" href="/images/articles/cubs/2021-2022/opening_day_11-09-2021/2.jpg">
                <img src="/images/articles/cubs/2021-2022/opening_day_11-09-2021/2.jpg"
                  alt="Iera_sinaji_ton_agion_tis_xioy_2021" />
              </a>
              <div class="desc_cubs">
                Πατήστε πάνω για
                πλήρη εικόνα
              </div>
            </div>
          </div>
          <div class="grid_item_two_column_gallery_cubs">
            <div class="gallery_cubs">
              <a target="_blank" href="/images/articles/cubs/2021-2022/opening_day_11-09-2021/3.jpg">
                <img src="/images/articles/cubs/2021-2022/opening_day_11-09-2021/3.jpg"
                  alt="Iera_sinaji_ton_agion_tis_xioy_2021" />
              </a>
              <div class="desc_cubs">
                Πατήστε πάνω για
                πλήρη εικόνα
              </div>
            </div>
          </div>
            <div class="grid_item_two_column_gallery_cubs">
              <div class="gallery_cubs">
                <a target="_blank" href="/images/articles/cubs/2021-2022/opening_day_11-09-2021/4.jpg">
                  <img src="/images/articles/cubs/2021-2022/opening_day_11-09-2021/4.jpg"
                    alt="Iera_sinaji_ton_agion_tis_xioy_2021" />
                </a>
                <div class="desc_cubs">
                  Πατήστε πάνω για
                  πλήρη εικόνα
                </div>
              </div>
            </div>
            <div class="grid_item_two_column_gallery_cubs">
              <div class="gallery_cubs">
                <a target="_blank" href="/images/articles/cubs/2021-2022/opening_day_11-09-2021/5.jpg">
                  <img src="/images/articles/cubs/2021-2022/opening_day_11-09-2021/5.jpg"
                    alt="Iera_sinaji_ton_agion_tis_xioy_2021" />
                </a>
                <div class="desc_cubs">
                  Πατήστε πάνω για
                  πλήρη εικόνα
                </div>
              </div>
            </div>
              <div class="grid_item_two_column_gallery_cubs">
                <div class="gallery_cubs">
                  <a target="_blank" href="/images/articles/cubs/2021-2022/opening_day_11-09-2021/6.jpg">
                    <img src="/images/articles/cubs/2021-2022/opening_day_11-09-2021/6.jpg"
                      alt="Iera_sinaji_ton_agion_tis_xioy_2021" />
                  </a>
                  <div class="desc_cubs">
                    Πατήστε πάνω για
                    πλήρη εικόνα
                  </div>
                </div>
              </div>
              <div class="grid_item_two_column_gallery_cubs">
                <div class="gallery_cubs">
                  <a target="_blank" href="/images/articles/cubs/2021-2022/opening_day_11-09-2021/7.jpg">
                    <img src="/images/articles/cubs/2021-2022/opening_day_11-09-2021/7.jpg"
                      alt="Iera_sinaji_ton_agion_tis_xioy_2021" />
                  </a>
                  <div class="desc_cubs">
                    Πατήστε πάνω για
                    πλήρη εικόνα
                  </div>
                </div>
              </div>
              <div class="grid_item_two_column_gallery_cubs">
                <div class="gallery_cubs">
                  <a target="_blank" href="/images/articles/cubs/2021-2022/opening_day_11-09-2021/8.jpg">
                    <img src="/images/articles/cubs/2021-2022/opening_day_11-09-2021/8.jpg"
                      alt="Iera_sinaji_ton_agion_tis_xioy_2021" />
                  </a>
                  <div class="desc_cubs">
                    Πατήστε πάνω για
                    πλήρη εικόνα
                  </div>
                </div>
              </div>
              <div class="grid_item_two_column_gallery_cubs">
                <div class="gallery_cubs">
                  <a target="_blank" href="/images/articles/cubs/2021-2022/opening_day_11-09-2021/1.jpg">
                    <img src="/images/articles/cubs/2021-2022/opening_day_11-09-2021/1.jpg"
                      alt="Iera_sinaji_ton_agion_tis_xioy_2021" />
                  </a>
                  <div class="desc_cubs">
                    Πατήστε πάνω για
                    πλήρη εικόνα
                  </div>
                </div>
              </div>
        </div>
      </article>
    </div>