<input type="hidden" name="page" value="article_announcement_recycle_clothes" class="page_name">
<div class="page-image">
  <img src="/images/scout_group/announcements/used-clothing-3779497_1920.jpg" alt="εικόνα με τζιν"
    style="border-bottom: 7px solid rgb(61, 61, 61);">
</div>
<h2 class="title_page">Τοποθέτηση κάδου ανακύκλωσης ρούχων στο λιμάνι Χίου</h2>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-9 order-1 order-md-2 second_column">
      <article>
        <img src="/images/articles/announcements/recycling_clothes/anakyklosi_royhon.jpg"
          alt="Εικόνα με κάδο ανακύκλωσης ρούχων Recycom" width="100%">
        <hr>
        <h2>Γιατί να ανακυκλώσω τα ρούχα μου;</h2>
        <hr>
        <p>
          Μειώνοντας τον όγκο των σκουπιδιών που καταλήγουν στις χωματερές, εξοικονομούμε πόρους και ενέργεια.
          Συμβάλλουμε στη δημιουργία ενός καθαρότερου και υγιεινότερου περιβάλλοντος. Ως γνωστόν περίπου 10 εκατομμύρια
          τόνοι υφασμάτων σε Αμερική και Ευρώπη καταλήγουν στα σκουπίδια κάθε χρόνο. Κάθε Ευρωπαίος πολίτης αποσύρει από
          τη ντουλάπα του περίπου 15 κιλά ρουχισμού κάθε χρόνο. Περίπου το 85% των ρούχων που παράγονται καταλήγει στις
          χωματερές. Κάθε δευτερόλεπτο, υφάσματα που αντιστοιχούν στο φορτίο ενός απορριμματοφόρου, οδηγούνται στους
          χώρους υγειονομικής ταφής ή καίγονται (!) Δυστυχώς ένα μικρό μόνο μέρος επαναχρησιμοποιείται, είτε για
          φιλανθρωπικούς σκοπούς είτε γίνεται εμπορεύσιμο προϊόν. Επιπλέον, 98 εκατομμύρια τόνοι μη ανανεώσιμων πηγών
          -ανάμεσά τους και το πετρέλαιο- καταναλώνονται κάθε χρόνο για τις ανάγκες της βιομηχανίας ρούχων,
          (υπολογίζεται ότι μέχρι το 2050 θα φτάσουν τους 300 εκατ. τόνους), ενώ ετησίως χρησιμοποιούνται περίπου 93
          δισεκατομμύρια κυβικά μέτρα νερού. </p>
        <p>
          Καθώς ο παγκόσμιος πληθυσμός τείνει να φθάσει τα 10 δισεκατομμύρια, πρέπει να εξελιχθούμε σε μια κοινωνία η
          οποία χρησιμοποιεί τους πόρους αποδοτικότερα – μια κοινωνία που προσπαθεί να βελτιώσει το περιβάλλον και όχι
          να το καταστρέψει. Η καλύτερη επιλογή είναι να πάψουν να παράγονται απόβλητα. Όταν αυτό δεν είναι εφικτό, <<
            πράσινες>> επιλογές είναι η επαναχρησιμοποίηση, η ανακύκλωση και η ανάκτηση. </p>
        <h3>Οφέλη Ανακύκλωσης Ενδυμάτων & Υποδημάτων</h3>
        <ul>
          <li>Μείωση τεραστίου όγκου των σκουπιδιών που καταλήγουν σε Χώρους Υγειονομικής Ταφής (ΧΥΤΑ)</li>
          <li>Εξοικονόμηση πόρων και ενέργειας</li>
          <li>Συμβολή στη δημιουργία ενός καθαρότερου και υγιεινότερου περιβάλλοντος</li>
          <li>Προώθηση της φιλικής προς το περιβάλλον διαχείρισης και της επανάχρησης ανακυκλώσιμων υλικών με την παροχή
            βοήθεια στις κοινωνικά ευπαθείς ομάδες της χώρας διαθέτοντας μέρους των άριστα ποιοτικά ρούχων αλλά και με
            τη διάθεση τροφίμων για την κάλυψη βασικών αναγκών.</li>
          <li>Προστασία, διατήρηση και αποκατάσταση του πρασίνου και των ελεύθερων χώρων των πόλεων, των δασών, των
            παραλιών και γενικά του φυσικού περιβάλλοντος</li>
          <li>Εξοικονόμηση δημοτικών δαπανών για το Δήμο από την αποφυγή ρίψης όλου αυτού του όγκου στους Χώρους
            Υγειονομικής Ταφής (έξοδα ταφής για το Δήμο) και κατ’ επέκταση εξοικονόμηση των Δημοτικών Τελών για τους
            πολίτες του Δήμου.</li>
          <li>Ευαισθητοποίηση των πολιτών για το πρόβλημα των απορριμμάτων στο άμεσο περιβάλλον και γενικότερα στο
            σύγχρονο κόσμο αποτελώντας το, παράδειγμα των μελλοντικών υπεύθυνων και συνειδητοποιημένων πολιτών της
            κοινωνίας</li>
          <li>Προώθηση των αναγκαίων από την Ευρωπαϊκή Ένωση δράσεων ανακύκλωσης</li>
        </ul>
        <hr>
        <h2>Η συνεργασία μας με την Recycom</h2>
        <hr>
        <p>
          Για αυτούς τους λόγους που αναφερθήκαμε πιο πάνω αποφασίσαμε να συνεργαστούμε με την Recycom για να φέρουν το
          κάδο ανακύκλωσης τους στο λιμάνι της Χίου (έξω από το κτίριο του Τελωνείου Χίου). Τα ρούχα που θα βάζετε μέσα
          στον κάδο θα αποστέλλονται στην Recycom για να ανακυκλώνονται με τελικό στόχο την επαναχρησιμοποίηση. Η
          RECYCOM ιδρύθηκε το 2012, είναι η πρώτη Ελληνική επιχείρηση που εφαρμόζει με οργανωμένο, επιστημονικό και
          επαγγελματικό τρόπο ένα σύστημα ολοκληρωμένης διαχείρισης των μεταχειρισμένων ειδών ένδυσης και υπόδησης,
          φιλοδοξώντας να συμβάλλει ενεργά και δραστήρια στη δημιουργία ενός καθαρού, υγιεινού και αειφόρου
          περιβάλλοντος.
        </p>
        <p>
          Με την τοποθέτηση του κάδου κάνουμε πράξη τους Στόχους Βιώσιμης Ανάπτυξης και ιδιαίτερα τους στόχους #7 Φτηνή
          και Καθαρή Ενέργεια, #12 Υπεύθυνη παραγωγή και κατανάλωση, #13 Δράση για το κλίμα και #17 Συνεργασία για τους
          Στόχους, και καλούμε όλους τους κατοίκους της Χίου να δώσουν στα ρούχα τους μια δεύτερη ζωή.
        </p>
        <p>
          <span>
            <img src="/images/17_goals/7_clean_energy.jpg" alt="" height="100" width="100"><img
              src="/images/17_goals/12.jpg" alt="" height="100" width="100"><img src="/images/17_goals/13.jpg" alt=""
              height="100" width="100"><img src="/images/17_goals/17.jpg" alt="" height="100" width="100">
          </span>
        </p>
        <p>
          Τι συμβαίνει όμως στην πράξη με τα συλλεχθέντα είδη (ενδύματα και υποδήματα);
        </p>
        <ol>
          <li>Συλλογή & Μεταφορά από τον κόκκινο κάδο προς την Recycom</li>
          <li>Μετά από μικρή διαλογή, τα καλύτερα ρούχα προσφέρονται δωρεάν σε κοινωνικά ευπαθείς ομάδες στην Ελλάδα σε
            συνεργασία με τις κοινοτικές αρχές, τα κοινωνικά παντοπωλεία ή άλλους οργανισμούς.</li>
          <li>Προσφέρωνται αναγκαία αγαθά στις κοινωνικές δομές (κοινωνικά παντοπωλεία – ανταλλακτήρια – μαγειρεία) των
            Δήμων σε όλη την Ελλάδα. Αυτά μπορεί να είναι τρόφιμα, είδη καθαρισμού – υγιεινής, δωροεπιταγές ή συνδυασμός
            αυτών.</li>
          <li>Προσφέρωνται αναγκαία αγαθά για τον καλλωπισμό των πόλεων.</li>
          <li>Προσφέρεται ρουχισμός ή τρόφιμα για την κάλυψη βασικών αναγκών σε καταστάσεις έκτακτης ανάγκης όπως οι
            φυσικές καταστροφές.
          </li>
        </ol>
        <p>
          Τέλος σε εσάς που ενδιαφέρεστε να ανακυκλώσετε τα ρούχα σας θα σας παρακαλέσουμε να επισκεφθείτε την
          ιστοσελίδα της RECYCOM για το τι συγκεκριμένα πρέπει να ρίξουμε στους κόκκινους κάδους τι δεν πρέπει να
          ρίξουμε και πως να χρησιμοποιήσουμε τον κάδο ανακύκλωσης. Πατήστε το κουμπί κάτω για να μεταφερθείτε στην
          ιστοσελίδα.
        </p>
        <div style="text-align: center; margin-top: 30px;">
          <a href="http://www.recycom.gr/cms/πληροφορίες/?utm_source=facebook&utm_medium=organic&utm_campaign=post#content"
            target="_blank" rel="noopener noreferrer"><button class="btn btn-success btn-lg">ΠΛΗΡΟΦΟΡΙΕΣ ΓΙΑ ΧΡΗΣΗ ΤΟΥ
              ΚΑΔΟΥ RECYCOM</button></a>
        </div>
      </article>
    </div>