<input type="hidden" name="page" value="article_announcement_recycle_clothes" class="page_name">
<div class="page-image">
  <img src="/images/scout_group/announcements/used-clothing-3779497_1920.jpg" alt="εικόνα με τζιν"
    style="border-bottom: 7px solid rgb(61, 61, 61);">
</div>
<h2 class="title_page">Τοποθέτηση κάδου ανακύκλωσης ρούχων στο λιμάνι Χίου</h2>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-9 order-1 order-md-2 second_column">
      <article>
        <img src="/images/articles/announcements/recycling_clothes/anakyklosi_royhon.jpg"
          alt="Εικόνα με κάδο ανακύκλωσης ρούχων Recycom" width="100%">
        <hr>
        <h2>Γιατί να ανακυκλώσω τα ρούχα μου;</h2>
        <hr>
        <p>
          Μειώστε, επαναχρησιμοποιήστε, ανακυκλώστε - όλοι το είχαμε ριζώσει στο κεφάλι μας εδώ και χρόνια. Φροντίζουμε
          να πετάμε το πλαστικό μπουκάλι στον μπλε κάδο, αλλά η επαναχρησιμοποίηση και η ανακύκλωση παίζουν μεγαλύτερο
          ρόλο από ό, τι στη βιομηχανία πλαστικών και χαρτιού. Στην πραγματικότητα, η κλωστοϋφαντουργία είναι εξίσου
          σημαντική για την ανακύκλωση. Οι άνθρωποι ψωνίζουν περισσότερο και αγοράζουν περισσότερα, οπότε η παραγωγή
          ρούχων είναι μεγαλύτερη. Αλλά αυτή η βιομηχανία γρήγορης μόδας και αυτές οι υπεργεμάτες ντουλάπες έχουν
          οδηγήσει σε υπερχείλιση χωματερών.
        </p>
        <p>
          Ίσως το ψήφισμά σας για το νέο έτος ήταν να κάνετε πιο φιλικές προς το περιβάλλον επιλογές ή ίσως γνωρίζετε
          ότι πρέπει να καθαρίσετε την ντουλάπα σας, αλλά δεν είστε σίγουροι τι θα κάνετε με τα ρούχα στη συνέχεια. Πριν
          πετάξετε ανεπιθύμητα ρούχα στα σκουπίδια, σκεφτείτε τις επιπτώσεις της προσθήκης στον ΧΥΤΑ έναντι της
          ανακύκλωσης υφασμάτων. Παρακάτω, θα εμβαθύνουμε σε μερικούς από τους σημαντικότερους λόγους για την ανακύκλωση
          των ρούχων σας. Από την αποφυγή της υγειονομικής ταφής μέχρι τον περιορισμό των ανήθικων επιχειρηματικών
          πρακτικών, η ανακύκλωση υφασμάτων θα πρέπει να είναι εξίσου φυσική με τη ρίψη χαρτιού σε έναν μπλε κάδο.
        </p>
        <h4>Μειώνει τα αέρια του θερμοκηπίου</h4>
        <p>
          Τα ρούχα από οργανικά υλικά (βαμβάκι, λινό) πρέπει να είναι βιοδιασπώμενα. Ωστόσο, όταν οι άνθρωποι πετούν
          ρούχα και καταλήγουν σε χώρους υγειονομικής ταφής, αυτά τα ρούχα στερούνται του οξυγόνου που απαιτείται για τη
          διάσπαση των οργανικών υλικών. Η έλλειψη οξυγόνου οδηγεί σε αποσύνθεση μέσω της αναερόβιας πέψης, πράγμα που
          σημαίνει ότι οι μικροοργανισμοί διασπούν το οργανικό υλικό, παράγοντας υποπροϊόντα όπως το μεθάνιο. Το μεθάνιο
          που παράγεται με συνεχείς και ανεξέλεγκτη διαρροή στην ατμόσφαιρα βλάπτει την ποιότητα του αέρα και τον
          πλανήτη μας.
        </p>
        <h4>Εξοικονομεί χώρο χωματερών</h4>
        <p>
          Όταν δεν πετάμε τα ρούχα μας στα σκουπίδια και δεν καταλήγουν στον ΧΥΤΑ, εξοικονομούμε πολύ χώρο. Οι ΧΥΤΑ
          είναι επιβλαβείς με ποικίλους τρόπους, επηρεάζοντας όχι μόνο το περιβάλλον μας αλλά και τους δημοτικούς
          προϋπολογισμούς και την υγεία ολόκληρων κοινοτήτων. Όπως έδειξαν οι στατιστικές, 11.150 τόνοι υφασμάτων
          χωματερώθηκαν το 2017. Αυτός είναι πάρα πολύς χώρος που θα μπορούσε να χρησιμοποιηθεί για κάτι πολύ πιο
          ευεργετικό για το περιβάλλον. Όταν ανακυκλώνουμε ρούχα και άλλα είδη, παίζουμε έναν ρόλο στη μείωση του
          κόστους υγειονομικής ταφής των πόλεων, γεγονός που αυξάνει τον προϋπολογισμό για άλλες σημαντικές ανάγκες της
          πόλης.
        </p>
        <h4>Εξοικονομεί ζωτική ενέργεια</h4>
        <p>
          Η διαδικασία παραγωγής ρούχων χρησιμοποιεί μεγάλη ποσότητα ενέργειας. Κάθε ρούχο που φοράτε έχει περάσει από
          μια περίπλοκη διαδικασία παραγωγής που χρησιμοποιεί μεγάλη ποσότητα ηλεκτρικής ενέργειας, νερού και άλλων
          πηγών ενέργειας. Η ανακύκλωση ρούχων εξοικονομεί ενέργεια μειώνοντας ή εξαλείφοντας την ανάγκη κατασκευής
          υλικών από την αρχή. Ομοίως, όταν αγοράζετε ανακυκλωμένα ρούχα, παίζετε ρόλο στη μείωση του όγκου της
          "γρήγορης μόδας".
        </p>
        <h4>Μειώνει τον δαπανηρό καταναλωτισμό</h4>
        <p>
          Τα τελευταία χρόνια, οι άνθρωποι τρέμουν με την ιδέα να ζήσουν έναν μινιμαλιστικό τρόπο ζωής. Αν και δεν είναι
          για όλους, η ιδέα του να ζεις με λιγότερα είναι ένα σημαντικό ιδανικό, ειδικά όταν αναφέρεται στον
          καταναλωτισμό. Ο υλισμός δεν οδηγεί στην ευτυχία και όταν οι άνθρωποι το αναγνωρίσουν, ένα από τα πρώτα
          πράγματα που φεύγουν είναι τα ρούχα. Οι άνθρωποι αδειάζουν τις ντουλάπες τους και ψωνίζουν λιγότερο - ο
          ελάχιστος τρόπος ζωής μας εμποδίζει να συμμετάσχουμε στον δαπανηρό καταναλωτισμό, ή το πιο σημαντικό, στα
          δαπανηρά απόβλητα. Όταν αγοράζουμε ανακυκλωμένα ρούχα, ανακυκλώνουμε τα ρούχα μόνοι μας και απλώς αγοράζουμε
          λιγότερα, έχουμε έναν προσωπικό αντίκτυπο στη σπατάλη και το κόστος του κλάδου της κλωστοϋφαντουργίας.
        </p>
        <hr>
        <h2>Η συνεργασία μας με την Recycom</h2>
        <hr>
        <p>
          Για αυτούς τους λόγους που αναφερθήκαμε πιο πάνω αποφασίσαμε να συνεργαστούμε με την Recycom για να φέρουν το κάδο ανακύκλωσης τους στο λιμάνι της Χίου (έξω από το κτίριο του Τελωνείου Χίου). Τα ρούχα που θα βάζετε μέσα στον κάδο θα αποστέλλονται στην Recycom για να ανακυκλώνονται με τελικό στόχο την επαναχρησιμοποίηση. Η RECYCOM ιδρύθηκε το 2012, είναι η πρώτη Ελληνική επιχείρηση που εφαρμόζει με οργανωμένο, επιστημονικό και επαγγελματικό τρόπο ένα σύστημα ολοκληρωμένης διαχείρισης των μεταχειρισμένων ειδών ένδυσης και υπόδησης, φιλοδοξώντας να συμβάλλει ενεργά και δραστήρια στη δημιουργία ενός καθαρού, υγιεινού και αειφόρου περιβάλλοντος.
        </p>
        <p>
          Με την τοποθέτηση του κάδου κάνουμε πράξη τους Στόχους Βιώσιμης Ανάπτυξης και ιδιαίτερα τους στόχους #7 Φτηνή και Καθαρή Ενέργεια, #12 Υπεύθυνη παραγωγή και κατανάλωση, #13 Δράση για το κλίμα και #17 Συνεργασία για τους Στόχους, και καλούμε όλους τους κατοίκους της Χίου να δώσουν στα ρούχα τους μια δεύτερη ζωή.
        </p>
        <p>
          <span>
            <img src="/images/17_goals/7_clean_energy.jpg" alt="" height="100" width="100"><img src="/images/17_goals/12.jpg" alt="" height="100" width="100"><img src="/images/17_goals/13.jpg" alt="" height="100" width="100"><img src="/images/17_goals/17.jpg" alt="" height="100" width="100">
          </span>
        </p>
        <p>
          Τι συμβαίνει όμως στην πράξη με τα συλλεχθέντα είδη (ενδύματα και υποδήματα);
        </p>
        <ol>
          <li>Συλλογή & Μεταφορά από τον κόκκινο κάδο προς την Recycom</li>
          <li>Μετά από μικρή διαλογή, τα καλύτερα σε ποιότητα ρούχα προσφέρονται δωρεάν σε κοινωνικά ευπαθείς ομάδες σε όλη την Ελλάδα</li>
          <li>Τα υπόλοιπα εξάγονται με σκοπό την επαναχρησιμοποίησή τους. Μέρος του υλικού (τα ακατάλληλα ρούχα και παπούτσια), ανακυκλώνονται για δημιουργία νέων ρούχων καθαρισμού, στουπιών, μονωτικού υλικού κλπ.</li>
        </ol>
        <p>
          Τέλος σε εσάς που ενδιαφέρεστε να ανακυκλώσετε τα ρούχα σας θα σας παρακαλέσουμε να επισκεφθείτε την ιστοσελίδα της RECYCOM για το τι συγκεκριμένα πρέπει να ρίξουμε στους κόκκινους κάδους τι δεν πρέπει να ρίξουμε και πως να χρησιμοποιήσουμε τον κάδο ανακύκλωσης. Πατήστε το κουμπί κάτω για να μεταφερθείτε στην ιστοσελίδα.
        </p>
        <div style="text-align: center; margin-top: 30px;">
          <a href="http://www.recycom.gr/cms/πληροφορίες/?utm_source=facebook&utm_medium=organic&utm_campaign=post#content" target="_blank" rel="noopener noreferrer"><button class="btn btn-success btn-lg">ΠΛΗΡΟΦΟΡΙΕΣ ΓΙΑ ΧΡΗΣΗ ΤΟΥ ΚΑΔΟΥ RECYCOM</button></a>
        </div>
      </article>
    </div>