<input type="hidden" name="page" value="recycling_phones" class="page_name">
<div class="page-image">
  <img src="/images/recycling/pexels-ready-made-3850512.jpg" alt="Κινητό με σύμβολο ανακύκλωσης"
    style="border-bottom: 7px solid rgb(61, 61, 61);">
</div>
<h2 class="title_page">Ανακύκλωση Κινητών και Αξεσουάρ</h2>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-9 order-1 order-md-2 second_column">
      <article>
        <iframe width="100%" height="600" src="https://www.youtube.com/embed/bZEeOkrxzc4" title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen></iframe>
        <h3>Συνεργασία με την Vodafone</h3>
        <p>
          Για πρώτη φορά το Σύστημα μας συμμετείχε το περσινό προσκοπικό έτος στο πρόγραμμα ανακύκλωσης συσκευών και
          αξεσουάρ του Σώματος Ελλήνων Προσκόπων σε συνεργασία με την Vodafone. <br>
          Οι Έλληνες πρόσκοποι συμμετέχουν στο πρόγραμμα "Ανακύκλωσης Συσκευών και αξεσουάρ" της Vodafone απο το 2008
          και μέχρι σήμερα έχουν ανακυκλώσει περισσότερες από 77.778 συσκευές κινητών και αξεσουάρ μέσω του προγράμματος
          ανακύκλωσης, αριθμός ρεκόρ για αντίστοιχα προγράμματα.
        </p>
        <p><strong>Το πρόγραμμα περιλαμβάνει ανακύκλωση προϊόντων επικοινωνίας, όπως κινητά τηλέφωνα και συσκευές
            σταθερής τηλεφωνίας, φορητούς υπολογιστές και modems, λοιπό εξοπλισμό & αξεσουάρ σταθερής/κινητής
            επικοινωνίας και internet, καθώς και οικιακές μπαταρίες.</strong></p>
        <p>
          Αναλυτικότερα, μόνο τα τελευταία 4 χρόνια, έχουν συλλεγεί περισσότερες από 37.000 συσκευές και αξεσουάρ,
          συμβάλλοντας:
          <ul>
            <li>στην αποτροπή 9.000 κιλών CO2 στην ατμόσφαιρα</li>
            <li>στην αποτροπή απόρριψης στη χωματερή 3,3 κιλών τοξικών μετάλλων (μόλυβδος, υδράργυρος, κάδμιο, αρσενικό)
            </li>
            <li>στην ανάκτηση και επαναχρησιμοποίηση 193 κιλών μετάλλων (χαλκός, χρυσός, πλατίνα, παλλάδιο, αλουμίνιο,
              χάλυβας)</li>
            <li>στην «κατάκτηση» δύο Στόχων Βιώσιμης Ανάπτυξης (12, Υπεύθυνη Κατανάλωση & 17, Συνεργασία στους Στόχους)
            </li>
          </ul>
        </p>
        <p>Συγκεκριμένα για εμάς καταφέραμε το προσκοπικό έτος 2020-2021 να μαζέψουμε για αυτό το πρόγραμμα:</p>
        <ul><strong>
            <li>12 κινητά</li>
            <li>42 φορτιστές</li>
            <li>1 μπαταρία κινητού τηλεφώνου</li>
            <li>38 Αξεσουάρ (hands free, θήκες κ.λπ.)</li>
            <li>2 Tablets</li>
            <li>54 Άλλα</li>
        </ul></strong>
        <p><strong>Συνολικά μαζέψαμε 149 ηλεκτρονικά αντικείμενα.</strong></p><br>
        <p style="text-align: center; font-size: x-large; margin-top: 30px; color: red;"><strong>Και έτσι συνεχίζουμε
            και αυτήν την προσκοπική χρονιά για αυτό μπορείτε να φέρεται οποιοδήποτε κινητό ή αξεσουάρ στο σύστημα μας
            για ανακύκλωση.</strong></p>
      </article>
    </div>