<input type="hidden" name="page" value="usefull_music" class="page_name">
<div class="page-image">
  <img src="/images/usefull/music/pexels-pixabay-164821.jpg" alt="εικόνα με μουσικές νότες"
    style="border-bottom: 7px solid rgb(61, 61, 61);">
</div>
<h2 class="title_page">Τραγούδια</h2>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-9 order-1 order-md-2 second_column">
      <article class="scout_group_music_article">
        <p>
          Δείτε παρακάτω μία συλλογή με προσκοπικά τραγούδια. Κάντε κλικ σε όποιο τραγούδι θέλετε για να δείτε τους
          στίχους! Σε κάποια τραγούδια εμφανίζεται
          επίσης ένα ηχητικό κομμάτι για να το ακούσετε.
        </p>
        <h2>Τραγούδια Αγέλης</h2>
        <details>
          <summary class="summary_song_title_cubs">
            100 Χρόνια παρέα
          </summary>
          <blockquote>
            <p class="song_lyrics">Φτιάχνω πάλι το σακίδιο μου<br>
              φαίνεται όμως πιο βαρύ<br>
              το ανοίγω κι' αντικρίζω<br>
              γέλιο και χαρά πολύ<br><br>
              Έσο Έτοιμος για πάντα<br>
              Έσο Έτοιμος θα πει<br>
              100 χρόνια παρέα<br>
              100 χρόνια μαζί (2)<br><br>
              Προσκοπος θα πει να έχεις<br>
              πάντα αγάπη στην καρδιά<br>
              Θεό πατρίδα εμπειρίες<br>
              κι όλα θα σου παν καλά<br><br>
              Έσο Έτοιμος για πάντα<br>
              Έσο Έτοιμος θα πει<br>
              100 χρόνια παρέα<br>
              100 χρόνια μαζί(3)
              <span class="quote_after">”</span></p>
            <audio controls>
              <source src="/audio/songs/cubs/100_years.mp3" type="audio/mpeg">
            </audio>
          </blockquote>
        </details>
        <details>
          <summary class="summary_song_title_cubs">
            Ο άσπρος Ραν
          </summary>
          <blockquote>
            <p class="song_lyrics">Τον Μόγλη οι μαϊμούδες τον πήραν και παν<br>
              κι ενώ τον τραβούσαν ψηλά στα κλαδιά,<br>
              αυτός τότε βλέπει τον άσπρο τον Ραν<br>
              κι αμέσως του κράζει πολύ δυνατά.<br><br>
              Άσπρε Ραν, Άσπρε Ραν, Άσπρε Ραν, Άσπρε Ραν<br>
              οι μαϊμούδες επήραν τον Μόγλη και πάν (δις)<br><br>
              Για πέτα στη ζούγκλα να βρείς τον Μπαλού,<br>
              να βρείς τον Μαπγκήρα τους άλλους αλλού<br>
              και γρήγορα τρέξτε στην Κρύα Μονιά<br>
              κει που `χουν στήσει οι μαϊμούδες φωλιά.<br><br>
              Χτυπώντας γερά τις φτερούγες ο Ραν,<br>
              τον γέρο Μπαλού, τον Μπαγκήρα, τον Κάα,<br>
              τους βρίσκει και λέει, μ΄ αυτοί τον κοιτάν<br>
              πως τον Μόγλη οι μαϊμούδες τον πήραν και παν.<br><br>
              Εμπρός για τρεχάτε στην Κρύα Μονιά,<br>
              κει που τα Μπάντερλογκ στήσαν φωλιά.<br>
              Και τρεξαν και σώσαν το Μόγλη παιδιά<br>
              και πρώτος ο Ραν έχει απ΄ όλους χαρά.
              <span class="quote_after">”</span></p>
          </blockquote>
        </details>
        <details>
          <summary class="summary_song_title_cubs">
            Μόγλης και μπατερλογκ
          </summary>
          <blockquote>
            <p class="song_lyrics">Ο Μόγλης στα λημέρια μας εφάνηκε<br>
              μα τα μπάντερλογκ τον επιάσανε,<br>
              για δες και την ωραία μας ουρά<br>
              που είναι όμορφη και μακριά.
              <span class="quote_after">”</span></p>
          </blockquote>
        </details>
        <details>
          <summary class="summary_song_title_cubs">
            Σαν πήγα στα λυκάκια
          </summary>
          <blockquote>
            <p class="song_lyrics">Σαν πήγα στα Λυκάκια, Λυκάκι να γένω (δις)<br>
              Λυκάκι να γενώ χαρούμενο και γελαστό και γελαστό<br>
              λυκάκι να γενώ πάντοτε χαρωπό. <br><br>
              Τζόκευ κάπελακι, μου δώσαν να φορώ<br>
              τζόκευ κάπελακι, μου δώσαν να φορώ<br>
              μου δώσαν να φορώ με τι καμάρι περπατώ περπατώ<br>
              μου δώσαν να φορώ με τι χαρά εγώ<br><br>
              Μια καλή πράξη μου παν να κάνω πάντα εγώ<br>
              μια καλή πράξη μου παν να κάνω πάντα εγώ<br>
              να κάνω πάντα εγώ χωρίς να παίρνω ευχαριστώ ευχαριστώ<br>
              να κάνω πάντα εγώ χωρίς ευχαριστώ.
              <span class="quote_after">”</span></p>
          </blockquote>
        </details>
        <details>
          <summary class="summary_song_title_cubs">
            Ο χορός της Μπαλού
          </summary>
          <blockquote>
            <p class="song_lyrics">Όρθια τ΄ αυτιά σου Λυκόπουλο,<br>
              πάντοτε ν΄ ακούς τον Γερόλυκο.<br>
              Κλείσε τ΄ αυτιά σου Λυκόπουλο,<br>
              στον εαυτό σου τον νεώτερο.
              <span class="quote_after">”</span></p>
          </blockquote>
        </details>
        <details>
          <summary class="summary_song_title_cubs">
            Ο χορός της Μπαγκήρα
          </summary>
          <blockquote>
            <p class="song_lyrics">Δόντια π΄ αστράφτουν<br>
              πόδια που είναι αθόρυβα<br>
              και ματιές που σκίζουν τη νυχτιά.<br>
              Πόδια αθόρυβα<br>
              και ματιές που λάμπουν στη σκιά.
              <span class="quote_after">”</span></p>
          </blockquote>
        </details>
        <details>
          <summary class="summary_song_title_cubs">
            Το τραγούδι της ανάβασης
          </summary>
          <blockquote>
            <p class="song_lyrics">Αδέλφια ας μαζευτούμε εδώ<br>
              μ΄ αγάπη στην καρδιά.<br>
              Μας φεύγει ένα λυκόπουλο<br>
              κι αφήνει τη Φωλιά.<br><br>
              Ω Λύκε, φίλε κι αδελφέ,<br>
              στο δρόμο που θα πας<br>
              να μην ξεχνάς ότι έμαθες<br>
              μαζί μας ν΄ αγαπάς. <br><br>
              Με μάτια μπήκες σφαλιστά<br>
              στη ζούγκλα ένα πρωί<br>
              μα τ΄ άνοιξες σιγά - σιγά<br>
              στην όμορφη ζωή. <br><br>
              Τα χέρια δίνοντας μαζί<br>
              πηγαίναμε μπροστά. <br>
              Πάντα η φιλία θα κρατά <br>
              τα χέρια μας σφιχτά. <br><br>
              Εμπρός τα χέρια ας δώσουμε<br>
              για μια στερνή φορά,<br>
              κι ας μας ενώνει πάντοτε<br>
              η αγάπη κι η χαρά. <br><br>
              Ω Λύκε, φίλε κι αδελφέ<br>
              θυμήσου όπου πας<br>
              τους Λύκους που σε μάθανε<br>
              το Νόμο να κρατάς.
              <span class="quote_after">”</span></p>
          </blockquote>
        </details>
        <details>
          <summary class="summary_song_title_cubs">
            Γίνε 100 κι ' εσύ μπορείς
          </summary>
          <blockquote>
            <p class="song_lyrics">
              Γίνε 100 κι ' εσύ μπορείς<br>
              φτάσε ως την άκρη της κορφής<br>
              όλα στην αγέλη είναι ιδανικά<br>
              με παιχνίδι γέλιο και χαρά<br><br>
              μια προσπάθεια αρκεί<br>
              έστω και αν χάσεις<br>
              φτάνει που δοκίμασες να φτάσεις<br><br>
              Γίνε 100 κι ' εσύ μπορείς <br>
              φτάσε ως την άκρη της κορφής<br><br>
              Πάντα χαμογελαστή βαδίζει τραγουδώντας<br>
              κιτρινίζει γειτονιά περνώντας<br><br>
              Γίνε 100 κι ' εσύ μπορείς<br>
              φτάσε ως την άκρη της κορφής<br>
              όλα στην αγέλη είναι ιδανικά <br>
              με παιχνίδι γέλιο και χαρά<br><br>
              μια προσπάθεια αρκεί <br>
              έστω και αν χάσεις<br>
              φτάνει που δοκίμασες να φτάσεις<br><br>
              Παίξε χαμογέλα<br>
              τραγούδα σαν Ακέλα <br>
              πέντε χρόνια μόνο ευτυχισμένα<br><br>
              Κι' άμα δε σου βγαίνουνε<br>
              κι' άλλο δεν αντέχεις<br>
              να χαμογελάς γι'αυτό που έχεις<br><br>
              Γίνε 100 κι ' εσύ μπορείς<br>
              φτάσε ως την άκρη της κορφής<br><br>
              Κι' όταν η αγέλη σου<br>
              φτάσει στην κορφή<br>
              το τραγούδι δεν τελειώνει εκεί<br><br>
              Κι όταν κατσουφιάζεις<br>
              θέλεις τη μαμά<br>
              έτσι δε θα νιώθεις κατσουφιά<br><br>
              Μέτρα 100 , σφύρα πονηρά<br>
              μπες μέσα στον κύκλο στη χαρά<br><br>
              Γίνε 100 κι ' εσύ μπορείς<br>
              φτάσε ως την άκρη της κορφής<br><br>
              Το τραγούδι αυτό<br>
              ποτέ δεν τελειώνει<br>
              μυρίζει σα θυμάρι και κυδώνι<br><br>
              πάμε εμείς μαζί για άλλα 100 <br>
              είσαι εσύ λυκόπουλο σωστό<br>
              Γίνε 100 κι ' εσύ μπορείς<br>
              φτάσε ως την άκρη της κορφής<br>
              όλα στην αγέλη είναι ιδανικά<br>
              με παιχνίδι γέλιο και χαρά
              <span class="quote_after">”</span></p>
            <audio controls>
              <source src="/audio/songs/cubs/turn_100.mp3" type="audio/mpeg">
            </audio>
          </blockquote>
        </details>
        <details>
          <summary class="summary_song_title_cubs">
            Καινούριο Λυκοπουλάκι
          </summary>
          <blockquote>
            <p class="song_lyrics">
              Καινούργιο Λυκοπουλάκι<br>
              καλώς ήλθες μεσ΄ στη φωλιά.<br>
              Θα γενείς με μας αδελφός<br>
              μ΄ ανοιχτά δύο μάτια στο φώς.<br>
              Στης ζούγκλας θα σ΄ οδηγήσουν το Νόμο Λύκοι παλιοί.<br><br>
              Οπου πας μια πράξη καλή<br>
              και τραγούδια μεσ΄ στη δουλειά.<br>
              Καινούργιο Λυκοπουλάκι<br>
              καλώς ήλθεσ μεσ΄ στη φωλιά.
              <span class="quote_after">”</span></p>
          </blockquote>
        </details>
        <details>
          <summary class="summary_song_title_cubs">
            Η αγέλη πάει εκδρομή
          </summary>
          <blockquote>
            <p class="song_lyrics">
              Πρωί πρωί και φίνα<br>
              με τον Ακέλα πρίμα<br>
              Λυκόπουλα εξάδες<br>
              η Αγέλη ξεκινά.<br><br>
              Καπέλα μ΄ έξι ρίγες<br>
              καλτσάκια με φουντάκι<br>
              σακίδια στην πλάτη<br>
              για εκδρομή παιδιά.<br><br>
              Και φθάνουμε στο δάσος<br>
              στους βράχους και τα σκίνα<br>
              ο Νόμος λέει αμέσως<br>
              γοργά για τη δουλεία. <br><br>
              Ιδρώτας χωματένιος ψωμάκι και νεράκι<br>
              περάσαμε ωραία <br>
              στην εκδρομή παιδιά.
              <span class="quote_after">”</span></p>
          </blockquote>
        </details>
        <details>
          <summary class="summary_song_title_cubs">
            Ένας για όλους και όλοι για έναν
          </summary>
          <blockquote>
            <p class="song_lyrics">
              Θέλω να είμαι φίλος για σένα<br>
              κι εσύ να είσαι φίλος για μένα<br>
              χέρι με χέρι για όλα τα χρόνια<br>
              και έτσι η ΕΙΡΗΝΗ να είναι αιώνια.<br><br>
              Να σε βοηθήσω να με βοηθήσεις<br>
              μαζί να κλάψεις, να τραγουδήσεις<br>
              κι αν μόνος νιώσω, χωρίς κανένα<br>
              ΕΝΑΣ ΓΙΑ ΟΛΟΥΣ ΚΑΙ ΟΛΟΙ ΓΙΑ ΕΝΑΝ.<br><br>
              Μεσ΄ στην Αγέλη, μεσ΄ στις σκηνές μας,<br>
              μέσα στη σκέψη και στις καρδιές μας<br>
              το σύνθημα μας ας είναι ένα :<br>
              ΕΓΩ ΓΙΑ ΣΕΝΑ ΚΙ ΕΣΥ ΓΙΑ ΜΕΝΑ.
              <span class="quote_after">”</span></p>
          </blockquote>
        </details>
        <details>
          <summary class="summary_song_title_cubs">
            Το αστεράκι
          </summary>
          <blockquote>
            <p class="song_lyrics">
              Πάντα ψηλά σαν κοιτάζεις<br>
              μέσ’ το σκοτάδι θα βρεις<br>
              ένα μικρό αστεράκι<br>
              για να οδηγηθείς.<br><br>
              Θε να σου δείχνει το δρόμο<br>
              στο Νότο και στο Βορρά<br>
              κι άμα το βρεις μη φοβάσαι<br>
              όλα θα πάνε καλά.<br><br>
              Γιο - λα - ρι - α (3)<br>
              Γιο - λα - λα - ρι - α - λα –ο<br><br>
              Θάρρος Πρόσκοπέ μου<br>
              σφίξε την καρδιά <br>
              πάρε εμπρός το δρόμο <br>
              δίχως ακεφιά. <br><br>
              Κι όταν το σκοτάδι<br>
              γύρω θα χαθεί<br>
              η ζωή μπροστά σου<br>
              θα φέγγει χαρωπή.
              <span class="quote_after">”</span></p>
            <audio controls>
              <source src="/audio/songs/cubs/star.mp3" type="audio/mpeg">
            </audio>
          </blockquote>
        </details>
        <details>
          <summary class="summary_song_title_cubs">
            Εμπρός λυκοπουλάκια
          </summary>
          <blockquote>
            <p class="song_lyrics">
              Εμπρός Λυκοπουλάκια<br>
              της ζούγκλας τα παιδιά,<br>
              να πούμε τ΄ αδελφού μας<br>
              τραγούδια απ΄ την καρδιά.<br><br>
              Εβγήκε στο κυνήγι<br>
              με πόδια τρυφερά,<br>
              μα τό 'να μάτι ανοίγει<br>
              και λάμπει από χαρά.
              <span class="quote_after">”</span></p>
          </blockquote>
        </details>
        <details>
          <summary class="summary_song_title_cubs">
            Στην εξοχή
          </summary>
          <blockquote>
            <p class="song_lyrics">
              Στην εξοχή δεν πρέπει να κοιμάσαι<br>
              πρωϊ πρωϊ στο πόδι πρέπει να `σαι<br>
              με την δροσιά τα μούτρα σου να πλένεις<br>
              πλάτσα πλούτσα στα νερά, τρα λαλα λαλα λαλα. (Δις)<br><br>
              Κι αν χρειαστεί να πας υπηρεσία<br>
              πρώτος εσύ να γίνεσαι θυσία<br>
              με ντι ντι ντι στην τρόμπα να τρομπάρεις<br>
              τσουφ τσουφ τσουφ στο ντι ντι ντι, κικιρίκι κικικι (Δις) <br><br>
              Κι όταν σκοπό σε βάλουν να φυλάξεις<br>
              σαν δεις γατιά και κότες μην τρομάξεις<br>
              και τις φωνές μην μπήξεις κάνα βράδυ<br>
              συμμορία βρε παιδιά τρα λαλα λαλα λαλα. (Δις) <br><br>
              Χωρίς μιλιά να τρώς ότι σου δίνουν<br>
              τα μάγουλα σου πρέπει να παχύνουν<br>
              και η μαμά να λέει με καμάρι<br>
              ένα γιόκα που `χω εγώ, πω πω πω να τον χαρώ. (Δις)
              <span class="quote_after">”</span></p>
          </blockquote>
        </details>
        <details>
          <summary class="summary_song_title_cubs">
            Ο σωστός λύκος
          </summary>
          <blockquote>
            <p class="song_lyrics">
              Να΄σαι λυκόπουλο είναι καλά<br>
              μεσ΄ την Αγέλη περνάς μια χαρά<br>
              με γέλιο, τραγούδι, παιχνίδι, εκδρομές<br>
              κυνήγια αλησμόνητα, γνώσεις πολλές.<br><br>
              Μα πρέπει και να `χεις στο νου συνεχώς<br>
              να λέγεσαι Λύκος, μα Λύκος σωστός.<br>
              Την μπλέ και χακί σου στολή σαν φοράς<br>
              με πόσο καμάρι στο δρόμο περνάς, <br><br>
              Νόμο και υπόσχεση ξέρεις καλά<br>
              και στήνεις τ΄ αυτιά σαν ο ΑΚΕΛΑ μιλά.<br>
              Μα πρέπει και να `χεις στο νου συνεχώς<br>
              να λέγεσαι Λύκος, μα Λύκος σωστός. <br><br>
              Η κάθε σου πράξη να είναι καλή<br>
              κι ο Νόμος σου ναν΄ οδηγός στη ζωή<br>
              να δίνεις το χέρι σε όποιον πονεί<br>
              και να έχεις αδέλφια σε όλη την γή. <br><br>
              Γιατί πρέπει να `χεις στο νου συνεχώς<br>
              να λέγεσαι Λύκος, μα Λύκος σωστός.
              <span class="quote_after">”</span></p>
          </blockquote>
        </details>
        <details>
          <summary class="summary_song_title_cubs">
            Άσπρα και μαύρα τα λυκάκια
          </summary>
          <blockquote>
            <p class="song_lyrics">
              Άσπρα και μαύρα τα Λυκάκια<br>
              πιτσιλωτά, σταχτιδερά<br>
              όλα μαζί σε μιαν Αγέλη.<br>
              Και θα γλεντήσουμ΄ω χαρά μας<br>
              σε πανηγύρι χαρωπό<br>
              όλοι οι Λύκοι ενωμένοι.<br><br>
              Λα - λα - λα - λα - λα - λα...<br><br>
              Ένα τραγούδι όλοι θα πούμε<br>
              χαρούμενο και γελαστό<br>
              τραγούδι μέσα απ΄ την καρδιά μας.<br>
              Και θα δεθούμε μια για πάντα<br>
              και θα γενούμε αδελφοί<br>
              όλοι οι Λύκοι μεσ΄ τον κόσμο.<br><br>
              Λα - λα - λα - λα - λα - λα...<br><br>
              Αν ενά παιδί τυχεί να σου πει<br>
              πως Λυκόπουλο είναι, να μην γελαστείς.<br>
              Γιατί ψέματα πάντα θα σου πει αν δε το ιδείς φαιδρό.<br><br>
              Γιατί πάντα ένα Λυκάκι,<br>
              δεν θυμώνει, δεν δακρύζει. <br>
              Κι αν ένα κακό πάθει μια φορά,<br>
              εύθυμο ευθύς σφυρά.
              <span class="quote_after">”</span></p>
          </blockquote>
        </details>
        <details>
          <summary class="summary_song_title_cubs">
            Αν ένα παιδί
          </summary>
          <blockquote>
            <p class="song_lyrics">
              Αν ενά παιδί τυχεί να σου πει<br>
              πως Λυκόπουλο είναι, να μην γελαστείς.<br>
              Γιατί ψέματα πάντα θα σου πει αν δε το ιδείς φαιδρό.<br><br>
              Γιατί πάντα ένα Λυκάκι,<br>
              δεν θυμώνει, δεν δακρύζει.<br>
              Κι αν ένα κακό πάθει μια φορά,<br>
              εύθυμο ευθύς σφυρά.
              <span class="quote_after">”</span></p>
            <audio controls>
              <source src="/audio/songs/cubs/if_a_child.mp3" type="audio/mpeg">
            </audio>
          </blockquote>
        </details>
        <details>
          <summary class="summary_song_title_cubs">
            Τα λυκόπουλα
          </summary>
          <blockquote>
            <p class="song_lyrics">
              Τα μικρά - μικρά Λυκοπουλάκια<br>
              των Προσκό - Προσκόπων πιο μικρά<br>
              παίζουν, τρέχουν, τραγουδουν, γελάνε<br>
              κι η ζωή τους όμορφα κυλά.<br>
              Κι αν καμμιά φορά κανένα εμπόδιο<br>
              μεσ΄ στο δρόμο τους τυχόν βρεθεί<br>
              εύθυμα - πολύ εύθυμα σφυρίζουν<br>
              είμαστε εμείς οι Λύκοι οι τρομεροί<br><br>
              Τον Γερόλυκο πάντα ακούνε<br>
              και στο Νόμο μένουνε πιστά<br>
              μ΄ εκδρομές, παιχνίδια και τραγούδια<br>
              η ζωή τους εύθυμη κυλά.
              <span class="quote_after">”</span></p>
          </blockquote>
        </details>
        <details>
          <summary class="summary_song_title_cubs">
            Τα θηρία
          </summary>
          <blockquote>
            <p class="song_lyrics">
              Πως κανείς μπορεί ρι ρι<br>
              να δει μια φορά ρα ρα<br>
              γάτας το αυτί τι τι<br>
              ποντικός να γαργαλά.<br><br>
              Και μια αλεπού<br>
              δεν θυμαμαί που<br>
              συζητά κι αυτή<br>
              μ΄ ένα κυκνό γκρι.<br><br>
              Πάνθηρ μελαμψός<br>
              κι ένας πετεινός<br>
              ω! τι τρομερό<br>
              πίνουνε νερό. <br><br>
              Τώρα εξηγώ<br>
              τούτο τι θα πεί<br>
              τα θηρία αυτά<br>
              ειν΄ Λυκοπουλά. <br><br>
              Κι όμως έχω εδ<br>
              ώ λύκο και λαγό<br>
              που παίζουν μαζί<br>
              πλάϊ σ΄ ένα αρνί.
              <span class="quote_after">”</span></p>
          </blockquote>
        </details>
        <details>
          <summary class="summary_song_title_cubs">
            Αν θέλεις να περάσεις
          </summary>
          <blockquote>
            <p class="song_lyrics">
              Αν θέλεις να περάσεις<br>
              μια αξέχαστη βραδιά, ν<br>
              α δεις και να θαυμάσεις<br>
              όλο ζωή παιδιά. <br><br>
              Τραγούδια αν θές ν΄ ακούσεις<br>
              να νοιώσεις πολλή χαρά,<br>
              εύθυμη συντοφιά, πάντα καλή καρδιά<br>
              θα βρείς μεσ΄ στα Λυκόπουλα. <br><br>
              Ελα να ζήσεις μαζί μας (γιου - χου!!) <br>
              Για μια βραδιά τη ζωή μας (γιου - χου!!) <br>
              και τότε πόθο θα νοιώσεις<br>
              να μείνεις για πάντα με μας.
              <span class="quote_after">”</span></p>
          </blockquote>
        </details>
        <details>
          <summary class="summary_song_title_cubs">
            Το πράσινο σκουφί μου
          </summary>
          <blockquote>
            <p class="song_lyrics">
              Το πράσινο σκουφί μου σαν φορώ<br>
              με κέφι μεσ΄ στους δρόμους προχωρώ<br>
              και κοιτώ δεξιά και κοιτώ αριστερά<br>
              και απλόχερα σκορπάω τη χαρά. (Δις) <br><br>
              Το μπλέ μου το μαντήλι σαν φορώ<br>
              χαρούμενος στη φύση τριγυρνώ<br>
              στα ψηλά τα βουνά, στ΄ ακρογιάλια τα χρυσά<br>
              μακριά από της πόλης την καπνιά. (Δις)
              <span class="quote_after">”</span></p>
          </blockquote>
        </details>
        <details>
          <summary class="summary_song_title_cubs">
            Μέσα στα δάση
          </summary>
          <blockquote>
            <p class="song_lyrics">
              Μέσα στα πυκνά τα δάση<br>
              ζιμ - ζιρίμ - ζιμ - ζιμ - ζιμ - ζιμ<br>
              ο γερόλυκος φωνάζει<br>
              ζιμ - ζιρίμ - ζιμ - ζιμ - ζιμ - ζιμ<br>
              και αμέσως τα μικρά<br>
              τε - τερέ - τε - τέε<br>
              κύκλο κάνουνε σφιχτά<br>
              τε - τερέ - τε - τέε<br>
              και αυτός τα συμβουλεύει<br>
              βάου - βάου - βάου - βάου - βάου - βάο<br>
              υ και ό,τι του ζητούν τους λέει<br>
              τε - τερέ - τε - τερέ - τε - τερέ - τε - τέε<br><br>
              Της Ελλάδος τα παιδάκια<br>
              ζιμ - ζιρίμ - ζιμ - ζιμ - ζιμ - ζιμ<br>
              τα μικρά Λυκοπουλάκια<br>
              ζιμ - ζιρίμ - ζιμ - ζιμ - ζιμ - ζιμ<br>
              τον Ακέλα ερωτούν<br>
              τε - τερέ - τε - τέε<br>
              και όλο συμβουλές ζητούν<br>
              τε - τερέ - τε - τέε<br>
              και αυτός τα συμβουλεύει<br>
              βάου - βάου - βάου - βάου - βάου - βάου<br>
              και ό,τι του ζητούν τους λέει<br>
              τε - τερέ - τε - τερέ - τε - τερέ - τε - τέε.
              <span class="quote_after">”</span></p>
          </blockquote>
        </details>
        <details>
          <summary class="summary_song_title_cubs">
            Μες τη ζούγκλα
          </summary>
          <blockquote>
            <p class="song_lyrics">
              Μεσ΄ την ζούγκλα, μεσ΄ την ζούγκλα<br>
              του παλιού μας του χωριού<br>
              ζούνε δυο Λυκοπουλάκια,<br>
              που θυμίζουνε Ζουλού. (Δις) <br><br>
              Μεσ΄ στη ζούκλα, μεσ΄ την ζούκλα<br>
              μεσ΄ στου Λύκου τη φωλιά<br>
              αξιέπαινος θα είναι<br>
              όποιος ζήσει μια βραδιά. <br><br>
              Είναι δυο τρανοί λεβέντες<br>
              παλληκάρια διαλεχτά,<br>
              μόνο μην τους πεις τα βράδια<br>
              ιστορίες για θεριά. <br><br>
              Δεν φοβούνται, δεν φοβούνται<br>
              τιποτ΄ άλλο παρ΄ εκτός<br>
              τα μυρμήγκια, τα κουνούπια<br>
              και το σκότος της νυκτός.
              <span class="quote_after">”</span></p>
          </blockquote>
          <audio controls>
            <source src="/audio/songs/cubs/inside_the_jungle.mp3" type="audio/mpeg">
          </audio>
        </details>
        <details>
          <summary class="summary_song_title_cubs">
            Μ'αρέσει
          </summary>
          <blockquote>
            <p class="song_lyrics">
              Μ΄ αρέσει να τρέχω<br>
              με φίλους στο δάσος<br>
              να χαίρομαι κάθε στιγμή. <br><br>
              Να είναι γεμάτη<br>
              τραγούδι η ζωή μου<br>
              και να `ναι η δουλειά μας γιορτή. <br><br>
              Μ΄ αρέσει να είμαι<br>
              κοντά στους ανθρώπους<br>
              παντού να σκορπάω τη χαρά. <br><br>
              Το γέλιο μου να `ναι<br>
              γι΄ αυτούς η ελπίδα<br>
              πως όλα θα πάνε καλά. <br><br>
              Κλείσε τα μάτια κι ευχήσου<br>
              να γίνουν αδέλφια<br>
              οι άνθρωποι στη γή. <br><br>
              Κι η κάθε στιγμή<br>
              ας γίνει προσπάθεια<br>
              να γίνει αλήθεια η ευχή
              <span class="quote_after">”</span></p>
          </blockquote>
        </details>
        <details>
          <summary class="summary_song_title_cubs">
            Έχασα το ντο
          </summary>
          <blockquote>
            <p class="song_lyrics">
              Έχασα το ντο του μικρού κλαρίνου<br>
              σαν το μάθει ο Ακέλας τι θα πει<br>
              θα με διώξει απ΄ την Αγέλη στη στιγμή<br>
              Τοπακαραρόπ<br>
              τοπάο παο πα (δις) <br><br>
              Εχασα το ρε<br>
              Εχασα το μι<br>
              Εχασα το φα<br>
              Εχασα το σολ<br>
              Εχασα το λα<br>
              Εχασα το σι<br><br>
              Εχασα το ντο, το ρε, το μι, το φα,<br>
              το σολ, το λα, το σι του μικρού κλαρίνου.
              <span class="quote_after">”</span></p>
          </blockquote>
        </details>
        <details>
          <summary class="summary_song_title_cubs">
            Δείτε τα λυκάκια
          </summary>
          <blockquote>
            <p class="song_lyrics">
              Δείτε τα Λυκάκια, τι παιδιά γερά<br>
              παίζουν τραγουδάνε, τρέχουν ζωηρά. <br>
              Σ΄ αδελφό δίνουνε χέρι,<br>
              πήρε πια δεύτερ΄ αστέρι,<br>
              κι έχουνε χαρά. (Δις) <br><br>
              Θαν τα δύο του μάτια πάντοτ΄ ανοιχτά<br>
              το καλό να κάνει σ΄ όλους θα ζητά. <br>
              Σε πλαγιές, στ΄ άγρια δάση,<br>
              προχωρεί πρώτος να φθάσει<br>
              στη σωστή χαρά. (Δις) <br><br>
              <span class="quote_after">”</span></p>
          </blockquote>
        </details>
        <details>
          <summary class="summary_song_title_cubs">
            Είμαστε λυκόπουλα
          </summary>
          <blockquote>
            <p class="song_lyrics">
              Είμαστε Λυκόπουλα χωρίς ουρά κι αυτιά,<br>
              Ολά ενωμένα μέσα σα μια φωλιά. <br><br>
              Το `ΠΑΝΤΑ ΠΡΟΘΥΜΟΙ` για το καλό<br>
              είν΄ τ΄ ονειρό μας το παντοτεινό. <br>
              Λυκόπουλα εμείς, Λυκόπουλα θαρρείς. (Δις) <br><br>
              Τον Ακέλα ακούμε σαν καλά παιδιά <br>
              κι η Μπαλού ιστορίες του δάσους μας μιλά <br><br>
              Με τον Μπαγκήρα παίζουμε <br>
              και τον Σερ - Χαν κοροϊδεύουμε<br>
              Λυκόπουλα εμείς, Λυκόπουλα θαρρείς. (Δις)
              <span class="quote_after">”</span></p>
          </blockquote>
        </details>
        <details>
          <summary class="summary_song_title_cubs">
            Τζουμπαλαγια
          </summary>
          <blockquote>
            <p class="song_lyrics">
              Τα ταμ - ταμ μεσ΄ στη ζούκλα ηχούνε<br>
              κι οι Ινδοί με χαρά τραγουδούνε. <br>
              Κι ο Αρχηγός τους το Μαύρο Τσακάλι<br>
              νικητής θα γυρίσει και πάλι. <br><br>
              Τζουμπαλά - Τζουμπαλά - Τζουμπαλάγια, <br>
              Αρχηγέ των Ινδών Τζουμπαλάγια. <br><br>
              Η φωτιά εις το μέσον αναμμένη <br>
              κι οι Ινδοί γύρω γύρω μαζεμένοι. <br>
              Κι ο Αρχηγός τους το Μαύρο Τσακάλι<br>
              το χορό αρχινάει και πάλι. <br><br>
              Η φωτιά πια τη λάμψη έχει χάσει <br>
              κι ο Αρχηγός τους πηγαίνει να πλαγιάσει. <br>
              Οι Ινδοί φεύγουν τώρα κουρασμένοι <br>
              και ο μάγος μονάχος απομένει. <br><br>
              Τραγουδά σιγά - σιγά και κάνει μάγια <br>
              Αρχηγέ των Ινδών Τζουμπαλάγια.
              <span class="quote_after">”</span></p>
          </blockquote>
          <audio controls>
            <source src="/audio/songs/cubs/tzoumpalagia.mp3" type="audio/mpeg">
          </audio>
        </details>
        <h2>Τραγούδια Κινητικά</h2>
        <details>
          <summary class="summary_song_title_movement">
            Ντούντλι
          </summary>
          <blockquote>
            <p class="song_lyrics">
              Πόσο μ' αρέσει η γλυκειά μελωδία,<br>
              το ντούντλι ντι ντι , το ντούντλι ντι ντι<br>
              Όσο αυτή δε μ' αρέσει καμία,<br>
              το ντούντλι ντι ντι, το ντούντλι ντι ντι<br><br>
              Κλαίω πολύ με πονά η ψυχή μου... <br>
              ΓΙΝΟΜΑΙ ΚΑΛΑ, ΜΕ ΤΟ ΝΤΟΥΝΤΛΙ ΝΤΙ ΝΤΙ ΜΟΥ! <br>
              Δίνει χαρά, δίνει κέφι πολύ, <br>
              το ντούντλι ντούντλι ντι ντι! <br><br>
              Το τραγούδι επαναλαμβάνεται όλο και πιο γρήγορα.
              <span class="quote_after">”</span></p>
          </blockquote>
        </details>
        <details>
          <summary class="summary_song_title_movement">
            Γουάταντσού
          </summary>
          <blockquote>
            <p class="song_lyrics">
              Γουαταν τσου<br><br>
              Μπαλασκελίτα , Γουαταντσού<br><br>
              Ίστεν μπιλότεν μπότεν , μπαλασκελίτα , Γουαταντσού<br><br>
              όκι ντόκι , ντόκι όκι , Ίστεν μπιλότεν μπότεν , μπάλασκελίτα γουάταντσού<br><br>
              Ίτεν μπίτεν , μπίτεν ίτεν , ίστεν , όκι ντόκι , ντόκι όκι , Ίστεν μπιλότεν μπότεν ,
              μπάλασκελίταγουάταντσού
              <span class="quote_after">”</span></p>
          </blockquote>
        </details>
        <details>
          <summary class="summary_song_title_movement">
            Σινιάνια
          </summary>
          <blockquote>
            <p class="song_lyrics">
              Ω αε σινιάνια ε ,<br>
              σινιάνια ε<br>
              σινιάνια ε<br><br>
              Ω αε σινιάνια ε ,<br>
              σινιάνια ε<br>
              σινιάνια ε<br><br>
              σινιάνια , σινιάνια<br>
              σινιάνια , σινιάνια
              <span class="quote_after">”</span></p>
          </blockquote>
        </details>
        <details>
          <summary class="summary_song_title_movement">
            Αν δεν ήμουν πρόσκοπος
          </summary>
          <blockquote>
            <p class="song_lyrics">
              Αν δεν ήμουν πρόσκοπος<br>
              κάτι άλλο θα είχα γίνει<br>
              Άν δεν ήμουν πρόσκοπος... <br><br>
              Ποδοσφαιριστής θα είχα γίνει<br>
              πασάρω, σουτάρω<br>
              και έβαλα το γκόλ (2) <br><br>
              Αν δεν ήμουν πρόσκοπος <br>
              κάτι άλλο θα είχα γίνει<br>
              Άν δεν ήμουν πρόσκοπος... <br><br>
              Μποξέρ θα είχα γίνει<br>
              Δεξί κροσέ, δεξί κροσέ<br>
              αριστερό κροσέ (2) <br><br>
              Αν δεν ήμουν πρόσκοπος <br>
              κάτι άλλο θα είχα γίνει <br>
              Άν δεν ήμουν πρόσκοπος... <br><br>
              Εργάτης θα 'χα γίνει <br>
              σκάβω τρύπες , σκάβω τρύπες <br>
              σκάβω σκάβω τρύπες (2) <br><br>
              Αν δεν ήμουν πρόσκοπος <br>
              κάτι άλλο θα είχα γίνει <br>
              Άν δεν ήμουν πρόσκοπος... <br><br>
              Ξυλουργός θα είχα γίνει<br>
              κόβω ξύλα , κόβω ξύλα<br>
              κόβω κόβω ξύλα (2) <br><br>
              Αν δεν ήμουν πρόσκοπος<br>
              κάτι άλλο θα είχα γίνει<br>
              Άν δεν ήμουν πρόσκοπος... <br><br>
              Δικαστής θα είχα γίνει<br>
              ένοχος , αθώος<br>
              καθόλου δε με νοιάζει (2) <br><br>
              Αν δεν ήμουν πρόσκοπος <br>
              κάτι άλλο θα είχα γίνει <br>
              Άν δεν ήμουν πρόσκοπος... <br><br>
              Τροχονόμος θα 'χα γίνει<br>
              κόβω κλήσεις , κόβω κλήσεις<br>
              κόβω κόβω κλήσεις (2) <br><br>
              Αν δεν ήμουν πρόσκοπος<br>
              κάτι άλλο θα είχα γίνει<br>
              Άν δεν ήμουν πρόσκοπος... <br><br>
              Ναυαγοσώστης θα 'χα γίνει<br>
              κοιτάζω εδώ , κοιτάζω εκεί,<br>
              βουτάω στη στιγμή (2)" <br><br>
              Το τραγούδι επαναλαμβάνεται μέχρι όλοι οι παίκτες να χορεύουν
              <span class="quote_after">”</span></p>
          </blockquote>
          <iframe width="560" height="315" src="https://www.youtube.com/embed/KkaATonC7vs" title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
        </details>
        <details>
          <summary class="summary_song_title_movement">
            Αμόνα γκάνα σι
          </summary>
          <blockquote>
            <p class="song_lyrics">
              Αμόνα γκάνα σι<br><br>
              αμόνα γκάνα νο,<br><br>
              αμόνα γκάνα σι νο σι. <br><br>
              Ρούμπα. <br><br>
              Σάμπα. <br><br>
              Ραμάτα λα κουτσίνα.
              <span class="quote_after">”</span></p>
          </blockquote>
        </details>
        <details>
          <summary class="summary_song_title_movement">
            Κίλε κίλε
          </summary>
          <blockquote>
            <p class="song_lyrics">
              Κίλε κίλε κίλε της Αγέλης<br><br>
              Η ζωή είναι μπουμ μπουμ μπουμ<br><br>
              Κίλε κίλε κίλε της Αγέλης<br><br>
              Η ζωή είναι μπουμ<br><br>
              Μια καλή πράξη<br><br>
              Κάθε μέρα μπουμ μπουμ μπουμ<br><br>
              Μια καλή πράξη<br><br>
              Κάθε μέρα μπουμ<br><br><br>
              Κίλε κίλε κίλε της Αγέλης<br><br>
              Η ζωή είναι (x3 παλαμάκια) <br><br>
              Κίλε κίλε κίλε της Αγέλης <br><br>
              Η ζωή είναι (παλαμάκι) <br><br>
              Μια καλή πράξη <br><br>
              Κάθε μέρα (x3 παλαμάκια) <br><br>
              Μια καλή πράξη<br><br>
              Κάθε μέρα (παλαμάκι) <br><br><br>
              Κίλε κίλε κίλε της Αγέλης<br><br>
              Η ζωή είναι (x3 παλαμάκια) <br><br>
              Κίλε κίλε κίλε της Αγέλης<br><br>
              Η ζωή είναι (παλαμάκι) <br><br>
              (1 - δείχνουμε με το δάχτυλο) καλή πράξη<br><br>
              Κάθε μέρα (x3 παλαμάκια) <br><br>
              (1 - δείχνουμε με το δάχτυλο) καλή πράξη<br><br>
              Κάθε μέρα (παλαμάκι)
              <span class="quote_after">”</span></p>
          </blockquote>
        </details>
        <details>
          <summary class="summary_song_title_movement">
            Τσε τσε κορέ
          </summary>
          <blockquote>
            <p class="song_lyrics">
              Τσε τσε κορέ<br>
              Τσε κορέσα<br><br>
              Ατς μάγκα<br>
              μάγκα<br><br>
              μάγκα κορέ<br>
              Τσέ τσε κορέ
              <span class="quote_after">”</span></p>
          </blockquote>
        </details>
        <details>
          <summary class="summary_song_title_movement">
            Μπερεκεντέ
          </summary>
          <blockquote>
            <p class="song_lyrics">
              Μπερεκεντέ (βάζουμε το χέρι μας στον ώμο του δεξιά μας) <br><br>
              Μπερεκεντέ (βάζουμε το χέρι μας στον ώμο του αριστερά μας) <br><br>
              Μπερεκεντέ κεντε κεντεκε, (στη διάρκεια αυτών των στίχων μπερεκεντέ κεντε κεντεκε, γυρίζουμε χοροπηδώντας
              σε μπερεκεντέ κεντε κεντεκε, κύκλο δεξιά, αριστερά ή και τα δύο) <br>
              Μπερεκεντέ. <br><br>
              Μπερεκεντέ (βάζουμε το χέρι μας στο αυτί του δεξιά μας) <br><br>
              Μπερεκεντέ (βάζουμε το χέρι μας στο αυτί του αριστερά μας) <br>
              Μπερεκεντέ (βάζουμε το χέρι μας στο κεφάλι του δεξιά μας) <br>
              Μπερεκεντέ (βάζουμε το χέρι μας στον κεφάλι του αριστερά μας) <br><br>
              Μπερεκεντέ (βάζουμε το χέρι μας στο γόνατο του δεξιά μας) <br>
              Μπερεκεντέ (βάζουμε το χέρι μας στο γόνατο του αριστερά μας) <br><br>
              Μπερεκεντέ (βάζουμε το χέρι μας στον αστράγαλο του δεξιά μας) <br>
              Μπερεκεντέ (βάζουμε το χέρι μας στον αστράγαλο του αριστερά μας) <br><br>
              Μπερεκεντέ κεντε κεντεκε, (στη διάρκεια αυτών των στίχων μπερεκεντέ κεντε κεντεκε, γυρίζουμε
              χοροπηδώντας σε μπερεκεντέ κεντε κεντεκε, κύκλο δεξιά, αριστερά ή και τα δύο) <br>
              Μπερεκεντέ
              <span class="quote_after">”</span>
            </p>
          </blockquote>
          <iframe width="560" height="315" src="https://www.youtube.com/embed/q10QlMwA29A" title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
        </details>
        <details>
          <summary class="summary_song_title_movement">
            Οι λίλι
          </summary>
          <blockquote>
            <p class="song_lyrics">
              όι λίλι<br>
              αμεριτικιτόμπα<br>
              αμόσα μόσα μόσα<br>
              ό ι λί λουά αμπα λου μπί<br><br>
              Επαναλαμβάνουμε το τραγούδι όλο και πιο σιγά και την τελευταία φορά το λέμε φωναχτά
              <span class="quote_after">”</span></p>
          </blockquote>
        </details>
        <details>
          <summary class="summary_song_title_movement">
            Αραμ σαμ σαμ
          </summary>
          <blockquote>
            <p class="song_lyrics">
              Αράμ σαμ σαμ<br>
              Αράμ σαμ σαμ<br>
              γουλι γούλι γούλι γούλι<br>
              γουλι ράμ σαμ σαμ (2) <br><br>
              Αράβι αράβι<br>
              γουλι γούλι γουλι<br>
              ραμ σαμ σαμ<br><br>
              Επαναλαμβάνουμε όλο και πιο γρήγορα
              <span class="quote_after">”</span></p>
          </blockquote>
        </details>
        <details>
          <summary class="summary_song_title_movement">
            Προσκοπικό έχω πνεύμα
          </summary>
          <blockquote>
            <p class="song_lyrics">
              Προσκοπικό έχω πνεύμα<br>
              μεσ΄ στο μυαλό (3 φορές) <br>
              Προσκοπικό έχω πνεύμα μεσ΄ στο μυαλό όσο ζω. <br><br>
              Προσκοπικό έχω πνεύμα<br>
              μεσ΄ στη καρδιά (3 φορές) <br>
              Προσκοπικό έχω πνεύμα μεσ΄ στη καρδιά όσο ζω. <br><br>
              Προσκοπικό έχω πνεύμα <br>
              τριγύρω μου (3 φορές) <br>
              Προσκοπικό έχω πνεύμα τριγύρω μου όσο ζω. <br><br>
              Προσκοπικό έχω πνεύμα<br>
              μεσ΄ στο μυαλό,<br>
              μεσ΄ στη καρδιά,<br>
              τριγύρω μου,<br>
              προσκοπικό έχω πνεύμα στο είναι μου όσο ζω.
              <span class="quote_after">”</span></p>
          </blockquote>
        </details>
        <details>
          <summary class="summary_song_title_movement">
            Η βροχή
          </summary>
          <blockquote>
            <p class="song_lyrics">
              Στάλα - στάλα η βροχή<br>
              όλα τα μουσκεύει<br>
              στάλα - στάλα η βροχή<br>
              βρέχεσαι κι εσύ. <br><br>
              Ξέρω καλά το δρόμο,<br>
              γνωρίζω το χωριό<br>
              περνώ μεσ’ απ’ τις λάσπες<br>
              κι όμως πάντα τραγουδώ. <br><br>
              Πατάω μεσ’ στη λάσπη,<br>
              βουτιέμαι ως το λαιμό,<br>
              όμως εγώ προσέχω<br>
              πάντα να μη λερωθώ. <br><br>
              Μα πίσω απ’ τη μαυρίλα<br>
              βγαίνει ο ήλιος χαρωπός,<br>
              στεγνώνει το χωριό<br>
              κι όλους κι όλα στο λεπτό. <br><br>
              Στάλα - στάλα η βροχή<br>
              τα σύννεφα φεύγουν<br>
              έπαψε πια η βροχή<br>
              στέγνωσες κι εσύ.
              <span class="quote_after">”</span></p>
          </blockquote>
        </details>
        <details>
          <summary class="summary_song_title_movement">
            Του Γιαννάκη το μωρό
          </summary>
          <blockquote>
            <p class="song_lyrics">
              Του Γιαννάκη το μωρό<br>
              έχει κρύο στο λαιμό<br>
              και το τρίψανε με καμφορέλαιο. <br><br>
              Καμφο - καμφο - καμφορέλαιο (δις) <br>
              και το τρίψανε με καμφορέλαιο. <br><br>
              Του Γιαννάκη το μωρό έχει κρύο στο ... <br>
              και το τρίψανε με καμφορέλαιο. <br><br>
              Του Γιαννάκη το μωρό έχει αψξού στο ... <br>
              και το τρίψανε με καμφορέλαιο. <br><br>
              Του Γιαννάκη το μωρό έχει ... <br>
              και το τρίψανε με καμφορέλαιο.
              <span class="quote_after">”</span></p>
          </blockquote>
        </details>
        <details>
          <summary class="summary_song_title_movement">
            Η γίδα
          </summary>
          <blockquote>
            <p class="song_lyrics">
              Μια γίδα μια φορά κουνώντας την ουρά<br>
              εχώθηκε κρυφά να φάει κουκιά χλωρά<br><br>
              Κουνούσε την ουρά (τρις) <br>
              και μάσαγε γερά. <br><br>
              Ο μπάρμπας ο κουκάς την άρπαξε με μιας<br>
              και τρέχει ο φουκαράς ευθύς στους δικαστάς. <br><br>
              Κουνούσε την ουρά (τρις) <br>
              και μάσαγε γερά. <br><br>
              Η γίδα τότε εκεί, πολύ προσεκτική,<br>
              τους νόμους ερευνά και της πηγαίνει να! <br><br>
              Κουνούσε την ουρά (τρις) <br>
              και μάσαγε γερά. <br><br>
              Εχει πια αντιληφθεί πως θα τιμωρηθεί,<br>
              βουτάει το κλειδί και φεύγει στη στιγμή. <br><br>
              Κουνούσε την ουρά ( τρις) <br>
              και μάσαγε γερά.
              <span class="quote_after">”</span></p>
          </blockquote>
        </details>
        <h2>Προσευχές</h2>
        <details>
          <summary class="summary_song_title_prayers">
            Η μέρα πάει Χριστέ...
          </summary>
          <blockquote>
            <p class="song_lyrics">
              Η μέρα πάει,<br>
              ο ήλιος πάει<br>
              στα βουνά, πέφτει η νύχτα βαθιά<br>
              σκοτεινιάζει<br>
              κι ο Θεός μας φυλάει,<br>
              μας φυλάει. <br><br>
              Χριστέ στις σκηνές μαζεμένοι<br>
              μέσα στης νύχτας τη σιγή<br>
              οι Πρόσκοποι ψάλλουν στον Πλάστη<br>
              μια προσευχή ευλαβική. <br><br>
              Εσύ που έπλασες τον κόσμο <br>
              και στα πουλιά δίνεις τροφή <br>
              φάνου σπλαχνικός στα παιδιά Σου <br>
              κι οδήγα μας στην αρετή. <br><br>
              Όλοι ερχόμαστε προς Εσένα <br>
              την Πηγή της αιώνιας ζωής <br>
              πρόσδεξε τη δέησή μας <br>
              που βγαίνει απ' την ψυχή μας <br>
              Συ του κόσμου ο Λυτρωτής.
              <span class="quote_after">”</span></p>
          </blockquote>
        </details>
        <details>
          <summary class="summary_song_title_prayers">
            Κουμπαγιά
          </summary>
          <blockquote>
            <p class="song_lyrics">
              Κουμπαγιά Θεέ μου, κουμπαγιά<br>
              Κουμπαγιά Θεέ μου, κουμπαγιά<br>
              Κουμπαγιά Θεέ μου, κουμπαγιά<br>
              Ω Θεέ μου κουμπαγιά<br><br>
              Κάποιος πεινάει Θεέ μου, δώσ’ του ψωμί<br>
              Κάποιος πεινάει Θεέ μου, δώσ’ του ψωμί<br>
              Κάποιος πεινάει Θεέ μου, δώσ’ του ψωμί<br>
              Ω Θεέ μου δωσ’ του ψωμί. <br><br>
              Κάποιος διψάει Θεέ μου, δώσ’ του νερό <br>
              Κάποιος διψάει Θεέ μου, δώσ’ του νερό<br>
              Κάποιος διψάει Θεέ μου, δώσ’ του νερό<br>
              Ω Θεέ μου δώσ’ του νερό. <br><br>
              Κάποιος πονάει Θεέ μου, δώσ’ του γαλήνη <br>
              Κάποιος πονάει Θεέ μου, δώσ’ του γαλήνη<br>
              Κάποιος πονάει Θεέ μου, δώσ’ του γαλήνη<br>
              Ω Θεέ μου δώσ’ του γαλήνη<br><br>
              Κουμπαγιά...
              <span class="quote_after">”</span></p>
          </blockquote>
        </details>
        <details>
          <summary class="summary_song_title_prayers">
            Συ που κόσμους κυβερνάς
          </summary>
          <blockquote>
            <p class="song_lyrics">
              Συ που κόσμους κυβερνάς,<br>
              και ζωή παντού σκορπάς,<br>
              άκου τούτη τη στιγμή,<br>
              των παιδιών σου τη φωνή. <br><br>
              Φώτιζε μας τη ψυχή, <br>
              στο καλό, την αρετή. <br>
              Δίνε μας από ψηλά, <br>
              Θάρρος, δύναμη, χαρά. <br><br>
              Για να ζούμε εδώ στη γη, <br>
              με γαλήνη, με τιμή,<br>
              Και να υμνούμ' αιώνια<br>
              Σε, Πάνσοφε, Δημιουργέ!
              <span class="quote_after">”</span></p>
          </blockquote>
        </details>
        <details>
          <summary class="summary_song_title_prayers">
            Μες τη νύχτα
          </summary>
          <blockquote>
            <p class="song_lyrics">
              Μες τη νύχτια ποθεί η ψυχή μας<br>
              τον ύμνο της να τραγουδήσει<br>
              κι ' ευλαβικά να σ'ανυμνήσει<br>
              τρισδοξασμένε λυτρωτή μας<br><br>
              Όλη τη μέρα τ' αγαθά σου<br>
              μ' απλοχεριά μας τα σκορπούσες<br>
              και στοργικά αφορμή ζητούσες<br>
              να ευεργετήσεις τα παιδιά σου<br><br>
              Οι πόθοι μας θα 'ναι δικοί σου<br>
              και μες τον ύπνο μας ακόμα<br>
              κι ας μας ξυπνήσει η προσταγή σου<br>
              μες της αυγής το απαλό χρώμα<br><br>
              Και τώρα έλα στις σκηνές μας<br>
              αγγελική φρουρά να στήσεις<br>
              και με την άγια σου τη χάρη<br>
              Πατέρα να μας ευλογήσεις
              <span class="quote_after">”</span></p>
          </blockquote>
        </details>
        <details>
          <summary class="summary_song_title_prayers">
            Πάνω στα αιθέρια
          </summary>
          <blockquote>
            <p class="song_lyrics">
              Πάνω στα αιθέρια<br>
              πιο ψηλά απ' τ' αστέρια<br>
              φτάνει η προσευχή μου<br>
              κι η φωνή μου<br><br>
              Ανυμνώ και ευλογώ<br>
              Θεέ μου το όνομά σου<br>
              και να κάνω ποθώ<br>
              τ' άγιο θέλημά σου. <br><br>
              Όταν ο Θεός μου<br>
              είναι βοηθός μου<br>
              βλέπω την αλήθεια<br>
              και το φως μου<br><br>
              Ανυμνώ και ευλογώ <br>
              Θεέ μου το όνομά σου<br>
              και να κάνω ποθώ<br>
              τ' άγιο θέλημά σου.
              <span class="quote_after">”</span></p>
          </blockquote>
        </details>
        <h2>Προσκοπικά Τραγούδια</h2>
        <details>
          <summary class="summary_song_title_scouts">
            Τραγούδι αποχωρισμού
          </summary>
          <blockquote>
            <p class="song_lyrics">
              Μηπώς πρεπεί να φύγουμε,<br>
              χωρίς ελπίδα πια,<br>
              πως θα ξανανταμώσουμε<br>
              και πάλι με χαρά<br><br>
              Οχι δεν χωριζόμαστε<br>
              για πάντοτε παιδιά<br>
              μα θα ξαναβλεπόμαστε<br>
              αδέλφια μου συχνά<br><br>
              Και τώρα ας ενώσουμε<br>
              τα χέρια ολοί μαζί<br>
              και αλυσίδα ας πλέξουμε<br>
              αγάπης δυνατή. <br><br>
              Και ο Θεός που αδιάκοπα<br>
              μας βλέπει απο ψηλά<br>
              θα μας ενώσει κάποτε<br>
              ολούς μαζί ξανά. <br><br>
              Παλιό κι ωραιό παρελθόν<br>
              που ζήσαμε μαζί<br>
              ας μείνει για παράδειγμα<br>
              στη νέα μας ζωή.
              <span class="quote_after">”</span></p>
              <iframe width="560" height="315" src="https://www.youtube.com/embed/uoonEACi8Hc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </blockquote>
        </details>
      </details>
      <details>
        <summary class="summary_song_title_scouts">
          Σαν το ξένοιαστο πουλί
        </summary>
        <blockquote>
          <p class="song_lyrics">
            Σαν το ξένοιαστο πουλί παντού πετώ<br>
            σε βουνά και σε λαγκάδια τριγυρνώ<br>
            και για όπλο το ραβδί μου<br>
            και για στέκι τη σκηνή μου<br>
            στο βουνό κατασκηνώνω στο λεπτό. <br><br>
            Γιούπι για για, γιούπι γιούπι για (4) <br><br>
            Στο καΐκι και στην βάρκα σαν βρεθώ<br>
            σ’ ότι κι αν µε συμβουλεύσει ο Αρχηγός<br>
            µε χαρά θα το εκτελέσω<br>
            κι έτσι πάντα θα μπορέσω<br>
            στα κατάρτια και στα ξάρτια ν’ ανεβώ. <br><br>
            Γιούπι για για, γιούπι γιούπι για (4) <br><br>
            Με θαυμάζουν σαν γυρνώ απ’ εκδρομή<br>
            µε σακκίδιο παγούρι και ραβδί<br>
            λέω πάντα την αλήθεια<br>
            κι έχω τούτη τη συνήθεια<br>
            όπου βρίσκομαι να κάνω το καλό.
            <span class="quote_after">”</span></p>
        </blockquote>
      </details>
      </article>
    </div>