<input type="hidden" name="page" value="usefull_music" class="page_name">
<div class="page-image">
  <img src="/images/usefull/music/pexels-pixabay-164821.jpg" alt="εικόνα με μουσικές νότες"
    style="border-bottom: 7px solid rgb(61, 61, 61);">
</div>
<h2 class="title_page">Τραγούδια</h2>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-9 order-1 order-md-2 second_column">
      <article class="scout_group_music_article">
        <p>
          Δείτε παρακάτω μία συλλογή με προσκοπικά τραγούδια. Κάντε κλικ σε όποιο τραγούδι θέλετε για να δείτε τους
          στίχους! Σε κάποια τραγούδια εμφανίζεται
          επίσης ένα ηχητικό κομμάτι για να το ακούσετε.
        </p>
        <h2>Τραγούδια Αγέλης</h2>
        <details>
          <summary class="summary_song_title_cubs">
            100 Χρόνια παρέα
          </summary>
          <blockquote>
            <p class="song_lyrics">Φτιάχνω πάλι το σακίδιο μου<br>
              φαίνεται όμως πιο βαρύ<br>
              το ανοίγω κι' αντικρίζω<br>
              γέλιο και χαρά πολύ<br><br>
              Έσο Έτοιμος για πάντα<br>
              Έσο Έτοιμος θα πει<br>
              100 χρόνια παρέα<br>
              100 χρόνια μαζί (2)<br><br>
              Προσκοπος θα πει να έχεις<br>
              πάντα αγάπη στην καρδιά<br>
              Θεό πατρίδα εμπειρίες<br>
              κι όλα θα σου παν καλά<br><br>
              Έσο Έτοιμος για πάντα<br>
              Έσο Έτοιμος θα πει<br>
              100 χρόνια παρέα<br>
              100 χρόνια μαζί(3)
              <span class="quote_after">”</span></p>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/kOKKwmw1CD4"
              title="YouTube video player" frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen></iframe>
          </blockquote>
        </details>
        <details>
          <summary class="summary_song_title_cubs">
            Ο άσπρος Ραν
          </summary>
          <blockquote>
            <p class="song_lyrics">Τον Μόγλη οι μαϊμούδες τον πήραν και παν<br>
              κι ενώ τον τραβούσαν ψηλά στα κλαδιά,<br>
              αυτός τότε βλέπει τον άσπρο τον Ραν<br>
              κι αμέσως του κράζει πολύ δυνατά.<br><br>
              Άσπρε Ραν, Άσπρε Ραν, Άσπρε Ραν, Άσπρε Ραν<br>
              οι μαϊμούδες επήραν τον Μόγλη και πάν (δις)<br><br>
              Για πέτα στη ζούγκλα να βρείς τον Μπαλού,<br>
              να βρείς τον Μαπγκήρα τους άλλους αλλού<br>
              και γρήγορα τρέξτε στην Κρύα Μονιά<br>
              κει που `χουν στήσει οι μαϊμούδες φωλιά.<br><br>
              Χτυπώντας γερά τις φτερούγες ο Ραν,<br>
              τον γέρο Μπαλού, τον Μπαγκήρα, τον Κάα,<br>
              τους βρίσκει και λέει, μ΄ αυτοί τον κοιτάν<br>
              πως τον Μόγλη οι μαϊμούδες τον πήραν και παν.<br><br>
              Εμπρός για τρεχάτε στην Κρύα Μονιά,<br>
              κει που τα Μπάντερλογκ στήσαν φωλιά.<br>
              Και τρεξαν και σώσαν το Μόγλη παιδιά<br>
              και πρώτος ο Ραν έχει απ΄ όλους χαρά.
              <span class="quote_after">”</span></p>
          </blockquote>
        </details>
        <details>
          <summary class="summary_song_title_cubs">
            Μόγλης και μπατερλογκ
          </summary>
          <blockquote>
            <p class="song_lyrics">Ο Μόγλης στα λημέρια μας εφάνηκε<br>
              μα τα μπάντερλογκ τον επιάσανε,<br>
              για δες και την ωραία μας ουρά<br>
              που είναι όμορφη και μακριά.
              <span class="quote_after">”</span></p>
          </blockquote>
        </details>
        <details>
          <summary class="summary_song_title_cubs">
            Σαν πήγα στα λυκάκια
          </summary>
          <blockquote>
            <p class="song_lyrics">Σαν πήγα στα Λυκάκια, Λυκάκι να γένω (δις)<br>
              Λυκάκι να γενώ χαρούμενο και γελαστό και γελαστό<br>
              λυκάκι να γενώ πάντοτε χαρωπό. <br><br>
              Τζόκευ κάπελακι, μου δώσαν να φορώ<br>
              τζόκευ κάπελακι, μου δώσαν να φορώ<br>
              μου δώσαν να φορώ με τι καμάρι περπατώ περπατώ<br>
              μου δώσαν να φορώ με τι χαρά εγώ<br><br>
              Μια καλή πράξη μου παν να κάνω πάντα εγώ<br>
              μια καλή πράξη μου παν να κάνω πάντα εγώ<br>
              να κάνω πάντα εγώ χωρίς να παίρνω ευχαριστώ ευχαριστώ<br>
              να κάνω πάντα εγώ χωρίς ευχαριστώ.
              <span class="quote_after">”</span></p>
          </blockquote>
        </details>
        <details>
          <summary class="summary_song_title_cubs">
            Ο χορός της Μπαλού
          </summary>
          <blockquote>
            <p class="song_lyrics">Όρθια τ΄ αυτιά σου Λυκόπουλο,<br>
              πάντοτε ν΄ ακούς τον Γερόλυκο.<br>
              Κλείσε τ΄ αυτιά σου Λυκόπουλο,<br>
              στον εαυτό σου τον νεώτερο.
              <span class="quote_after">”</span></p>
          </blockquote>
        </details>
        <details>
          <summary class="summary_song_title_cubs">
            Ο χορός της Μπαγκήρα
          </summary>
          <blockquote>
            <p class="song_lyrics">Δόντια π΄ αστράφτουν<br>
              πόδια που είναι αθόρυβα<br>
              και ματιές που σκίζουν τη νυχτιά.<br>
              Πόδια αθόρυβα<br>
              και ματιές που λάμπουν στη σκιά.
              <span class="quote_after">”</span></p>
          </blockquote>
        </details>
        <details>
          <summary class="summary_song_title_cubs">
            Το τραγούδι της ανάβασης
          </summary>
          <blockquote>
            <p class="song_lyrics">Αδέλφια ας μαζευτούμε εδώ<br>
              μ΄ αγάπη στην καρδιά.<br>
              Μας φεύγει ένα λυκόπουλο<br>
              κι αφήνει τη Φωλιά.<br><br>
              Ω Λύκε, φίλε κι αδελφέ,<br>
              στο δρόμο που θα πας<br>
              να μην ξεχνάς ότι έμαθες<br>
              μαζί μας ν΄ αγαπάς. <br><br>
              Με μάτια μπήκες σφαλιστά<br>
              στη ζούγκλα ένα πρωί<br>
              μα τ΄ άνοιξες σιγά - σιγά<br>
              στην όμορφη ζωή. <br><br>
              Τα χέρια δίνοντας μαζί<br>
              πηγαίναμε μπροστά. <br>
              Πάντα η φιλία θα κρατά <br>
              τα χέρια μας σφιχτά. <br><br>
              Εμπρός τα χέρια ας δώσουμε<br>
              για μια στερνή φορά,<br>
              κι ας μας ενώνει πάντοτε<br>
              η αγάπη κι η χαρά. <br><br>
              Ω Λύκε, φίλε κι αδελφέ<br>
              θυμήσου όπου πας<br>
              τους Λύκους που σε μάθανε<br>
              το Νόμο να κρατάς.
              <span class="quote_after">”</span></p>
          </blockquote>
        </details>
        <details>
          <summary class="summary_song_title_cubs">
            Γίνε 100 κι ' εσύ μπορείς
          </summary>
          <blockquote>
            <p class="song_lyrics">
              Γίνε 100 κι ' εσύ μπορείς<br>
              φτάσε ως την άκρη της κορφής<br>
              όλα στην αγέλη είναι ιδανικά<br>
              με παιχνίδι γέλιο και χαρά<br><br>
              μια προσπάθεια αρκεί<br>
              έστω και αν χάσεις<br>
              φτάνει που δοκίμασες να φτάσεις<br><br>
              Γίνε 100 κι ' εσύ μπορείς <br>
              φτάσε ως την άκρη της κορφής<br><br>
              Πάντα χαμογελαστή βαδίζει τραγουδώντας<br>
              κιτρινίζει γειτονιά περνώντας<br><br>
              Γίνε 100 κι ' εσύ μπορείς<br>
              φτάσε ως την άκρη της κορφής<br>
              όλα στην αγέλη είναι ιδανικά <br>
              με παιχνίδι γέλιο και χαρά<br><br>
              μια προσπάθεια αρκεί <br>
              έστω και αν χάσεις<br>
              φτάνει που δοκίμασες να φτάσεις<br><br>
              Παίξε χαμογέλα<br>
              τραγούδα σαν Ακέλα <br>
              πέντε χρόνια μόνο ευτυχισμένα<br><br>
              Κι' άμα δε σου βγαίνουνε<br>
              κι' άλλο δεν αντέχεις<br>
              να χαμογελάς γι'αυτό που έχεις<br><br>
              Γίνε 100 κι ' εσύ μπορείς<br>
              φτάσε ως την άκρη της κορφής<br><br>
              Κι' όταν η αγέλη σου<br>
              φτάσει στην κορφή<br>
              το τραγούδι δεν τελειώνει εκεί<br><br>
              Κι όταν κατσουφιάζεις<br>
              θέλεις τη μαμά<br>
              έτσι δε θα νιώθεις κατσουφιά<br><br>
              Μέτρα 100 , σφύρα πονηρά<br>
              μπες μέσα στον κύκλο στη χαρά<br><br>
              Γίνε 100 κι ' εσύ μπορείς<br>
              φτάσε ως την άκρη της κορφής<br><br>
              Το τραγούδι αυτό<br>
              ποτέ δεν τελειώνει<br>
              μυρίζει σα θυμάρι και κυδώνι<br><br>
              πάμε εμείς μαζί για άλλα 100 <br>
              είσαι εσύ λυκόπουλο σωστό<br>
              Γίνε 100 κι ' εσύ μπορείς<br>
              φτάσε ως την άκρη της κορφής<br>
              όλα στην αγέλη είναι ιδανικά<br>
              με παιχνίδι γέλιο και χαρά
              <span class="quote_after">”</span></p>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/gXXByjW2rJg"
              title="YouTube video player" frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen></iframe>
          </blockquote>
        </details>
        <details>
          <summary class="summary_song_title_cubs">
            Καινούριο Λυκοπουλάκι
          </summary>
          <blockquote>
            <p class="song_lyrics">
              Καινούργιο Λυκοπουλάκι<br>
              καλώς ήλθες μεσ΄ στη φωλιά.<br>
              Θα γενείς με μας αδελφός<br>
              μ΄ ανοιχτά δύο μάτια στο φώς.<br>
              Στης ζούγκλας θα σ΄ οδηγήσουν το Νόμο Λύκοι παλιοί.<br><br>
              Οπου πας μια πράξη καλή<br>
              και τραγούδια μεσ΄ στη δουλειά.<br>
              Καινούργιο Λυκοπουλάκι<br>
              καλώς ήλθεσ μεσ΄ στη φωλιά.
              <span class="quote_after">”</span></p>
          </blockquote>
        </details>
        <details>
          <summary class="summary_song_title_cubs">
            Η αγέλη πάει εκδρομή
          </summary>
          <blockquote>
            <p class="song_lyrics">
              Πρωί πρωί και φίνα<br>
              με τον Ακέλα πρίμα<br>
              Λυκόπουλα εξάδες<br>
              η Αγέλη ξεκινά.<br><br>
              Καπέλα μ΄ έξι ρίγες<br>
              καλτσάκια με φουντάκι<br>
              σακίδια στην πλάτη<br>
              για εκδρομή παιδιά.<br><br>
              Και φθάνουμε στο δάσος<br>
              στους βράχους και τα σκίνα<br>
              ο Νόμος λέει αμέσως<br>
              γοργά για τη δουλεία. <br><br>
              Ιδρώτας χωματένιος ψωμάκι και νεράκι<br>
              περάσαμε ωραία <br>
              στην εκδρομή παιδιά.
              <span class="quote_after">”</span></p>
          </blockquote>
        </details>
        <details>
          <summary class="summary_song_title_cubs">
            Ένας για όλους και όλοι για έναν
          </summary>
          <blockquote>
            <p class="song_lyrics">
              Θέλω να είμαι φίλος για σένα<br>
              κι εσύ να είσαι φίλος για μένα<br>
              χέρι με χέρι για όλα τα χρόνια<br>
              και έτσι η ΕΙΡΗΝΗ να είναι αιώνια.<br><br>
              Να σε βοηθήσω να με βοηθήσεις<br>
              μαζί να κλάψεις, να τραγουδήσεις<br>
              κι αν μόνος νιώσω, χωρίς κανένα<br>
              ΕΝΑΣ ΓΙΑ ΟΛΟΥΣ ΚΑΙ ΟΛΟΙ ΓΙΑ ΕΝΑΝ.<br><br>
              Μεσ΄ στην Αγέλη, μεσ΄ στις σκηνές μας,<br>
              μέσα στη σκέψη και στις καρδιές μας<br>
              το σύνθημα μας ας είναι ένα :<br>
              ΕΓΩ ΓΙΑ ΣΕΝΑ ΚΙ ΕΣΥ ΓΙΑ ΜΕΝΑ.
              <span class="quote_after">”</span></p>
          </blockquote>
        </details>
        <details>
          <summary class="summary_song_title_cubs">
            Το αστεράκι
          </summary>
          <blockquote>
            <p class="song_lyrics">
              Πάντα ψηλά σαν κοιτάζεις<br>
              μέσ’ το σκοτάδι θα βρεις<br>
              ένα μικρό αστεράκι<br>
              για να οδηγηθείς.<br><br>
              Θε να σου δείχνει το δρόμο<br>
              στο Νότο και στο Βορρά<br>
              κι άμα το βρεις μη φοβάσαι<br>
              όλα θα πάνε καλά.<br><br>
              Γιο - λα - ρι - α (3)<br>
              Γιο - λα - λα - ρι - α - λα –ο<br><br>
              Θάρρος Πρόσκοπέ μου<br>
              σφίξε την καρδιά <br>
              πάρε εμπρός το δρόμο <br>
              δίχως ακεφιά. <br><br>
              Κι όταν το σκοτάδι<br>
              γύρω θα χαθεί<br>
              η ζωή μπροστά σου<br>
              θα φέγγει χαρωπή.
              <span class="quote_after">”</span></p>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/OjyEBRtwg8E"
              title="YouTube video player" frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen></iframe>
          </blockquote>
        </details>
        <details>
          <summary class="summary_song_title_cubs">
            Εμπρός λυκοπουλάκια
          </summary>
          <blockquote>
            <p class="song_lyrics">
              Εμπρός Λυκοπουλάκια<br>
              της ζούγκλας τα παιδιά,<br>
              να πούμε τ΄ αδελφού μας<br>
              τραγούδια απ΄ την καρδιά.<br><br>
              Εβγήκε στο κυνήγι<br>
              με πόδια τρυφερά,<br>
              μα τό 'να μάτι ανοίγει<br>
              και λάμπει από χαρά.
              <span class="quote_after">”</span></p>
          </blockquote>
        </details>
        <details>
          <summary class="summary_song_title_cubs">
            Στην εξοχή
          </summary>
          <blockquote>
            <p class="song_lyrics">
              Στην εξοχή δεν πρέπει να κοιμάσαι<br>
              πρωϊ πρωϊ στο πόδι πρέπει να `σαι<br>
              με την δροσιά τα μούτρα σου να πλένεις<br>
              πλάτσα πλούτσα στα νερά, τρα λαλα λαλα λαλα. (Δις)<br><br>
              Κι αν χρειαστεί να πας υπηρεσία<br>
              πρώτος εσύ να γίνεσαι θυσία<br>
              με ντι ντι ντι στην τρόμπα να τρομπάρεις<br>
              τσουφ τσουφ τσουφ στο ντι ντι ντι, κικιρίκι κικικι (Δις) <br><br>
              Κι όταν σκοπό σε βάλουν να φυλάξεις<br>
              σαν δεις γατιά και κότες μην τρομάξεις<br>
              και τις φωνές μην μπήξεις κάνα βράδυ<br>
              συμμορία βρε παιδιά τρα λαλα λαλα λαλα. (Δις) <br><br>
              Χωρίς μιλιά να τρώς ότι σου δίνουν<br>
              τα μάγουλα σου πρέπει να παχύνουν<br>
              και η μαμά να λέει με καμάρι<br>
              ένα γιόκα που `χω εγώ, πω πω πω να τον χαρώ. (Δις)
              <span class="quote_after">”</span></p>
          </blockquote>
        </details>
        <details>
          <summary class="summary_song_title_cubs">
            Ο σωστός λύκος
          </summary>
          <blockquote>
            <p class="song_lyrics">
              Να΄σαι λυκόπουλο είναι καλά<br>
              μεσ΄ την Αγέλη περνάς μια χαρά<br>
              με γέλιο, τραγούδι, παιχνίδι, εκδρομές<br>
              κυνήγια αλησμόνητα, γνώσεις πολλές.<br><br>
              Μα πρέπει και να `χεις στο νου συνεχώς<br>
              να λέγεσαι Λύκος, μα Λύκος σωστός.<br>
              Την μπλέ και χακί σου στολή σαν φοράς<br>
              με πόσο καμάρι στο δρόμο περνάς, <br><br>
              Νόμο και υπόσχεση ξέρεις καλά<br>
              και στήνεις τ΄ αυτιά σαν ο ΑΚΕΛΑ μιλά.<br>
              Μα πρέπει και να `χεις στο νου συνεχώς<br>
              να λέγεσαι Λύκος, μα Λύκος σωστός. <br><br>
              Η κάθε σου πράξη να είναι καλή<br>
              κι ο Νόμος σου ναν΄ οδηγός στη ζωή<br>
              να δίνεις το χέρι σε όποιον πονεί<br>
              και να έχεις αδέλφια σε όλη την γή. <br><br>
              Γιατί πρέπει να `χεις στο νου συνεχώς<br>
              να λέγεσαι Λύκος, μα Λύκος σωστός.
              <span class="quote_after">”</span></p>
          </blockquote>
        </details>
        <details>
          <summary class="summary_song_title_cubs">
            Άσπρα και μαύρα τα λυκάκια
          </summary>
          <blockquote>
            <p class="song_lyrics">
              Άσπρα και μαύρα τα Λυκάκια<br>
              πιτσιλωτά, σταχτιδερά<br>
              όλα μαζί σε μιαν Αγέλη.<br>
              Και θα γλεντήσουμ΄ω χαρά μας<br>
              σε πανηγύρι χαρωπό<br>
              όλοι οι Λύκοι ενωμένοι.<br><br>
              Λα - λα - λα - λα - λα - λα...<br><br>
              Ένα τραγούδι όλοι θα πούμε<br>
              χαρούμενο και γελαστό<br>
              τραγούδι μέσα απ΄ την καρδιά μας.<br>
              Και θα δεθούμε μια για πάντα<br>
              και θα γενούμε αδελφοί<br>
              όλοι οι Λύκοι μεσ΄ τον κόσμο.<br><br>
              Λα - λα - λα - λα - λα - λα...<br><br>
              Αν ενά παιδί τυχεί να σου πει<br>
              πως Λυκόπουλο είναι, να μην γελαστείς.<br>
              Γιατί ψέματα πάντα θα σου πει αν δε το ιδείς φαιδρό.<br><br>
              Γιατί πάντα ένα Λυκάκι,<br>
              δεν θυμώνει, δεν δακρύζει. <br>
              Κι αν ένα κακό πάθει μια φορά,<br>
              εύθυμο ευθύς σφυρά.
              <span class="quote_after">”</span></p>
          </blockquote>
        </details>
        <details>
          <summary class="summary_song_title_cubs">
            Αν ένα παιδί
          </summary>
          <blockquote>
            <p class="song_lyrics">
              Αν ενά παιδί τυχεί να σου πει<br>
              πως Λυκόπουλο είναι, να μην γελαστείς.<br>
              Γιατί ψέματα πάντα θα σου πει αν δε το ιδείς φαιδρό.<br><br>
              Γιατί πάντα ένα Λυκάκι,<br>
              δεν θυμώνει, δεν δακρύζει.<br>
              Κι αν ένα κακό πάθει μια φορά,<br>
              εύθυμο ευθύς σφυρά.
              <span class="quote_after">”</span></p>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/UCPxINj87eE"
              title="YouTube video player" frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen></iframe>
          </blockquote>
        </details>
        <details>
          <summary class="summary_song_title_cubs">
            Τα λυκόπουλα
          </summary>
          <blockquote>
            <p class="song_lyrics">
              Τα μικρά - μικρά Λυκοπουλάκια<br>
              των Προσκό - Προσκόπων πιο μικρά<br>
              παίζουν, τρέχουν, τραγουδουν, γελάνε<br>
              κι η ζωή τους όμορφα κυλά.<br>
              Κι αν καμμιά φορά κανένα εμπόδιο<br>
              μεσ΄ στο δρόμο τους τυχόν βρεθεί<br>
              εύθυμα - πολύ εύθυμα σφυρίζουν<br>
              είμαστε εμείς οι Λύκοι οι τρομεροί<br><br>
              Τον Γερόλυκο πάντα ακούνε<br>
              και στο Νόμο μένουνε πιστά<br>
              μ΄ εκδρομές, παιχνίδια και τραγούδια<br>
              η ζωή τους εύθυμη κυλά.
              <span class="quote_after">”</span></p>
          </blockquote>
        </details>
        <details>
          <summary class="summary_song_title_cubs">
            Τα θηρία
          </summary>
          <blockquote>
            <p class="song_lyrics">
              Πως κανείς μπορεί ρι ρι<br>
              να δει μια φορά ρα ρα<br>
              γάτας το αυτί τι τι<br>
              ποντικός να γαργαλά.<br><br>
              Και μια αλεπού<br>
              δεν θυμαμαί που<br>
              συζητά κι αυτή<br>
              μ΄ ένα κυκνό γκρι.<br><br>
              Πάνθηρ μελαμψός<br>
              κι ένας πετεινός<br>
              ω! τι τρομερό<br>
              πίνουνε νερό. <br><br>
              Τώρα εξηγώ<br>
              τούτο τι θα πεί<br>
              τα θηρία αυτά<br>
              ειν΄ Λυκοπουλά. <br><br>
              Κι όμως έχω εδ<br>
              ώ λύκο και λαγό<br>
              που παίζουν μαζί<br>
              πλάϊ σ΄ ένα αρνί.
              <span class="quote_after">”</span></p>
          </blockquote>
        </details>
        <details>
          <summary class="summary_song_title_cubs">
            Αν θέλεις να περάσεις
          </summary>
          <blockquote>
            <p class="song_lyrics">
              Αν θέλεις να περάσεις<br>
              μια αξέχαστη βραδιά, ν<br>
              α δεις και να θαυμάσεις<br>
              όλο ζωή παιδιά. <br><br>
              Τραγούδια αν θές ν΄ ακούσεις<br>
              να νοιώσεις πολλή χαρά,<br>
              εύθυμη συντοφιά, πάντα καλή καρδιά<br>
              θα βρείς μεσ΄ στα Λυκόπουλα. <br><br>
              Ελα να ζήσεις μαζί μας (γιου - χου!!) <br>
              Για μια βραδιά τη ζωή μας (γιου - χου!!) <br>
              και τότε πόθο θα νοιώσεις<br>
              να μείνεις για πάντα με μας.
              <span class="quote_after">”</span></p>
          </blockquote>
        </details>
        <details>
          <summary class="summary_song_title_cubs">
            Το πράσινο σκουφί μου
          </summary>
          <blockquote>
            <p class="song_lyrics">
              Το πράσινο σκουφί μου σαν φορώ<br>
              με κέφι μεσ΄ στους δρόμους προχωρώ<br>
              και κοιτώ δεξιά και κοιτώ αριστερά<br>
              και απλόχερα σκορπάω τη χαρά. (Δις) <br><br>
              Το μπλέ μου το μαντήλι σαν φορώ<br>
              χαρούμενος στη φύση τριγυρνώ<br>
              στα ψηλά τα βουνά, στ΄ ακρογιάλια τα χρυσά<br>
              μακριά από της πόλης την καπνιά. (Δις)
              <span class="quote_after">”</span></p>
          </blockquote>
        </details>
        <details>
          <summary class="summary_song_title_cubs">
            Μέσα στα δάση
          </summary>
          <blockquote>
            <p class="song_lyrics">
              Μέσα στα πυκνά τα δάση<br>
              ζιμ - ζιρίμ - ζιμ - ζιμ - ζιμ - ζιμ<br>
              ο γερόλυκος φωνάζει<br>
              ζιμ - ζιρίμ - ζιμ - ζιμ - ζιμ - ζιμ<br>
              και αμέσως τα μικρά<br>
              τε - τερέ - τε - τέε<br>
              κύκλο κάνουνε σφιχτά<br>
              τε - τερέ - τε - τέε<br>
              και αυτός τα συμβουλεύει<br>
              βάου - βάου - βάου - βάου - βάου - βάο<br>
              υ και ό,τι του ζητούν τους λέει<br>
              τε - τερέ - τε - τερέ - τε - τερέ - τε - τέε<br><br>
              Της Ελλάδος τα παιδάκια<br>
              ζιμ - ζιρίμ - ζιμ - ζιμ - ζιμ - ζιμ<br>
              τα μικρά Λυκοπουλάκια<br>
              ζιμ - ζιρίμ - ζιμ - ζιμ - ζιμ - ζιμ<br>
              τον Ακέλα ερωτούν<br>
              τε - τερέ - τε - τέε<br>
              και όλο συμβουλές ζητούν<br>
              τε - τερέ - τε - τέε<br>
              και αυτός τα συμβουλεύει<br>
              βάου - βάου - βάου - βάου - βάου - βάου<br>
              και ό,τι του ζητούν τους λέει<br>
              τε - τερέ - τε - τερέ - τε - τερέ - τε - τέε.
              <span class="quote_after">”</span></p>
          </blockquote>
        </details>
        <details>
          <summary class="summary_song_title_cubs">
            Μες τη ζούγκλα
          </summary>
          <blockquote>
            <p class="song_lyrics">
              Μεσ΄ την ζούγκλα, μεσ΄ την ζούγκλα<br>
              του παλιού μας του χωριού<br>
              ζούνε δυο Λυκοπουλάκια,<br>
              που θυμίζουνε Ζουλού. (Δις) <br><br>
              Μεσ΄ στη ζούκλα, μεσ΄ την ζούκλα<br>
              μεσ΄ στου Λύκου τη φωλιά<br>
              αξιέπαινος θα είναι<br>
              όποιος ζήσει μια βραδιά. <br><br>
              Είναι δυο τρανοί λεβέντες<br>
              παλληκάρια διαλεχτά,<br>
              μόνο μην τους πεις τα βράδια<br>
              ιστορίες για θεριά. <br><br>
              Δεν φοβούνται, δεν φοβούνται<br>
              τιποτ΄ άλλο παρ΄ εκτός<br>
              τα μυρμήγκια, τα κουνούπια<br>
              και το σκότος της νυκτός.
              <span class="quote_after">”</span></p>
          </blockquote>
          <iframe width="560" height="315" src="https://www.youtube.com/embed/2CJLhh4cg3c" title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
        </details>
        <details>
          <summary class="summary_song_title_cubs">
            Μ'αρέσει
          </summary>
          <blockquote>
            <p class="song_lyrics">
              Μ΄ αρέσει να τρέχω<br>
              με φίλους στο δάσος<br>
              να χαίρομαι κάθε στιγμή. <br><br>
              Να είναι γεμάτη<br>
              τραγούδι η ζωή μου<br>
              και να `ναι η δουλειά μας γιορτή. <br><br>
              Μ΄ αρέσει να είμαι<br>
              κοντά στους ανθρώπους<br>
              παντού να σκορπάω τη χαρά. <br><br>
              Το γέλιο μου να `ναι<br>
              γι΄ αυτούς η ελπίδα<br>
              πως όλα θα πάνε καλά. <br><br>
              Κλείσε τα μάτια κι ευχήσου<br>
              να γίνουν αδέλφια<br>
              οι άνθρωποι στη γή. <br><br>
              Κι η κάθε στιγμή<br>
              ας γίνει προσπάθεια<br>
              να γίνει αλήθεια η ευχή
              <span class="quote_after">”</span></p>
          </blockquote>
        </details>
        <details>
          <summary class="summary_song_title_cubs">
            Έχασα το ντο
          </summary>
          <blockquote>
            <p class="song_lyrics">
              Έχασα το ντο του μικρού κλαρίνου<br>
              σαν το μάθει ο Ακέλας τι θα πει<br>
              θα με διώξει απ΄ την Αγέλη στη στιγμή<br>
              Τοπακαραρόπ<br>
              τοπάο παο πα (δις) <br><br>
              Εχασα το ρε<br>
              Εχασα το μι<br>
              Εχασα το φα<br>
              Εχασα το σολ<br>
              Εχασα το λα<br>
              Εχασα το σι<br><br>
              Εχασα το ντο, το ρε, το μι, το φα,<br>
              το σολ, το λα, το σι του μικρού κλαρίνου.
              <span class="quote_after">”</span></p>
          </blockquote>
        </details>
        <details>
          <summary class="summary_song_title_cubs">
            Δείτε τα λυκάκια
          </summary>
          <blockquote>
            <p class="song_lyrics">
              Δείτε τα Λυκάκια, τι παιδιά γερά<br>
              παίζουν τραγουδάνε, τρέχουν ζωηρά. <br>
              Σ΄ αδελφό δίνουνε χέρι,<br>
              πήρε πια δεύτερ΄ αστέρι,<br>
              κι έχουνε χαρά. (Δις) <br><br>
              Θαν τα δύο του μάτια πάντοτ΄ ανοιχτά<br>
              το καλό να κάνει σ΄ όλους θα ζητά. <br>
              Σε πλαγιές, στ΄ άγρια δάση,<br>
              προχωρεί πρώτος να φθάσει<br>
              στη σωστή χαρά. (Δις) <br><br>
              <span class="quote_after">”</span></p>
          </blockquote>
        </details>
        <details>
          <summary class="summary_song_title_cubs">
            Είμαστε λυκόπουλα
          </summary>
          <blockquote>
            <p class="song_lyrics">
              Είμαστε Λυκόπουλα χωρίς ουρά κι αυτιά,<br>
              Ολά ενωμένα μέσα σα μια φωλιά. <br><br>
              Το `ΠΑΝΤΑ ΠΡΟΘΥΜΟΙ` για το καλό<br>
              είν΄ τ΄ ονειρό μας το παντοτεινό. <br>
              Λυκόπουλα εμείς, Λυκόπουλα θαρρείς. (Δις) <br><br>
              Τον Ακέλα ακούμε σαν καλά παιδιά <br>
              κι η Μπαλού ιστορίες του δάσους μας μιλά <br><br>
              Με τον Μπαγκήρα παίζουμε <br>
              και τον Σερ - Χαν κοροϊδεύουμε<br>
              Λυκόπουλα εμείς, Λυκόπουλα θαρρείς. (Δις)
              <span class="quote_after">”</span></p>
          </blockquote>
        </details>
        <details>
          <summary class="summary_song_title_cubs">
            Τζουμπαλαγια
          </summary>
          <blockquote>
            <p class="song_lyrics">
              Τα ταμ - ταμ μεσ΄ στη ζούκλα ηχούνε<br>
              κι οι Ινδοί με χαρά τραγουδούνε. <br>
              Κι ο Αρχηγός τους το Μαύρο Τσακάλι<br>
              νικητής θα γυρίσει και πάλι. <br><br>
              Τζουμπαλά - Τζουμπαλά - Τζουμπαλάγια, <br>
              Αρχηγέ των Ινδών Τζουμπαλάγια. <br><br>
              Η φωτιά εις το μέσον αναμμένη <br>
              κι οι Ινδοί γύρω γύρω μαζεμένοι. <br>
              Κι ο Αρχηγός τους το Μαύρο Τσακάλι<br>
              το χορό αρχινάει και πάλι. <br><br>
              Η φωτιά πια τη λάμψη έχει χάσει <br>
              κι ο Αρχηγός τους πηγαίνει να πλαγιάσει. <br>
              Οι Ινδοί φεύγουν τώρα κουρασμένοι <br>
              και ο μάγος μονάχος απομένει. <br><br>
              Τραγουδά σιγά - σιγά και κάνει μάγια <br>
              Αρχηγέ των Ινδών Τζουμπαλάγια.
              <span class="quote_after">”</span></p>
          </blockquote>
          <iframe width="560" height="315" src="https://www.youtube.com/embed/F88GnDCnYQA" title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
        </details>
        <h2>Τραγούδια Κινητικά</h2>
        <details>
          <summary class="summary_song_title_movement">
            Ντούντλι
          </summary>
          <blockquote>
            <p class="song_lyrics">
              Πόσο μ' αρέσει η γλυκειά μελωδία,<br>
              το ντούντλι ντι ντι , το ντούντλι ντι ντι<br>
              Όσο αυτή δε μ' αρέσει καμία,<br>
              το ντούντλι ντι ντι, το ντούντλι ντι ντι<br><br>
              Κλαίω πολύ με πονά η ψυχή μου... <br>
              ΓΙΝΟΜΑΙ ΚΑΛΑ, ΜΕ ΤΟ ΝΤΟΥΝΤΛΙ ΝΤΙ ΝΤΙ ΜΟΥ! <br>
              Δίνει χαρά, δίνει κέφι πολύ, <br>
              το ντούντλι ντούντλι ντι ντι! <br><br>
              Το τραγούδι επαναλαμβάνεται όλο και πιο γρήγορα.
              <span class="quote_after">”</span></p>
          </blockquote>
        </details>
        <details>
          <summary class="summary_song_title_movement">
            Γουάταντσού
          </summary>
          <blockquote>
            <p class="song_lyrics">
              Γουαταν τσου<br><br>
              Μπαλασκελίτα , Γουαταντσού<br><br>
              Ίστεν μπιλότεν μπότεν , μπαλασκελίτα , Γουαταντσού<br><br>
              όκι ντόκι , ντόκι όκι , Ίστεν μπιλότεν μπότεν , μπάλασκελίτα γουάταντσού<br><br>
              Ίτεν μπίτεν , μπίτεν ίτεν , ίστεν , όκι ντόκι , ντόκι όκι , Ίστεν μπιλότεν μπότεν ,
              μπάλασκελίταγουάταντσού
              <span class="quote_after">”</span></p>
          </blockquote>
        </details>
        <details>
          <summary class="summary_song_title_movement">
            Σινιάνια
          </summary>
          <blockquote>
            <p class="song_lyrics">
              Ω αε σινιάνια ε ,<br>
              σινιάνια ε<br>
              σινιάνια ε<br><br>
              Ω αε σινιάνια ε ,<br>
              σινιάνια ε<br>
              σινιάνια ε<br><br>
              σινιάνια , σινιάνια<br>
              σινιάνια , σινιάνια
              <span class="quote_after">”</span></p>
          </blockquote>
        </details>
        <details>
          <summary class="summary_song_title_movement">
            Αν δεν ήμουν πρόσκοπος
          </summary>
          <blockquote>
            <p class="song_lyrics">
              Αν δεν ήμουν πρόσκοπος<br>
              κάτι άλλο θα είχα γίνει<br>
              Άν δεν ήμουν πρόσκοπος... <br><br>
              Ποδοσφαιριστής θα είχα γίνει<br>
              πασάρω, σουτάρω<br>
              και έβαλα το γκόλ (2) <br><br>
              Αν δεν ήμουν πρόσκοπος <br>
              κάτι άλλο θα είχα γίνει<br>
              Άν δεν ήμουν πρόσκοπος... <br><br>
              Μποξέρ θα είχα γίνει<br>
              Δεξί κροσέ, δεξί κροσέ<br>
              αριστερό κροσέ (2) <br><br>
              Αν δεν ήμουν πρόσκοπος <br>
              κάτι άλλο θα είχα γίνει <br>
              Άν δεν ήμουν πρόσκοπος... <br><br>
              Εργάτης θα 'χα γίνει <br>
              σκάβω τρύπες , σκάβω τρύπες <br>
              σκάβω σκάβω τρύπες (2) <br><br>
              Αν δεν ήμουν πρόσκοπος <br>
              κάτι άλλο θα είχα γίνει <br>
              Άν δεν ήμουν πρόσκοπος... <br><br>
              Ξυλουργός θα είχα γίνει<br>
              κόβω ξύλα , κόβω ξύλα<br>
              κόβω κόβω ξύλα (2) <br><br>
              Αν δεν ήμουν πρόσκοπος<br>
              κάτι άλλο θα είχα γίνει<br>
              Άν δεν ήμουν πρόσκοπος... <br><br>
              Δικαστής θα είχα γίνει<br>
              ένοχος , αθώος<br>
              καθόλου δε με νοιάζει (2) <br><br>
              Αν δεν ήμουν πρόσκοπος <br>
              κάτι άλλο θα είχα γίνει <br>
              Άν δεν ήμουν πρόσκοπος... <br><br>
              Τροχονόμος θα 'χα γίνει<br>
              κόβω κλήσεις , κόβω κλήσεις<br>
              κόβω κόβω κλήσεις (2) <br><br>
              Αν δεν ήμουν πρόσκοπος<br>
              κάτι άλλο θα είχα γίνει<br>
              Άν δεν ήμουν πρόσκοπος... <br><br>
              Ναυαγοσώστης θα 'χα γίνει<br>
              κοιτάζω εδώ , κοιτάζω εκεί,<br>
              βουτάω στη στιγμή (2)" <br><br>
              Το τραγούδι επαναλαμβάνεται μέχρι όλοι οι παίκτες να χορεύουν
              <span class="quote_after">”</span></p>
          </blockquote>
          <iframe width="560" height="315" src="https://www.youtube.com/embed/KkaATonC7vs" title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
        </details>
        <details>
          <summary class="summary_song_title_movement">
            Αμόνα γκάνα σι
          </summary>
          <blockquote>
            <p class="song_lyrics">
              Αμόνα γκάνα σι<br><br>
              αμόνα γκάνα νο,<br><br>
              αμόνα γκάνα σι νο σι. <br><br>
              Ρούμπα. <br><br>
              Σάμπα. <br><br>
              Ραμάτα λα κουτσίνα.
              <span class="quote_after">”</span></p>
          </blockquote>
        </details>
        <details>
          <summary class="summary_song_title_movement">
            Κίλε κίλε
          </summary>
          <blockquote>
            <p class="song_lyrics">
              Κίλε κίλε κίλε της Αγέλης<br><br>
              Η ζωή είναι μπουμ μπουμ μπουμ<br><br>
              Κίλε κίλε κίλε της Αγέλης<br><br>
              Η ζωή είναι μπουμ<br><br>
              Μια καλή πράξη<br><br>
              Κάθε μέρα μπουμ μπουμ μπουμ<br><br>
              Μια καλή πράξη<br><br>
              Κάθε μέρα μπουμ<br><br><br>
              Κίλε κίλε κίλε της Αγέλης<br><br>
              Η ζωή είναι (x3 παλαμάκια) <br><br>
              Κίλε κίλε κίλε της Αγέλης <br><br>
              Η ζωή είναι (παλαμάκι) <br><br>
              Μια καλή πράξη <br><br>
              Κάθε μέρα (x3 παλαμάκια) <br><br>
              Μια καλή πράξη<br><br>
              Κάθε μέρα (παλαμάκι) <br><br><br>
              Κίλε κίλε κίλε της Αγέλης<br><br>
              Η ζωή είναι (x3 παλαμάκια) <br><br>
              Κίλε κίλε κίλε της Αγέλης<br><br>
              Η ζωή είναι (παλαμάκι) <br><br>
              (1 - δείχνουμε με το δάχτυλο) καλή πράξη<br><br>
              Κάθε μέρα (x3 παλαμάκια) <br><br>
              (1 - δείχνουμε με το δάχτυλο) καλή πράξη<br><br>
              Κάθε μέρα (παλαμάκι)
              <span class="quote_after">”</span></p>
          </blockquote>
        </details>
        <details>
          <summary class="summary_song_title_movement">
            Τσε τσε κορέ
          </summary>
          <blockquote>
            <p class="song_lyrics">
              Τσε τσε κορέ<br>
              Τσε κορέσα<br><br>
              Ατς μάγκα<br>
              μάγκα<br><br>
              μάγκα κορέ<br>
              Τσέ τσε κορέ
              <span class="quote_after">”</span></p>
          </blockquote>
        </details>
        <details>
          <summary class="summary_song_title_movement">
            Μπερεκεντέ
          </summary>
          <blockquote>
            <p class="song_lyrics">
              Μπερεκεντέ (βάζουμε το χέρι μας στον ώμο του δεξιά μας) <br><br>
              Μπερεκεντέ (βάζουμε το χέρι μας στον ώμο του αριστερά μας) <br><br>
              Μπερεκεντέ κεντε κεντεκε, (στη διάρκεια αυτών των στίχων μπερεκεντέ κεντε κεντεκε, γυρίζουμε χοροπηδώντας
              σε μπερεκεντέ κεντε κεντεκε, κύκλο δεξιά, αριστερά ή και τα δύο) <br>
              Μπερεκεντέ. <br><br>
              Μπερεκεντέ (βάζουμε το χέρι μας στο αυτί του δεξιά μας) <br><br>
              Μπερεκεντέ (βάζουμε το χέρι μας στο αυτί του αριστερά μας) <br>
              Μπερεκεντέ (βάζουμε το χέρι μας στο κεφάλι του δεξιά μας) <br>
              Μπερεκεντέ (βάζουμε το χέρι μας στον κεφάλι του αριστερά μας) <br><br>
              Μπερεκεντέ (βάζουμε το χέρι μας στο γόνατο του δεξιά μας) <br>
              Μπερεκεντέ (βάζουμε το χέρι μας στο γόνατο του αριστερά μας) <br><br>
              Μπερεκεντέ (βάζουμε το χέρι μας στον αστράγαλο του δεξιά μας) <br>
              Μπερεκεντέ (βάζουμε το χέρι μας στον αστράγαλο του αριστερά μας) <br><br>
              Μπερεκεντέ κεντε κεντεκε, (στη διάρκεια αυτών των στίχων μπερεκεντέ κεντε κεντεκε, γυρίζουμε
              χοροπηδώντας σε μπερεκεντέ κεντε κεντεκε, κύκλο δεξιά, αριστερά ή και τα δύο) <br>
              Μπερεκεντέ
              <span class="quote_after">”</span>
            </p>
          </blockquote>
          <iframe width="560" height="315" src="https://www.youtube.com/embed/q10QlMwA29A" title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
        </details>
        <details>
          <summary class="summary_song_title_movement">
            Οι λίλι
          </summary>
          <blockquote>
            <p class="song_lyrics">
              όι λίλι<br>
              αμεριτικιτόμπα<br>
              αμόσα μόσα μόσα<br>
              ό ι λί λουά αμπα λου μπί<br><br>
              Επαναλαμβάνουμε το τραγούδι όλο και πιο σιγά και την τελευταία φορά το λέμε φωναχτά
              <span class="quote_after">”</span></p>
          </blockquote>
        </details>
        <details>
          <summary class="summary_song_title_movement">
            Αραμ σαμ σαμ
          </summary>
          <blockquote>
            <p class="song_lyrics">
              Αράμ σαμ σαμ<br>
              Αράμ σαμ σαμ<br>
              γουλι γούλι γούλι γούλι<br>
              γουλι ράμ σαμ σαμ (2) <br><br>
              Αράβι αράβι<br>
              γουλι γούλι γουλι<br>
              ραμ σαμ σαμ<br><br>
              Επαναλαμβάνουμε όλο και πιο γρήγορα
              <span class="quote_after">”</span></p>
          </blockquote>
        </details>
        <details>
          <summary class="summary_song_title_movement">
            Προσκοπικό έχω πνεύμα
          </summary>
          <blockquote>
            <p class="song_lyrics">
              Προσκοπικό έχω πνεύμα<br>
              μεσ΄ στο μυαλό (3 φορές) <br>
              Προσκοπικό έχω πνεύμα μεσ΄ στο μυαλό όσο ζω. <br><br>
              Προσκοπικό έχω πνεύμα<br>
              μεσ΄ στη καρδιά (3 φορές) <br>
              Προσκοπικό έχω πνεύμα μεσ΄ στη καρδιά όσο ζω. <br><br>
              Προσκοπικό έχω πνεύμα <br>
              τριγύρω μου (3 φορές) <br>
              Προσκοπικό έχω πνεύμα τριγύρω μου όσο ζω. <br><br>
              Προσκοπικό έχω πνεύμα<br>
              μεσ΄ στο μυαλό,<br>
              μεσ΄ στη καρδιά,<br>
              τριγύρω μου,<br>
              προσκοπικό έχω πνεύμα στο είναι μου όσο ζω.
              <span class="quote_after">”</span></p>
          </blockquote>
        </details>
        <details>
          <summary class="summary_song_title_movement">
            Η βροχή
          </summary>
          <blockquote>
            <p class="song_lyrics">
              Στάλα - στάλα η βροχή<br>
              όλα τα μουσκεύει<br>
              στάλα - στάλα η βροχή<br>
              βρέχεσαι κι εσύ. <br><br>
              Ξέρω καλά το δρόμο,<br>
              γνωρίζω το χωριό<br>
              περνώ μεσ’ απ’ τις λάσπες<br>
              κι όμως πάντα τραγουδώ. <br><br>
              Πατάω μεσ’ στη λάσπη,<br>
              βουτιέμαι ως το λαιμό,<br>
              όμως εγώ προσέχω<br>
              πάντα να μη λερωθώ. <br><br>
              Μα πίσω απ’ τη μαυρίλα<br>
              βγαίνει ο ήλιος χαρωπός,<br>
              στεγνώνει το χωριό<br>
              κι όλους κι όλα στο λεπτό. <br><br>
              Στάλα - στάλα η βροχή<br>
              τα σύννεφα φεύγουν<br>
              έπαψε πια η βροχή<br>
              στέγνωσες κι εσύ.
              <span class="quote_after">”</span></p>
          </blockquote>
        </details>
        <details>
          <summary class="summary_song_title_movement">
            Του Γιαννάκη το μωρό
          </summary>
          <blockquote>
            <p class="song_lyrics">
              Του Γιαννάκη το μωρό<br>
              έχει κρύο στο λαιμό<br>
              και το τρίψανε με καμφορέλαιο. <br><br>
              Καμφο - καμφο - καμφορέλαιο (δις) <br>
              και το τρίψανε με καμφορέλαιο. <br><br>
              Του Γιαννάκη το μωρό έχει κρύο στο ... <br>
              και το τρίψανε με καμφορέλαιο. <br><br>
              Του Γιαννάκη το μωρό έχει αψξού στο ... <br>
              και το τρίψανε με καμφορέλαιο. <br><br>
              Του Γιαννάκη το μωρό έχει ... <br>
              και το τρίψανε με καμφορέλαιο.
              <span class="quote_after">”</span></p>
          </blockquote>
        </details>
        <details>
          <summary class="summary_song_title_movement">
            Η γίδα
          </summary>
          <blockquote>
            <p class="song_lyrics">
              Μια γίδα μια φορά κουνώντας την ουρά<br>
              εχώθηκε κρυφά να φάει κουκιά χλωρά<br><br>
              Κουνούσε την ουρά (τρις) <br>
              και μάσαγε γερά. <br><br>
              Ο μπάρμπας ο κουκάς την άρπαξε με μιας<br>
              και τρέχει ο φουκαράς ευθύς στους δικαστάς. <br><br>
              Κουνούσε την ουρά (τρις) <br>
              και μάσαγε γερά. <br><br>
              Η γίδα τότε εκεί, πολύ προσεκτική,<br>
              τους νόμους ερευνά και της πηγαίνει να! <br><br>
              Κουνούσε την ουρά (τρις) <br>
              και μάσαγε γερά. <br><br>
              Εχει πια αντιληφθεί πως θα τιμωρηθεί,<br>
              βουτάει το κλειδί και φεύγει στη στιγμή. <br><br>
              Κουνούσε την ουρά ( τρις) <br>
              και μάσαγε γερά.
              <span class="quote_after">”</span></p>
          </blockquote>
        </details>
        <h2>Προσευχές</h2>
        <details>
          <summary class="summary_song_title_prayers">
            Η μέρα πάει Χριστέ...
          </summary>
          <blockquote>
            <p class="song_lyrics">
              Η μέρα πάει,<br>
              ο ήλιος πάει<br>
              στα βουνά, πέφτει η νύχτα βαθιά<br>
              σκοτεινιάζει<br>
              κι ο Θεός μας φυλάει,<br>
              μας φυλάει. <br><br>
              Χριστέ στις σκηνές μαζεμένοι<br>
              μέσα στης νύχτας τη σιγή<br>
              οι Πρόσκοποι ψάλλουν στον Πλάστη<br>
              μια προσευχή ευλαβική. <br><br>
              Εσύ που έπλασες τον κόσμο <br>
              και στα πουλιά δίνεις τροφή <br>
              φάνου σπλαχνικός στα παιδιά Σου <br>
              κι οδήγα μας στην αρετή. <br><br>
              Όλοι ερχόμαστε προς Εσένα <br>
              την Πηγή της αιώνιας ζωής <br>
              πρόσδεξε τη δέησή μας <br>
              που βγαίνει απ' την ψυχή μας <br>
              Συ του κόσμου ο Λυτρωτής.
              <span class="quote_after">”</span></p>
          </blockquote>
        </details>
        <details>
          <summary class="summary_song_title_prayers">
            Κουμπαγιά
          </summary>
          <blockquote>
            <p class="song_lyrics">
              Κουμπαγιά Θεέ μου, κουμπαγιά<br>
              Κουμπαγιά Θεέ μου, κουμπαγιά<br>
              Κουμπαγιά Θεέ μου, κουμπαγιά<br>
              Ω Θεέ μου κουμπαγιά<br><br>
              Κάποιος πεινάει Θεέ μου, δώσ’ του ψωμί<br>
              Κάποιος πεινάει Θεέ μου, δώσ’ του ψωμί<br>
              Κάποιος πεινάει Θεέ μου, δώσ’ του ψωμί<br>
              Ω Θεέ μου δωσ’ του ψωμί. <br><br>
              Κάποιος διψάει Θεέ μου, δώσ’ του νερό <br>
              Κάποιος διψάει Θεέ μου, δώσ’ του νερό<br>
              Κάποιος διψάει Θεέ μου, δώσ’ του νερό<br>
              Ω Θεέ μου δώσ’ του νερό. <br><br>
              Κάποιος πονάει Θεέ μου, δώσ’ του γαλήνη <br>
              Κάποιος πονάει Θεέ μου, δώσ’ του γαλήνη<br>
              Κάποιος πονάει Θεέ μου, δώσ’ του γαλήνη<br>
              Ω Θεέ μου δώσ’ του γαλήνη<br><br>
              Κουμπαγιά...
              <span class="quote_after">”</span></p>
          </blockquote>
        </details>
        <details>
          <summary class="summary_song_title_prayers">
            Συ που κόσμους κυβερνάς
          </summary>
          <blockquote>
            <p class="song_lyrics">
              Συ που κόσμους κυβερνάς,<br>
              και ζωή παντού σκορπάς,<br>
              άκου τούτη τη στιγμή,<br>
              των παιδιών σου τη φωνή. <br><br>
              Φώτιζε μας τη ψυχή, <br>
              στο καλό, την αρετή. <br>
              Δίνε μας από ψηλά, <br>
              Θάρρος, δύναμη, χαρά. <br><br>
              Για να ζούμε εδώ στη γη, <br>
              με γαλήνη, με τιμή,<br>
              Και να υμνούμ' αιώνια<br>
              Σε, Πάνσοφε, Δημιουργέ!
              <span class="quote_after">”</span></p>
          </blockquote>
        </details>
        <details>
          <summary class="summary_song_title_prayers">
            Μες τη νύχτα
          </summary>
          <blockquote>
            <p class="song_lyrics">
              Μες τη νύχτια ποθεί η ψυχή μας<br>
              τον ύμνο της να τραγουδήσει<br>
              κι ' ευλαβικά να σ'ανυμνήσει<br>
              τρισδοξασμένε λυτρωτή μας<br><br>
              Όλη τη μέρα τ' αγαθά σου<br>
              μ' απλοχεριά μας τα σκορπούσες<br>
              και στοργικά αφορμή ζητούσες<br>
              να ευεργετήσεις τα παιδιά σου<br><br>
              Οι πόθοι μας θα 'ναι δικοί σου<br>
              και μες τον ύπνο μας ακόμα<br>
              κι ας μας ξυπνήσει η προσταγή σου<br>
              μες της αυγής το απαλό χρώμα<br><br>
              Και τώρα έλα στις σκηνές μας<br>
              αγγελική φρουρά να στήσεις<br>
              και με την άγια σου τη χάρη<br>
              Πατέρα να μας ευλογήσεις
              <span class="quote_after">”</span></p>
          </blockquote>
        </details>
        <details>
          <summary class="summary_song_title_prayers">
            Πάνω στα αιθέρια
          </summary>
          <blockquote>
            <p class="song_lyrics">
              Πάνω στα αιθέρια<br>
              πιο ψηλά απ' τ' αστέρια<br>
              φτάνει η προσευχή μου<br>
              κι η φωνή μου<br><br>
              Ανυμνώ και ευλογώ<br>
              Θεέ μου το όνομά σου<br>
              και να κάνω ποθώ<br>
              τ' άγιο θέλημά σου. <br><br>
              Όταν ο Θεός μου<br>
              είναι βοηθός μου<br>
              βλέπω την αλήθεια<br>
              και το φως μου<br><br>
              Ανυμνώ και ευλογώ <br>
              Θεέ μου το όνομά σου<br>
              και να κάνω ποθώ<br>
              τ' άγιο θέλημά σου.
              <span class="quote_after">”</span></p>
          </blockquote>
        </details>
        <h2>Προσκοπικά Τραγούδια</h2>
        <details>
          <summary class="summary_song_title_scouts">
            Τραγούδι αποχωρισμού
          </summary>
          <blockquote>
            <p class="song_lyrics">
              Μηπώς πρεπεί να φύγουμε,<br>
              χωρίς ελπίδα πια,<br>
              πως θα ξανανταμώσουμε<br>
              και πάλι με χαρά<br><br>
              Οχι δεν χωριζόμαστε<br>
              για πάντοτε παιδιά<br>
              μα θα ξαναβλεπόμαστε<br>
              αδέλφια μου συχνά<br><br>
              Και τώρα ας ενώσουμε<br>
              τα χέρια ολοί μαζί<br>
              και αλυσίδα ας πλέξουμε<br>
              αγάπης δυνατή. <br><br>
              Και ο Θεός που αδιάκοπα<br>
              μας βλέπει απο ψηλά<br>
              θα μας ενώσει κάποτε<br>
              ολούς μαζί ξανά. <br><br>
              Παλιό κι ωραιό παρελθόν<br>
              που ζήσαμε μαζί<br>
              ας μείνει για παράδειγμα<br>
              στη νέα μας ζωή.
              <span class="quote_after">”</span></p>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/uoonEACi8Hc"
              title="YouTube video player" frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen></iframe>
          </blockquote>
        </details>
        </details>
        <details>
          <summary class="summary_song_title_scouts">
            Σαν το ξένοιαστο πουλί
          </summary>
          <blockquote>
            <p class="song_lyrics">
              Σαν το ξένοιαστο πουλί παντού πετώ<br>
              σε βουνά και σε λαγκάδια τριγυρνώ<br>
              και για όπλο το ραβδί μου<br>
              και για στέκι τη σκηνή μου<br>
              στο βουνό κατασκηνώνω στο λεπτό. <br><br>
              Γιούπι για για, γιούπι γιούπι για (4) <br><br>
              Στο καΐκι και στην βάρκα σαν βρεθώ<br>
              σ’ ότι κι αν µε συμβουλεύσει ο Αρχηγός<br>
              µε χαρά θα το εκτελέσω<br>
              κι έτσι πάντα θα μπορέσω<br>
              στα κατάρτια και στα ξάρτια ν’ ανεβώ. <br><br>
              Γιούπι για για, γιούπι γιούπι για (4) <br><br>
              Με θαυμάζουν σαν γυρνώ απ’ εκδρομή<br>
              µε σακκίδιο παγούρι και ραβδί<br>
              λέω πάντα την αλήθεια<br>
              κι έχω τούτη τη συνήθεια<br>
              όπου βρίσκομαι να κάνω το καλό.
              <span class="quote_after">”</span></p>
          </blockquote>
        </details>
        <details>
          <summary class="summary_song_title_scouts">
            Ανίχνευε
          </summary>
          <blockquote>
            <p class="song_lyrics">
              Ανίχνευε<br>
              Ψάξε να βρεις τις πιο μικρές χαρές<br>
              που ομορφαίνουν αυτήν την πεζή<br>
              σκληρή ζωή. <br><br>
              Ανίχνευε <br>
              Και μάθε όσα πιο πολλά μπορείς <br>
              η γνώση είναι θησαυρός χρυσός <br>
              μην το ξεχνάς. <br><br>
              Ανίχνευε <br>
              Και τρέχα πάντα πρώτος βοηθός<br>
              διώξε τη λύπη, δώσε τη χαρά<br>
              σ’ όποιον πονά. <br><br>
              Ανίχνευε <br>
              Και δώσ’ αγάπη µέσ’ απ’ την ψυχή <br>
              σκόρπα παντού το φως και τη ζωή<br>
              της νιότης της χρυσής.
              <span class="quote_after">”</span></p>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/ftpiqKJ9LIY"
              title="YouTube video player" frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen></iframe>
          </blockquote>
        </details>
        <details>
          <summary class="summary_song_title_scouts">
            Τζάμπορι
          </summary>
          <blockquote>
            <p class="song_lyrics">
              Από την άκρη της γης ξεκινήσαμε<br>
              σαν μαγεμένα της άνοιξης πουλιά<br>
              και μιαν αυγή την φωλιά μας εκτίσαμε<br>
              στου Μαραθώνα την έρμη ακρογυαλιά. <br><br>
              Τζάμπορι, τζάμπορι,<br>
              θάλασσα και πεύκο, χώμα και βουνό,<br>
              τζάμπορι, τζάμπορι,<br>
              κάποτε θα φτάσουμ’ ως τον ουρανό. <br>
              Τζάμπορι, τζάμπορι,<br>
              μεσ’ στο πανηγύρι που η ζωή κυλά,<br>
              τζάμπορι, τζάμπορι,<br>
              πάντα θ’ ανεβαίνουμε όλο πιο ψηλά. <br><br>
              Γεμάτοι νειάτα και φως ορκιστήκαμε, <br>
              χαρά κι ελπίδα να φέρουμε στη γη,<br>
              κι όλοι μαζί με λαχτάρα σταθήκαμε<br>
              απ’της αγάπης να πιούμε την πηγή. <br><br>
              Τζάμπορι, τζάμπορι,<br>
              θάλασσα και πεύκο, χώμα και βουνό,<br>
              τζάμπορι, τζάμπορι,<br>
              κάποτε θα φτάσουμ’ ως τον ουρανό. <br>
              Τζάμπορι, τζάμπορι,<br>
              μεσ’στο πανηγύρι που η ζωή κυλά,<br>
              τζάμπορι, τζάμπορι,<br>
              πάντα θ’ανεβαίνουμε όλο πιο ψηλά.
              <span class="quote_after">”</span></p>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/dFDKs9tlhns"
              title="YouTube video player" frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen></iframe>
          </blockquote>
        </details>
        <details>
          <summary class="summary_song_title_scouts">
            Μαζί ξεκινήσαμε
          </summary>
          <blockquote>
            <p class="song_lyrics">
              Μαζί ξεκινήσαμε ατέλειωτο δρόμο<br>
              ω γειά χαρά<br>
              Κρατώντας πιστό φυλαχτό μας το Νόμο<br>
              ω γειά χαρά<br><br>
              Γειά χαρά, γειά χαρά - γειά χαρά - γειά χαρά<br>
              θά 'μαστε μαζί<br><br>
              γειά χαρά, γειά χαρά - γειά χαρά - γειά χαρά<br>
              είμαστε πιστοί. <br><br>
              Κι αν θύελλες έρθουν να κρύψουν τ' αστέρια <br>
              ω γειά χαρά, <br>
              γνωρίζουμε 'μείς να βαδίζουμε στέρια <br>
              ω γειά χαρά <br><br>
              Γειά χαρά, γειά χαρά - γειά χαρά - γειά χαρά<br>
              θά 'μαστε μαζί <br><br>
              γειά χαρά, γειά χαρά - γειά χαρά - γειά χαρά<br>
              είμαστε πιστοί.
              <span class="quote_after">”</span></p>
          </blockquote>
        </details>
        <details>
          <summary class="summary_song_title_scouts">
            Υψιπέται αετοί
          </summary>
          <blockquote>
            <p class="song_lyrics">
              Εμπρός για τα ψηλώματα εμπρός για τις κορφές<br>
              φτερά μας δίνει η πίστη μαςκαι φλόγα στις καρδιές (2) <br>
              για να πετάξουμε σ' αιθέριες κορυφές. <br><br>
              Υψιπέται αετοί προχωρείτε - προχωρείτε στην κορφή<br>
              προχωρείτε στην κορφή υψιπέται - υψιπέται αετοί. <br><br>
              Ανατολές χαράζονται και λάμπουν οι ματιές <br>
              καινούριοι δρόμοι ανοίγονται καινούριες εποχές (2) <br>
              χαρά και φως γεμίζουν όλων οι καρδιές. <br><br>
              Υψιπέται αετοί ...
              <span class="quote_after">”</span></p>
          </blockquote>
        </details>
        <details>
          <summary class="summary_song_title_scouts">
            Στην κατασκήνωση
          </summary>
          <blockquote>
            <p class="song_lyrics">
              Στην κατασκήνωση στις εκδρομές παιδιά<br>
              στου στρατοπέδου γύρω - γύρω τη φωτιά<br>
              μακριά απ' την πόλη και επάνω στα βουνά<br>
              τραγουδάμε με χαρά. <br><br>
              Να η ζωή που δεν τη νοιώθει <br>
              όποιος δεν έζησε μαζί μας <br>
              όποιος δεν είδε τη ζωή μας <br>
              πάνω στα ψηλά βουνά. <br><br>
              Πάλι θα φύγουμε να βρούμε τη χαρά<br>
              κει που δεν βρίσκεται ανθρώπου πατησιά<br>
              στ' άγρι' Ολύμπου και στης Οίτης τις κορφές<br>
              στα λαγκάδια, στις πλαγιές. <br><br>
              Να η ζωή που δεν τη νοιώθει<br>
              όποιος δεν έζησε μαζί μας<br>
              όποιος δεν είδε τη ζωή μας<br>
              πάνω στα ψηλά βουνά.
              <span class="quote_after">”</span></p>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/-8a_K-uUSlY"
              title="YouTube video player" frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen></iframe>
          </blockquote>
        </details>
        <details>
          <summary class="summary_song_title_scouts">
            Σε μια δουλειά ενωμένοι
          </summary>
          <blockquote>
            <p class="song_lyrics">
              Ας δώσουμε το χέρι<br>
              για συνεχή δουλειά<br>
              χειμώνα - καλοκαίρι<br>
              με μια καρδιά εμπρός παιδιά<br>
              χειμώνα - καλοκαίρι<br>
              εμπρός παιδιά, δουλειά. <br><br>
              Σε μια δουλειά ενωμένοι<br>
              μέσ' τον Προσκοπισμό<br>
              πιστοί κι αδελφωμένοι<br>
              σ' ένα σκοπό, ιδανικό<br>
              πιστοί κι αδελφωμένοι<br>
              σ' ένα σκοπό, ιερό. <br><br>
              Στην σκέψη, την πνοή μας<br>
              του Έθνους η ακμή<br>
              ας είναι της ζωής μας<br>
              καρδιάς παλμοί κάθε στιγμή <br>
              ας είναι της ζωής μας<br>
              καρδιάς παλμοί, πνοή.
              <span class="quote_after">”</span></p>
          </blockquote>
        </details>
        <details>
          <summary class="summary_song_title_scouts">
            Πριν καλά ο ήλιος βγει
          </summary>
          <blockquote>
            <p class="song_lyrics">
              Πριν καλά ο ήλιος βγει <br>
              (γιού καϊντί - γιού καϊντά) <br>
              όλοι μας πρωί - πρωί <br>
              (γιού καϊντί - καϊντά) <br>
              από τις σκηνές θα βγούμε <br>
              και αμέσως τραγουδούμε: <br><br>
              Είμαστε Πρόσκοποι, <br>
              πάντοτε χαρούμενοι <br>
              είμαστε Πρόσκοποι <br>
              πάντα γελαστοί. <br><br>
              Και αρχίζουμε μαζί <br>
              (γιού καϊντί - γιού καϊντά) <br>
              όλοι τη γυμναστική <br>
              (γιού καϊντί - αϊντά) <br>
              τη σημαία χαιρετάμε <br>
              και αμέσως τραγουδάμε: <br><br>
              Είμαστε ... <br><br>
              Το κακάο ψήνεται <br>
              (γιού καϊντί - γιού καϊντά) <br>
              πίνεται δεν πίνεται <br>
              (γιού καϊντί - αϊντά) <br>
              θα καθίσουμε να φάμε <br>
              και αμέσως τραγουδάμε: <br><br>
              Είμαστε ... <br><br>
              Και το βράδυ στη φωτιά <br>
              (γιού καϊντί - γιού καϊντά) <br>
              διασκέδαση παιδιά <br>
              (γιού καϊντί - αϊντά) <br>
              παίζουμε πολύ, γελάμε <br>
              και αμέσως τραγουδάμε: <br><br>
              Είμαστε ...
              <span class="quote_after">”</span></p>
          </blockquote>
        </details>
        <details>
          <summary class="summary_song_title_scouts">
            Δρόμος Ανιχνευτικός
          </summary>
          <blockquote>
            <p class="song_lyrics">
              Διαβάτης γερός, περπατώ στη ζωή <br>
              είν' ο δρόμος μου απλός, χαρωπός <br>
              είν' ο δρόμος ανιχνευτικός. (2) <br><br>
              Με το Νόμο οδηγό στη ζωή προχωρώ <br>
              κι έχω μόνο σκοπό, να βοηθώ <br>
              να βοηθώ καθένα για καλό. (2) <br><br>
              Βλέπω πάντα πλατειά και με μία ματιά <br>
              αντικρύζω ψηλές, <br>
              κορυφές κορυφές ιδανικών χρυσές. (2)
              <span class="quote_after">”</span></p>
          </blockquote>
        </details>
        <details>
          <summary class="summary_song_title_scouts">
            "Που πας;"
          </summary>
          <blockquote>
            <p class="song_lyrics">
              Στον Προσκοπισμό ήρθαμε όλοι<br>
              να ζήσουμ' ωραία ζωή<br>
              να ζούμε τη μέρα μας όλη<br>
              στα δάση και την εξοχή. <br><br>
              Πού πας; πού πας; <br>
              έλα να ζήσεις μαζί με μας <br>
              πού πας; πού πας; <br>
              έλα να ζήσεις με μας. <br><br>
              Μέσ' τη συντροφιά μας θα μάθεις <br>
              να είσαι παντού γελαστός <br>
              σκοπό της ζωής σου θε να 'χεις <br>
              να είσαι με όλους καλός. <br><br>
              Πού πας ... <br><br>
              Θα μάθεις να βρίσκεις το δρόμο<br>
              στα άγνωστα και σκοτεινά<br>
              βοήθεια θε νά 'χεις<br>
              το Νόμο και τ' άστρα τα παντοτεινά.
              <span class="quote_after">”</span></p>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/VWbOjj4N4zM"
              title="YouTube video player" frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen></iframe>
          </blockquote>
        </details>
        <details>
          <summary class="summary_song_title_scouts">
            Μα εγώ στη φύση κατοικώ
          </summary>
          <blockquote>
            <p class="song_lyrics">
              Εκδρομούλα πάω πάλι<br>
              με σακίδιο στην πλάτη<br>
              Απ’ τη λέσχη ξεκινάω<br>
              μα δεν ξέρω που θα πάω<br><br>
              Όταν είδα την πορεία<br>
              μου φαινόταν παρωδία<br>
              Αρχηγέ μου τι να κάνω<br>
              να ξεφύγω απ ’την ανία<br><br>
              Μα είμαι πρόσκοπος εγώ ,<br>
              θέλω τραγούδι και χορό<br>
              Θέλω παιχνίδια ζωηρά ,<br>
              χάρτη πυξίδα και σχοινιά<br>
              Στην πόλη στάλθηκα να ζωωωωω<br>
              Μα εγώ στην φύση κατοικώ<br><br>
              Ξεκινάω με μαγεία,<br>
              με σκοπό και φαντασία<br>
              Και με δράση αναζητάω<br>
              για να φτιάξω ό,τι αγαπώ<br>
              Κάποιον ρώτησα μου είπε<br>
              να ‘σαι πάντοτε καλός<br>
              Έσο έτοιμος για πάντα<br>
              εύθυμος και γελαστός<br><br>
              Τώρα νιώθω ότι ζω,<br>
              γιατί έχω πια σκοπό<br>
              Την καρδιά μου οδηγώ<br>
              και τους φίλους που αγαπώ<br>
              Στη φύση διάλεξα να ζωωωωω<br>
              Την περιπέτεια ζητώ<br><br>
              Κλείνοντας σου λέω πάλι<br>
              κράτα πάνω το κεφάλι<br>
              Δείκτες μας είναι τα βέλη<br>
              και η τύχη ότι μας φέρει<br><br>
              Χαμογέλα όλο τρέλα<br>
              σα να ήταν καλοκαίρι<br>
              Και προσκόποι είμαστε όλοι<br>
              μην ξεχνάς Και πάμε όλοι …<br><br>
              Μα είμαι πρόσκοπος εγώ ,<br>
              θέλω τραγούδι και χορό<br>
              Θέλω παιχνίδια ζωηρά ,<br>
              χάρτη πυξίδα και σχοινιά<br>
              Στην πόλη στάλθηκα να ζωωωωω<br>
              Μα εγώ στην φύση κατοικώ.
              <span class="quote_after">”</span></p>
          </blockquote>
        </details>
        <details>
          <summary class="summary_song_title_scouts">
            Τζαμπορι θα 'μαι 'κει
          </summary>
          <blockquote>
            <p class="song_lyrics">
              Μια Ελλάδα ένας δρόμος που ενώνεται εδώ<br>
              Με χίλια μονοπάτια, αλυσίδας κομμάτια<br>
              Μια Υπόσχεση που ανανεώνεται εδώ<br>
              Κρατάς πιο στέρεο το βήμα, ξετυλίγεις το νήμα<br><br>
              ωωωωω η καρδιά μου φωνάζει <br>
              ωωωωω πόσα ο νους μου βάζει <br><br>
              Είναι το φως που μαζεύεται μες στην αυγή<br>
              Έτσι έρχομαι κοντά, στηρίζω όνειρα<br>
              Το παραμύθι ποτέ δεν τελειώνει εκεί<br>
              Χαρά, φιλία, αγάπη από όλον τον χάρτη<br><br>
              ωωωωω η ψυχή μου ανοίγει<br>
              ωωωωω και ο δεσμός μας σφίγγει<br><br>
              Εκεί που τ' όνειρο συμβαίνει Jamboree θα 'μαι εκεί<br>
              Μια παρέα μας ζεσταίνει Jamboree θα 'μαι εκεί<br>
              Για 100 και γι' άλλα χρόνια A Θα σου κρατώ το χέρι<br>
              Να πιάσουμε το αστέρι Κι ο κρίκος να δεθεί<br><br>
              Στα Βούρλα τα Καμένα ο χρόνος σταματά<br>
              Και το παιχνίδι αρχίζει, ο τόπος πλημμυρίζει<br>
              Μια εικόνα γεμίζει από χαμόγελα<br>
              Χιλιάδες χέρια ανοίγουν και τον κόσμο τυλίγουν<br><br>
              ωωωωω κάνω όνειρα πάλι<br>
              ωωωωω κι η χαρά μου μεγάλη<br><br>
              Εκεί που τ' όνειρο συμβαίνει Jamboree θα 'μαι εκεί<br>
              Μια παρέα μας ζεσταίνει Jamboree θα 'μαι εκεί<br>
              Για 100 και γι' άλλα χρόνια Θα σου κρατώ το χέρι<br>
              Να πιάσουμε το αστέρι Κι ο κρίκος να δεθεί
              <span class="quote_after">”</span></p>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/8k85QwiCrJk"
              title="YouTube video player" frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen></iframe>
          </blockquote>
        </details>
        <details>
          <summary class="summary_song_title_scouts">
            Γκινγκ γκανγκ γκούλι
          </summary>
          <blockquote>
            <p class="song_lyrics">
              Γκινκγ γκανγκ γκούλι γκούλι γκούλι γκούλι γουάτσα<br>
              Γκινγκ γκανγκ γκου, Γκινγκ γκανγκ γκου<br><br>
              Γκινκγ γκανγκ γκούλι γκούλι γκούλι γκούλι γουάτσα<br>
              Γκινγκ γκανγκ γκου, Γκινγκ γκανγκ γκου<br><br>
              Έλα, έλα σέλα<br>
              Έλα σέλα έλα ωωω<br>
              Έλα, έλα σέλα<br>
              Έλα σέλα έλα ωωω<br><br>
              Σάλι γουάλι, Σάλι γουάλι<br>
              Σάλι γουάλι, Σάλι γουάλι<br><br>
              Ούμπα, ούμπα, ούμπα, ούμπα
              <span class="quote_after">”</span></p>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/rA1Ynm4cqTg"
              title="YouTube video player" frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen></iframe>
          </blockquote>
        </details>
        <details>
          <summary class="summary_song_title_scouts">
            Ελληνικός Προσκοπισμός
          </summary>
          <blockquote>
            <p class="song_lyrics">
              Ηταν μια μέρα που γυρνούσα μοναχός<br>και που ζητούσα να βρω ευτυχίας λίγο φως<br>τότε μια γνωριμία που
              `ρθε εκείνη τη στιγμή<br>μου `δωσε θάρρος στη ζωή.<br><br> Και από τότε που δεν είμαι μοναχός <br>φίλος
              μου είναι ο Ελληνικός Προσκοπισμός <br>μ΄ ευγνωμοσύνη θυμάμαι όλα `κείνα τα παλιά <br>και την τυχαία
              γνωριμιά.<br><br> Όπως μια σπίθα σε ολόξερα κλαδιά <br>και ο Προσκοπισμός φουντώνει αγάπη στην
              καρδιά<br>σαν φιλική φωνή σε ερημιά που συγκινεί<br>δίνει χαρά σ΄ όποιον ποθεί.
              <span class="quote_after">”</span></p>
          </blockquote>
        </details>
        <details>
          <summary class="summary_song_title_scouts">
            Ο ύμνος των προσκόπων
          </summary>
          <blockquote>
            <p class="song_lyrics">
              Με καρδιά από τόλμη γεμάτη <br>με ματιά σαν αστράφτει γοργή<br>το καθήκον ο Πρόσκοπος πράττει <br>όπου
              χρέος σεμνό τον καλεί.<br><br>Με θυσία προτείνει τα στήθια<br>για να δώσει στους άλλους
              βοήθεια<br>λεβεντιά, αγαθότης κι αλήθεια<br>του Προσκόπου είναι όλ’ η ζωή. <br><br>Υψηλόφρων, γενναίος,
              ιππότης<br>στην τιμή του υπόσχεται αυτός<br>κι είναι ο λόγος του πάντα Θεότης<br>και στον Νόμο του μένει
              πιστός. <br><br>Ενα άριστο σύνθημα έχει <br>ΕΣΟ ΕΤΟΙΜΟΣ, τούτο προσέχει <br>στους αγώνες ακούραστος
              τρέχει, <br>είναι εύθυμος και γελαστός.<br><br> Περπατά και βροντά,<br> όρη - δάση περνά<br> και το βήμα
              ταχύ,<br> μες τους κάμπους ηχεί. <br><br>Λεβεντιά, αγαθότης κι αλήθεια<br> του Προσκόπου είναι όλ’ η ζωή.
              <span class="quote_after">”</span></p>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/PCpMAqTLIpQ"
              title="YouTube video player" frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen></iframe>
          </blockquote>
        </details>
        <details>
          <summary class="summary_song_title_scouts">
            Ολο για πιο ψηλά ανεβάσματα
          </summary>
          <blockquote>
            <p class="song_lyrics">
              Προχωρούμε..... ενωμένοι...,όλο για πιο ψηλά ανεβάσματα<br>προχωρούμε μ' ένα μας στόχο <br>και μ’αγάπη
              στην καρδιά (δις)<br><br>Ο στόχος είναι αδελφοσύνη , ολο για πιο ψηλά ανεβάσματα<br>κι η αγάπη σαν μόνο
              <br>μέσο να βαδίζουμε μπροστά (δις) <br><br>Η φιλία ένας σπόρος, όλο για πιο ψηλά ανεβάσματα <br>θα
              βλαστίσει εκεί μονάχα<br> που η αγάπη κυβερνά (δις)<br><br>Χέρι - χέρι, πλάι - πλάι, όλο για πιο ψηλά
              ανεβάσματα<br>ο ένας πάντα διπλά στον άλλο <br>και όλοι πάντοτε μαζί (δις)<br><br>Χαμογέλα, μη φοβάσαι,
              όλο για πιο ψηλά ανεβάσματα <br>γιατί το γέλιο σαν ανθίζει<br>ο ήλιος λάμπει στην καρδιά (δις)<br><br>
              Προχωρούμε ενωμένοι , όλο για πιο ψηλά ανεβάσματα<br> με ένα μέσο μονάχα ένα<br> την αγάπη στην καρδιά.
              <span class="quote_after">”</span></p>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/FGY8PMmsnDw"
              title="YouTube video player" frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen></iframe>
          </blockquote>
        </details>
        <details>
          <summary class="summary_song_title_scouts">
            Καρδιές προσκοπικές
          </summary>
          <blockquote>
            <p class="song_lyrics">
              Στις πλαγιές φυτεύουμε καρδιές<br>
              και τις ρίζες των ψηλών ιδανικών. <br>
              Στις καρδιές λουλουδιάζουν ευωδιές <br>
              που σκορπάνε πικρίες κακών καιρών. <br><br>

              Ολαρί, λαρία, ολαρά <br>
              λαριάο, λαλαρία ριαό. (Δις) <br><br>

              Κορυφές ανεβαίνουμε ψηλές<br>
              και ξεχνάμε τις κακίες χαμηλά. <br>
              Στα ψηλά όλο λεύτερες πνοές, <br>
              που δροσίζουν την πατρίδα τη γλυκειά!!!
              <span class="quote_after">”</span></p>
          </blockquote>
        </details>
        <details>
          <summary class="summary_song_title_scouts">
            Ο θίασος
          </summary>
          <blockquote>
            <p class="song_lyrics">
              Στην κατασκήνωση ήρθαμε για άλλη μια φορά<br>
              κάθε καινούργιο χρόνο σαν και σήμερα. <br>
              Με γέλιο, κέφι και χαρά αρχίζουμε δουλειά<br>
              βάζοντας στη ζωή μας νέα σύνορα. <br><br>

              Κι αρμενίζαμε στα πέλαγα<br>
              γυρνώντας στα παλιά<br>
              στα παραμύθια ζήσαμε, γίναμε ήρωες ξανά<br>
              τα παραμύθια παίξαμε κι όλα γίναν αληθινά. <br>
              Και το βραδάκι στήναμε όλοι γύρω απ΄ τη φωτιά<br>
              τα σκηνικά του θίασου π΄ οδηγούσε πιο μακριά. <br><br>

              Το παραμύθι τέλειωσε σε τούτη την πυρά <br>
              ένα καινούργιο χρόνο σαν και σήμερα <br>
              κι οι φλόγες μας οδήγησαν, μ΄ αγάπη στην καρδιά <br>
              και γράφτηκαν με δάκρυα οι αναμνήσεις μας.
              <span class="quote_after">”</span></p>
          </blockquote>
        </details>
        <details>
          <summary class="summary_song_title_scouts">
            Θυμήσου όπου πας
          </summary>
          <blockquote>
            <p class="song_lyrics">
              Θυμήσου όπου πας, στιγμές χαράς,<br>στιγμές χαράς μαζί με μας στον κύκλο της πυράς. <br><br>Τα πουλιά
              τραγουδούν μαζί μας, <br>παίζουν τ΄ άστρα με το φώς.<br>Την πρωϊνή την προσευχή μας <br>χαιρόταν κι ο
              Θεός.<br><br>Θυμήσου όπου πας..... <br><br>Χρυσαφένιες ηλιαχτίδες, <br>στους γαλάζιους ουρανόυς. <br>Για
              μας της φύσης οι σελίδες<br>σε τόνους γιορτινούς. <br><br>Θυμήσου όπου πας..... <br><br>Περιπέτειες
              ωραίες, <br>αναμνήσεις ζωηρές. <br>Ονείρου σκιές, φιλίες νέες, <br>αγνές, χρυσές, γερές. <br><br>Θυμήσου
              όπου πας.....
              <span class="quote_after">”</span></p>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/XGFO1sY8Uhs"
              title="YouTube video player" frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen></iframe>
          </blockquote>
        </details>
        <details>
          <summary class="summary_song_title_scouts">
            Τα λόγια
          </summary>
          <blockquote>
            <p class="song_lyrics">
              Μεσ’ τη ζωή σου κάποια στιγμή,<br>είπες τα λόγια με σκέψη αγνή, <br>είπες τα λόγια που είπα και
              εγώ<br>αυτό με κάνει μαζί σου αδελφό. <br><br>Κάνω σκοπό μου, όπου βρεθώ, <br>σε κάθε ανάγκη να
              βοηθώ,<br>κάνω σκοπό μου, να ’ρθει η αυγή,<br>τα ίδια λόγια να πει όλη η γη. <br><br>Θα ’ρθουνε ώρες, ώρες
              σκληρές,<br>όπου οι καρδιές πρέπει νάν’ τολμηρές, <br>κείνες τις ώρες πέσ' τα ξανά, <br>αυτά τα λόγια, τα
              παντοτινά. <br><br>Κάνω σκοπό μου, όπου βρεθώ, <br>σε κάθε ανάγκη να βοηθώ,<br>κάνω σκοπό μου, να ’ρθει η
              αυγή,<br>τα ίδια λόγια να πει όλη η γη. <br><br>Μην τα ξεχάσεις, όπου κι αν πας,<br>μεσ’ την καρδιά σου,
              να τα κρατάς<br>κι αν το μυαλό σου, δε συμφωνεί, <br>με της καρδιάς να μιλάς τη φωνή. <br><br>Κάνω σκοπό
              μου όπου βρεθώ ...
              <span class="quote_after">”</span></p>
          </blockquote>
        </details>
        <details>
          <summary class="summary_song_title_scouts">
            Ζωή προσκοπική
          </summary>
          <blockquote>
            <p class="song_lyrics">
              Σαν ήμουν πιτσιρίκος μια σταλιά, <br>με ντύσανε αμέσως στα χακιά.<br>Με βλέπανε και σκάγανε στα γέλια οι
              δικοί<br>μα εγώ ζητούσα, φίλοι μου, ζωή προσκοπική. <br><br>Παραραράμ - παμ - παμ. (Δις) <br><br>Να δένω
              κόμπους άδετους με μάθαν στο λεπτό,<br>να λύνω κόμπους άλυτους, άλλο τρανό κι αυτό,<br>με τάραξαν στις
              εκδρόμες φασόλια και φακη,<br>μα εγώ ζητούσα, φίλοι μου, ζωή προσκοπική.<br><br>Παραραράμ - παμ - παμ.
              (Δις) <br><br>Στο πλύσιμο ξεπέρασα τη μάνα μου παιδιά, <br>να καθαρίζω ξέρετε μου πιάστηκε η
              καρδιά,<br>σκοπός από τις δύο ως τις έξι το πρώι, <br>μα εγώ ζητούσα, φίλοι μου, ζωή προσκοπική.
              <br><br>Παραραράμ - παμ - παμ. (Δις)<br><br>Και τώρα που την έμαθα την κόλαση αυτή<br>κι από την μύτη
              πιάστηκα σαν έξυπνο πουλί,<br>οι πίκρες και τα βάσανα την κάναν ζηλευτή <br>την ονειρεμένη αυτή ζωή την
              λεν΄ προσκοπική.<br><br>Παραραράμ - παμ - παμ. (Δις)
              <span class="quote_after">”</span></p>
          </blockquote>
        </details>
        <details>
          <summary class="summary_song_title_scouts">
            Το μαντήλι του ουρανού
          </summary>
          <blockquote>
            <p class="song_lyrics">
              Ιδρώτας στα μάτια κι ο δρόμος μακρύς,<br>τραχιά η ανηφόρα, μα κάπου θα βγεις. <br><br>Διαβάζεις το χάρτη,
              τον ξέρεις καλά <br>κι αν ο ήλιος καίει, θα ’ρθει η ακρογιαλιά. <br><br>Αν φοράς το μαντήλι, <br>που
              φοράει ο ουρανός, <br>τότε πρέπει στα μάτια,<br>το ίδιο να ’χεις φως. <br><br>Το κρέας ροδίζει, στη θράκα
              αργά,<br>το κύμα χαϊδεύει, την άμμο γλυκά. <br><br>Τα ξύλα κομμένα, καφές στη φωτιά,<br>το βλέμμα χαμένο,
              μεσ’ την ξαστεριά. <br><br>Αν φοράς το μαντήλι ....<br><br>Τους φίλους σου νιώθεις, σε νιώθουν κι αυτοί,
              <br>την ίδια έχετ’ όλοι, στο βλέμμα ορμή. <br><br>Η μέρα χαράζει, μαζί τους ξυπνάς<br>το σάκο στον ώμο,
              για άλλου ξεκινάς.<br><br>Αν φοράς το μαντήλι ...
              <span class="quote_after">”</span></p>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/hbaMaFTrHlI"
              title="YouTube video player" frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen></iframe>
          </blockquote>
        </details>
        <details>
          <summary class="summary_song_title_scouts">
            Ερχονται έφιπποι
          </summary>
          <blockquote>
            <p class="song_lyrics">
              Έρχονται έφιπποι<br>και με σαλπίσματα<br>οι κυνηγοί στο κυνήγι<br>λάμπει ωχρό το φως<br>του φεγγαριού
              ψηλά<br>και κελαηδούν τα πουλάκια<br>Παμ - παμ - παράμ - παμ - παμ ...<br><br>Να τα σκυλιά ορμούν<br>και
              με κραυγές χαράς<br>κύκλωσαν ένα ελάφι<br>τρέχει το δύστυχο,<br>τρέχει και κρύβεται<br>για να σωθεί απ’ τα
              βόλια.<br>Παμ - παμ - παράμ - παμ - παμ ...<br><br>Φεύγουν οι κυνηγοί,<br>πάνε στα σπίτια τους<br>με το
              πολύ το κυνήγι<br>σ’ ένα παράθυρο,<br>μια παιδική ματιά<br>βλέπει με πόνο κι αγάπη.<br>Μμμ - μμμ .……
              <span class="quote_after">”</span></p>
          </blockquote>
        </details>
        <details>
          <summary class="summary_song_title_scouts">
            Επήγα μια μέρα
          </summary>
          <blockquote>
            <p class="song_lyrics">
              Επήγα μια μέρα να πάρω αέρα<br>στη θάλασσα με το μπαμπά, <br>και είδα ανθρώπους τους λέγαν
              Προσκόπους<br>με παντελονάκια κοντά. <br><br>Έπαιζαν, γελούσαν, πηδούσαν, φυρούσαν<br>και όλοι φαίνονταν
              καλοί, <br>και ο μπαμπάς σε λιγάκι μου λέει <br>«Βρε Γιαννάκη, δε βάζεις κι εσύ την στολή;»<br><br>Ωχ, πως
              μου ‘ρθε αυτό το κακό <br>Ωχ, και θα τρελαθώ <br>Δε μ’ αρέσουν εμένα οι εκδρομές<br>Ωχ, αυτές οι
              εκδρομές.<br><br>Με πήραν, με ντύσαν και πάλι με φτιάξαν <br>ολόκληρο μες το χακί, <br>μου ‘δωσαν καπέλο
              πλατύ σα μαστέλο <br>και ένα κοντάρι μακρύ.<br><br>Μου ‘δώσαν μαντίλι, κορδόνι, τριφύλλι<br>και μου ‘παν
              τράβα εμπρός,<br>γιατί Πρόσκοπος είσαι, διαρκώς θα κινείσαι<br>όπου σε διατάξει ο Αρχηγός.
              <span class="quote_after">”</span></p>
          </blockquote>
        </details>
        <details>
          <summary class="summary_song_title_scouts">
            Εμείς είμαστε πρόσκοποι
          </summary>
          <blockquote>
            <p class="song_lyrics">
              Εμείς είμαστε Πρόσκοποι <br>ψυχή και σώματα γέρα, <br>δυνατά. <br><br>Ο ρόλος μας εδώ στη Γη<br>είναι να
              σκορπούμε την χαρά. ΄<br><br>Ο,τι και αν πει ο Πρόσκοπος<br>ο λόγος του είναι πιστευτός<br>(και κάθε νόμος
              της γλυκιάς πατρίδας<br>είναι πάντα σεβαστός). (2) <br><br>Φερόμαστε αδελφικά <br>προς κάθε άλλο
              Πρόσκοπο,<br>και βοηθούμε με χαρά <br>τον άρρωστο και τον φτωχό. <br><br>Αγνές είναι οι σκέψεις, καλές
              είναι οι πράξεις<br>και οικονόμος είναι αυτός <br>(είναι εργατικός κι αποφασιστικός, <br>είναι προς όλους
              αδελφός) (2)
              <span class="quote_after">”</span></p>
          </blockquote>
        </details>
        <details>
          <summary class="summary_song_title_scouts">
            Βάδιζε μπροστά συνεχώς
          </summary>
          <blockquote>
            <p class="song_lyrics">
              Βάδιζε μπροστά συνεχώς<br>κοίταζε πάντα στο φως<br>χαμογέλα δεν είν’ αργά <br>έχεις ψυχή έχεις καρδιά.
              <br><br>Ψάχνε μέσα σου συνεχώς <br>γύρω σου υπάρχει το φως <br>δίπλα σου τ' άλλα παιδιά <br>υπάρχει ακόμα
              ανθρωπιά. <br><br>Η ζωή κυλά συνεχώς<br>φρόντιζε να είσαι στο φως <br>πίστευε πως δεν είν’ αργά <br>μείνε
              νέος παντοτινά. <br><br>Δούλευε μ’ ένα σκοπό <br>κάν' τον κόσμο τούτον εδώ <br>πιο καλό απ’ ότι τον βρεις
              <br>προσπάθησε εσύ κι εμείς
              <span class="quote_after">”</span></p>
          </blockquote>
        </details>
        <details>
          <summary class="summary_song_title_scouts">
            Ο κρίκος
          </summary>
          <blockquote>
            <p class="song_lyrics">
              Βάδιζε μπροστά συνεχώς<br>κοίταζε πάντα στο φως<br>χαμογέλα δεν είν’ αργά <br>έχεις ψυχή έχεις καρδιά.
              <br><br>Ψάχνε μέσα σου συνεχώς <br>γύρω σου υπάρχει το φως <br>δίπλα σου τ' άλλα παιδιά <br>υπάρχει ακόμα
              ανθρωπιά. <br><br>Η ζωή κυλά συνεχώς<br>φρόντιζε να είσαι στο φως <br>πίστευε πως δεν είν’ αργά <br>μείνε
              νέος παντοτινά. <br><br>Δούλευε μ’ ένα σκοπό <br>κάν' τον κόσμο τούτον εδώ <br>πιο καλό απ’ ότι τον βρεις
              <br>προσπάθησε εσύ κι εμείς
              <span class="quote_after">”</span></p>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/VXQgDNLIuc8"
              title="YouTube video player" frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen></iframe>
          </blockquote>
        </details>
        <details>
          <summary class="summary_song_title_scouts">
            Φλόγα ελληνική
          </summary>
          <blockquote>
            <p class="song_lyrics">
              Φλόγα, φλόγα Προμηθέως, φλόγα Ελληνική.<br>Φλόγα, φλόγα νέας Δόξης φλόγα Ιστορική.<br>Φέγγε δρόμους αρετής
              και καθήκοντος τιμής,<br>δείχνε δρόμους ηθικής, π' ακολουθουμ' εμείς.<br><br>Φλόγα, φλόγα, φλόγα, φλόγα,
              φλόγα Ελληνική.<br>Φλόγα, φλόγα που φωτίζεις λευτεριάς πυρσούς. Με πυρπολητών δαυλούς κατενίκησες
              εχθρούς,<br>και σαν φως πολιτισμού εδίδαξες λαούς.
              <br>προσπάθησε εσύ κι εμείς
              <span class="quote_after">”</span></p>
          </blockquote>
        </details>
        <details>
          <summary class="summary_song_title_scouts">
            Η ιστορία
          </summary>
          <blockquote>
            <p class="song_lyrics">
              Την Ιστορία την γράφουν μόνο<br>όσοι δεν φεύγουν ποτέ, ποτέ<br>μπροστά στη λύπη, μπροστά στον πόνο,<br>οι
              νικητές, οι νικητές.<br><br>Αυτοί που ξέρουν να πολεμάνε<br>στήθος με στήθος κάθε φορά<br>αυτοί που ξέρουν
              πως να νικάνε<br>στη συμφορά, στη συμφορά.<br><br>Αυτοί που ξέρουν το πως να χτίζουν<br>πως ν’ αγαπιούνται
              σαν αδερφοί<br>όταν οι άλλοι γύρω σκορπίζουν<br>καταστροφή, καταστροφή.<br><br>Αυτοί που ξέρουν στ’
              ανεμοβρόχι<br>απ’ τη γαλήνη της προσευχής<br>αυτοί που ξέρουν να λένε ""όχι""<br>κι άλλος κανείς κι άλλος
              κανείς.<br><br>Την ιστορία την γράφουν μόνο<br>με την αγάπη μόνον μ’ αυτή<br>ώρα την ώρα, χρόνο με
              χρόνο,<br>οι δυνατοί, οι δυνατοί.
              <span class="quote_after">”</span></p>
          </blockquote>
        </details>
        <details>
          <summary class="summary_song_title_scouts">
            Προσκοπικό πνεύμα
          </summary>
          <blockquote>
            <p class="song_lyrics">
              Με τις χαρές μας, <br>με τις φωνές μας,<br>θα τραγουδάμε την ζωή! <br>Με την κιθάρα, <br>με το τραγούδι,
              <br>θα ανεβαίνουμε το στρατί!<br><br>Μεσ΄ στις σκηνές μας <br>με τις καρδιές μας, <br>κατασκηνώνουμε μαζί!
              <br>Με τις χαρές μας, <br>με τις φωνές μας, <br>θα τραγουδάμε την ζωή! <br><br>Ολ΄ αδελφοί μας, <br>οι
              Προσκοποί μας<br>που ομορφαίνουν την ζωή!<br>Σ΄ έργα ειρήνης,<br>μεγαλοσύνης, <br>όλο θα χτίζουν προκοπή!
              <br><br>Με τ΄ αεράκι, <br>το μελτεμάκι, <br>όλο φουσκώνουν τα πανιά!<br>Γι΄ άγνωστες χώρες <br>κι ας έχει
              μπόρες,<br>όλο τραβάμε στ΄ ανοιχτά.
              <span class="quote_after">”</span></p>
          </blockquote>
        </details>
        <details>
          <summary class="summary_song_title_scouts">
            Το κέφι σου ποτέ
          </summary>
          <blockquote>
            <p class="song_lyrics">
              Το κέφι σου ποτέ δεν πρέπει να χαλάς<br>θα βρεις μεσ΄ την ζωή εμπόδια πολλά. <br>Δουλειά μα και χαρά το
              σύνθημά σου θα `ναι<br>πάντα κεφάτος και πρώτος στη δουλειά. <br><br>Μεσ΄ στη ζωή παιδια δεν πρεπεί να
              `σαι τεμπέλης<br>πάντα καλή καρδιά κι έτσι κάνεις ότι θέλεις<br>τρα λα λα λα λα λα τρα λα λα λα λα.
              <br><br>Αν τύχει και θυμώσεις πάντα να γελάς,<br>κατσούφης να μην είσαι ούτε και φουκαράς,<br>ν΄ ακούς
              τους πιο μεγάλους που ξέρουν τη ζωή, <br>μην είσαι μπούφος ούτε κι εγωιστής.
              <span class="quote_after">”</span></p>
          </blockquote>
        </details>
        <details>
          <summary class="summary_song_title_scouts">
            Τον ήλιο έχω στην καρδιά
          </summary>
          <blockquote>
            <p class="song_lyrics">
              Τον ήλιο έχω στην καρδιά <br>το γέλιο στα χείλη<br>τη ζεστασιά μεσ΄ την ψυχή<br>στο στήθος τριφύλλι.
              <br><br>Στον κόσμο όλους ν΄ αγαπώ<br>σκοπός μου έχει γίνει <br>και πάντοτε να προσπαθώ <br>να ζήσει η
              ειρήνη. <br><br>Τη φύση κι αν πληγώσανε <br>σε όλο τον κόσμο <br>θα κάνω να μοσχοβολά <br>θυμάρι και
              δυόσμο.
              <span class="quote_after">”</span></p>
          </blockquote>
        </details>
        <details>
          <summary class="summary_song_title_scouts">
            Ο φίλος
          </summary>
          <blockquote>
            <p class="song_lyrics">
              Είχα ένα φίλο και `γω μια φορά<br>
              ήταν ο άθλιος μια χαρά<br>
              μια κοιλάρα τόσο μεγάλη<br>
              κι από μυαλό τόσο δα στο κεφάλι. <br><br>
              Ω!ω! πόσο τον ελυπόμουνα<br>
              και σκεφτόμουνα και ρωτιόμουνα<br>
              τι να τον κάνω τον φουκαρά<br>
              βρήκα μια λύση και `γω μια φορά. <br><br>
              Μεσ΄ στην ομάδα τον πήρα που λες<br>
              τις πρώτες μέρες ήταν να τον κλαίς<br>
              όπου περνούσε γκάφες σκορπούσε<br>
              και η ομάδα μαζί του γελούσε.
              <span class="quote_after">”</span></p>
          </blockquote>
        </details>
        <details>
          <summary class="summary_song_title_scouts">
            Με το σάκο ψηλά
          </summary>
          <blockquote>
            <p class="song_lyrics">
              Με το σάκκο ψηλά<br>
              και μ΄ αγνή την καρδιά (δις) <br>
              βαδίζουμε μπροστά. <br><br>
              Για βουνοπλαγιές και για κορυφές<br>
              ξεκινάμε απ΄ το πρωί εκδρομές μακρινές<br>
              και ταξίδια πολλά (δις) <br>
              κάνουμε όλοι μαζί. <br><br>
              Την Ελλάδα μας να γνωρίσουμε<br>
              την πατρίδα μας παιδιά,<br>
              ακρογιάλια,πηγές και τη θάλασσα (δις) <br>
              με τα γαλανά νερά. <br><br>
              Πατρίδα έχουμε ένδοξη <br>
              που θα την τιμήσουμε. <br>
              Η δουλειά θα `ναι πολλή<br>
              και καμιά φορά σκληρή(δις) <br>
              μα θα επιτύχουμε.
              <span class="quote_after">”</span></p>
          </blockquote>
        </details>
        <details>
          <summary class="summary_song_title_scouts">
            Απ'τα ψηλά
          </summary>
          <blockquote>
            <p class="song_lyrics">
              Ψηλά βουνά έχει η ζωή μας <br>
              στις πιο απάτητες κορφές τους η χαρά. <br>
              Δεν μας τρομάζουν χιόνια <br>
              το δρόμο ξέρουμε που βγάζει στα ψηλά. <br><br>

              Απ΄ τα ψηλά για πιο ψηλά κινάμε<br>
              παν΄ από τ΄ αστέρια φτερουγίζει η ψυχή μας<br>
              κι είναι η ζωή μας <br>
              ουράνιο τόξο μεσ΄ στη μπόρα αυτής της γής. <br><br>

              Πιασμένοι όλοι, χέρι - χέρι<br>
              θε ν΄ ανεβούμε ως την πιο ψηλή κορφή,<br>
              παντ΄ αδελφωμένοι<br>
              να `ρθει η αγάπη ν΄ αγκαλιάσει όλη τη γη.
              <span class="quote_after">”</span></p>
          </blockquote>
        </details>
        <details>
          <summary class="summary_song_title_scouts">
            Η φρεγάτα
          </summary>
          <blockquote>
            <p class="song_lyrics">
              Ητανε μια φρεγάτα παιδια, ήτανε μια φρεγάτα<br>
              γλάρο τη λέγανε, φτιάξτε μια καντηλίτσα,<br>
              γλάρο τη λέγανε, κάνε μια ψαλλιδιά. <br><br>
              Στο πρώτο της ταξίδι παιδιά, στο πρώτο της ταξίδι<br>
              όλα πάνε καλά, κάνε μια καντηλίτσα<br>
              όλα πάνε καλά, κάνε μια ψαλλιδιά. <br><br>
              Στο δεύτερο ταξίδι παιδιά, στο δεύτερο ταξίδι<br>
              κοπήκαν τα σχοινία, κάνε μια καντηλίτσα,<br>
              κοπήκαν τα σχοινία, κάνε μια ψαλλιδιά. <br><br>
              Στο τρίτο της ταξίδι παιδιά, στο τρίτο της ταξίδι<br>
              σχίστηκαν τα πανιά, κάνε μια καντηλίτσα,<br>
              σχίστηκαν τα πανιά, κάνε μια ψαλλιδιά. <br><br>
              Στο τέταρτο ταξίδι παιδιά, στο τέταρτο ταξίδι<br>
              εμπήκανε νερά, κάνε μια καντηλίτσα,<br>
              εμπήκανε νερά, κάνε μια ψαλλιδιά. <br><br>
              Το πλήρωμά της όλο παιδιά , το πλήρωμά της όλο,<br>
              πνίγηκε στα ρηχά, κάνε μια καντηλίτσα,<br>
              πνίγηκε στα ρηχά, κάνε μια ψαλλιδιά. <br><br>
              Εσώθηκε ένας μόνο παιδιά, εσώθηκε ένας μόνο, <br>
              χωρίς να κολυμπά, κάνε μια καντηλίτσα,<br>
              χωρίς να κολυμπά, κάνε μια ψαλλιδιά. <br><br>
              Πηδώντας βράχο βράχο παιδιά, πηδώντας βράχο βράχο<br>
              έθφασε στη στεριά, κάνε μια καντηλίτσα,<br>
              έθφασε στη στεριά, κάνε μια ψαλλιδιά.
              <span class="quote_after">”</span></p>
          </blockquote>
        </details>
        <details>
          <summary class="summary_song_title_scouts">
            Στα ξάρτια ψηλά
          </summary>
          <blockquote>
            <p class="song_lyrics">
              Στα ξάρτια ψηλά,<br>
              στους φαρούς και μεσ΄στα κανάλια<br>
              παντού τριγυρνά, ο ναύτης παντοτεινά. <br><br>
              Σαν το γλάρο μας καμαρωμένος<br>
              και πατώντας σχοινί το σχοινί,<br>
              τα πανιά του λύνει αντρειωμένος<br>
              γρήγορος σαν την αστραπή. <br><br>
              Και παντού και πάντα ταξιδεύει,<br>
              με βοριά με τρικυμία στ΄ ανοιχτά,<br>
              νύχτα - μέρα όλο κινδυνεύει,<br>
              στο τιμόνι του ξαγρυπνά.
              <span class="quote_after">”</span></p>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/1brByU5NAGY"
              title="YouTube video player" frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen></iframe>
          </blockquote>
        </details>
        <details>
          <summary class="summary_song_title_scouts">
            Ο τσαγκάρης
          </summary>
          <blockquote>
            <p class="song_lyrics">
              Τσαγκάρη έχε γεια,<br>
              να μας φτιάξεις σανδάλια,<br>
              να `χουν από κάτω<br>
              τ΄ αητού τα φτερά. <br><br>
              Να δω ξένες χώρες,<br>
              παλάτια, καλύβες<br>
              και όπου κι αν περάσω να λένε γι’ αυτά.
              <span class="quote_after">”</span></p>
          </blockquote>
        </details>
      </article>
    </div>