<input type="hidden" name="page" value="usefull_music" class="page_name">
<div class="page-image">
  <img src="/images/usefull/music/pexels-pixabay-164821.jpg" alt="εικόνα με μουσικές νότες"
    style="border-bottom: 7px solid rgb(61, 61, 61);">
</div>
<h2 class="title_page">Τραγούδια</h2>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-9 order-1 order-md-2 second_column">
      <article class="scout_group_music_article">
        <p>
          Δείτε παρακάτω μία συλλογή με προσκοπικά τραγούδια. Κάντε κλικ σε όποιο τραγούδι θέλετε για να δείτε τους
          στίχους! Σε κάποια τραγούδια εμφανίζεται
          επίσης ένα ηχητικό κομμάτι για να το ακούσετε.
        </p>
        <h2>Τραγούδια Αγέλης</h2>
        <details>
          <summary class="summary_song_title_cubs">
            100 Χρόνια παρέα
          </summary>
          <blockquote>
            <p class="song_lyrics">Φτιάχνω πάλι το σακίδιο μου<br>
              φαίνεται όμως πιο βαρύ<br>
              το ανοίγω κι' αντικρίζω<br>
              γέλιο και χαρά πολύ<br><br>
              Έσο Έτοιμος για πάντα<br>
              Έσο Έτοιμος θα πει<br>
              100 χρόνια παρέα<br>
              100 χρόνια μαζί (2)<br><br>
              Προσκοπος θα πει να έχεις<br>
              πάντα αγάπη στην καρδιά<br>
              Θεό πατρίδα εμπειρίες<br>
              κι όλα θα σου παν καλά<br><br>
              Έσο Έτοιμος για πάντα<br>
              Έσο Έτοιμος θα πει<br>
              100 χρόνια παρέα<br>
              100 χρόνια μαζί(3)
              <span class="quote_after">”</span></p>
            <audio controls>
              <source src="/audio/songs/cubs/100_years.mp3" type="audio/mpeg">
            </audio>
          </blockquote>
        </details>
        <details>
          <summary class="summary_song_title_cubs">
            Ο άσπρος Ραν
          </summary>
          <blockquote>
            <p class="song_lyrics">Τον Μόγλη οι μαϊμούδες τον πήραν και παν<br>
              κι ενώ τον τραβούσαν ψηλά στα κλαδιά,<br>
              αυτός τότε βλέπει τον άσπρο τον Ραν<br>
              κι αμέσως του κράζει πολύ δυνατά.<br><br>
              Άσπρε Ραν, Άσπρε Ραν, Άσπρε Ραν, Άσπρε Ραν<br>
              οι μαϊμούδες επήραν τον Μόγλη και πάν (δις)<br><br>
              Για πέτα στη ζούγκλα να βρείς τον Μπαλού,<br>
              να βρείς τον Μαπγκήρα τους άλλους αλλού<br>
              και γρήγορα τρέξτε στην Κρύα Μονιά<br>
              κει που `χουν στήσει οι μαϊμούδες φωλιά.<br><br>
              Χτυπώντας γερά τις φτερούγες ο Ραν,<br>
              τον γέρο Μπαλού, τον Μπαγκήρα, τον Κάα,<br>
              τους βρίσκει και λέει, μ΄ αυτοί τον κοιτάν<br>
              πως τον Μόγλη οι μαϊμούδες τον πήραν και παν.<br><br>
              Εμπρός για τρεχάτε στην Κρύα Μονιά,<br>
              κει που τα Μπάντερλογκ στήσαν φωλιά.<br>
              Και τρεξαν και σώσαν το Μόγλη παιδιά<br>
              και πρώτος ο Ραν έχει απ΄ όλους χαρά.
              <span class="quote_after">”</span></p>
          </blockquote>
        </details>
        <details>
          <summary class="summary_song_title_cubs">
            Μόγλης και μπατερλογκ
          </summary>
          <blockquote>
            <p class="song_lyrics">Ο Μόγλης στα λημέρια μας εφάνηκε<br>
              μα τα μπάντερλογκ τον επιάσανε,<br>
              για δες και την ωραία μας ουρά<br>
              που είναι όμορφη και μακριά.
              <span class="quote_after">”</span></p>
          </blockquote>
        </details>
        <details>
          <summary class="summary_song_title_cubs">
            Σαν πήγα στα λυκάκια
          </summary>
          <blockquote>
            <p class="song_lyrics">Σαν πήγα στα Λυκάκια, Λυκάκι να γένω (δις)<br>
              Λυκάκι να γενώ χαρούμενο και γελαστό και γελαστό<br>
              λυκάκι να γενώ πάντοτε χαρωπό. <br><br>
              Τζόκευ κάπελακι, μου δώσαν να φορώ<br>
              τζόκευ κάπελακι, μου δώσαν να φορώ<br>
              μου δώσαν να φορώ με τι καμάρι περπατώ περπατώ<br>
              μου δώσαν να φορώ με τι χαρά εγώ<br><br>
              Μια καλή πράξη μου παν να κάνω πάντα εγώ<br>
              μια καλή πράξη μου παν να κάνω πάντα εγώ<br>
              να κάνω πάντα εγώ χωρίς να παίρνω ευχαριστώ ευχαριστώ<br>
              να κάνω πάντα εγώ χωρίς ευχαριστώ.
              <span class="quote_after">”</span></p>
          </blockquote>
        </details>
        <details>
          <summary class="summary_song_title_cubs">
            Ο χορός της Μπαλού
          </summary>
          <blockquote>
            <p class="song_lyrics">Όρθια τ΄ αυτιά σου Λυκόπουλο,<br>
              πάντοτε ν΄ ακούς τον Γερόλυκο.<br>
              Κλείσε τ΄ αυτιά σου Λυκόπουλο,<br>
              στον εαυτό σου τον νεώτερο.
              <span class="quote_after">”</span></p>
          </blockquote>
        </details>
        <details>
          <summary class="summary_song_title_cubs">
            Ο χορός της Μπαγκήρα
          </summary>
          <blockquote>
            <p class="song_lyrics">Δόντια π΄ αστράφτουν<br>
              πόδια που είναι αθόρυβα<br>
              και ματιές που σκίζουν τη νυχτιά.<br>
              Πόδια αθόρυβα<br>
              και ματιές που λάμπουν στη σκιά.
              <span class="quote_after">”</span></p>
          </blockquote>
        </details>
        <details>
          <summary class="summary_song_title_cubs">
            Το τραγούδι της ανάβασης
          </summary>
          <blockquote>
            <p class="song_lyrics">Αδέλφια ας μαζευτούμε εδώ<br>
              μ΄ αγάπη στην καρδιά.<br>
              Μας φεύγει ένα λυκόπουλο<br>
              κι αφήνει τη Φωλιά.<br><br>
              Ω Λύκε, φίλε κι αδελφέ,<br>
              στο δρόμο που θα πας<br>
              να μην ξεχνάς ότι έμαθες<br>
              μαζί μας ν΄ αγαπάς. <br><br>
              Με μάτια μπήκες σφαλιστά<br>
              στη ζούγκλα ένα πρωί<br>
              μα τ΄ άνοιξες σιγά - σιγά<br>
              στην όμορφη ζωή. <br><br>
              Τα χέρια δίνοντας μαζί<br>
              πηγαίναμε μπροστά. <br>
              Πάντα η φιλία θα κρατά <br>
              τα χέρια μας σφιχτά. <br><br>
              Εμπρός τα χέρια ας δώσουμε<br>
              για μια στερνή φορά,<br>
              κι ας μας ενώνει πάντοτε<br>
              η αγάπη κι η χαρά. <br><br>
              Ω Λύκε, φίλε κι αδελφέ<br>
              θυμήσου όπου πας<br>
              τους Λύκους που σε μάθανε<br>
              το Νόμο να κρατάς.
              <span class="quote_after">”</span></p>
          </blockquote>
        </details>
        <details>
          <summary class="summary_song_title_cubs">
            Γίνε 100 κι ' εσύ μπορείς
          </summary>
          <blockquote>
            <p class="song_lyrics">
              Γίνε 100 κι ' εσύ μπορείς<br>
              φτάσε ως την άκρη της κορφής<br>
              όλα στην αγέλη είναι ιδανικά<br>
              με παιχνίδι γέλιο και χαρά<br><br>
              μια προσπάθεια αρκεί<br>
              έστω και αν χάσεις<br>
              φτάνει που δοκίμασες να φτάσεις<br><br>
              Γίνε 100 κι ' εσύ μπορείς <br>
              φτάσε ως την άκρη της κορφής<br><br>
              Πάντα χαμογελαστή βαδίζει τραγουδώντας<br>
              κιτρινίζει γειτονιά περνώντας<br><br>
              Γίνε 100 κι ' εσύ μπορείς<br>
              φτάσε ως την άκρη της κορφής<br>
              όλα στην αγέλη είναι ιδανικά <br>
              με παιχνίδι γέλιο και χαρά<br><br>
              μια προσπάθεια αρκεί <br>
              έστω και αν χάσεις<br>
              φτάνει που δοκίμασες να φτάσεις<br><br>
              Παίξε χαμογέλα<br>
              τραγούδα σαν Ακέλα <br>
              πέντε χρόνια μόνο ευτυχισμένα<br><br>
              Κι' άμα δε σου βγαίνουνε<br>
              κι' άλλο δεν αντέχεις<br>
              να χαμογελάς γι'αυτό που έχεις<br><br>
              Γίνε 100 κι ' εσύ μπορείς<br>
              φτάσε ως την άκρη της κορφής<br><br>
              Κι' όταν η αγέλη σου<br>
              φτάσει στην κορφή<br>
              το τραγούδι δεν τελειώνει εκεί<br><br>
              Κι όταν κατσουφιάζεις<br>
              θέλεις τη μαμά<br>
              έτσι δε θα νιώθεις κατσουφιά<br><br>
              Μέτρα 100 , σφύρα πονηρά<br>
              μπες μέσα στον κύκλο στη χαρά<br><br>
              Γίνε 100 κι ' εσύ μπορείς<br>
              φτάσε ως την άκρη της κορφής<br><br>
              Το τραγούδι αυτό<br>
              ποτέ δεν τελειώνει<br>
              μυρίζει σα θυμάρι και κυδώνι<br><br>
              πάμε εμείς μαζί για άλλα 100 <br>
              είσαι εσύ λυκόπουλο σωστό<br>
              Γίνε 100 κι ' εσύ μπορείς<br>
              φτάσε ως την άκρη της κορφής<br>
              όλα στην αγέλη είναι ιδανικά<br>
              με παιχνίδι γέλιο και χαρά
              <span class="quote_after">”</span></p>
            <audio controls>
              <source src="/audio/songs/cubs/turn_100.mp3" type="audio/mpeg">
            </audio>
          </blockquote>
        </details>
        <details>
          <summary class="summary_song_title_cubs">
            Καινούριο Λυκοπουλάκι
          </summary>
          <blockquote>
            <p class="song_lyrics">
              Καινούργιο Λυκοπουλάκι<br>
              καλώς ήλθες μεσ΄ στη φωλιά.<br>
              Θα γενείς με μας αδελφός<br>
              μ΄ ανοιχτά δύο μάτια στο φώς.<br>
              Στης ζούγκλας θα σ΄ οδηγήσουν το Νόμο Λύκοι παλιοί.<br><br>
              Οπου πας μια πράξη καλή<br>
              και τραγούδια μεσ΄ στη δουλειά.<br>
              Καινούργιο Λυκοπουλάκι<br>
              καλώς ήλθεσ μεσ΄ στη φωλιά.
              <span class="quote_after">”</span></p>
          </blockquote>
        </details>
        <details>
          <summary class="summary_song_title_cubs">
            Η αγέλη πάει εκδρομή
          </summary>
          <blockquote>
            <p class="song_lyrics">
              Πρωί πρωί και φίνα<br>
              με τον Ακέλα πρίμα<br>
              Λυκόπουλα εξάδες<br>
              η Αγέλη ξεκινά.<br><br>
              Καπέλα μ΄ έξι ρίγες<br>
              καλτσάκια με φουντάκι<br>
              σακίδια στην πλάτη<br>
              για εκδρομή παιδιά.<br><br>
              Και φθάνουμε στο δάσος<br>
              στους βράχους και τα σκίνα<br>
              ο Νόμος λέει αμέσως<br>
              γοργά για τη δουλεία. <br><br>
              Ιδρώτας χωματένιος ψωμάκι και νεράκι<br>
              περάσαμε ωραία <br>
              στην εκδρομή παιδιά.
              <span class="quote_after">”</span></p>
          </blockquote>
        </details>
        <details>
          <summary class="summary_song_title_cubs">
            Ένας για όλους και όλοι για έναν
          </summary>
          <blockquote>
            <p class="song_lyrics">
              Θέλω να είμαι φίλος για σένα<br>
              κι εσύ να είσαι φίλος για μένα<br>
              χέρι με χέρι για όλα τα χρόνια<br>
              και έτσι η ΕΙΡΗΝΗ να είναι αιώνια.<br><br>
              Να σε βοηθήσω να με βοηθήσεις<br>
              μαζί να κλάψεις, να τραγουδήσεις<br>
              κι αν μόνος νιώσω, χωρίς κανένα<br>
              ΕΝΑΣ ΓΙΑ ΟΛΟΥΣ ΚΑΙ ΟΛΟΙ ΓΙΑ ΕΝΑΝ.<br><br>
              Μεσ΄ στην Αγέλη, μεσ΄ στις σκηνές μας,<br>
              μέσα στη σκέψη και στις καρδιές μας<br>
              το σύνθημα μας ας είναι ένα :<br>
              ΕΓΩ ΓΙΑ ΣΕΝΑ ΚΙ ΕΣΥ ΓΙΑ ΜΕΝΑ.
              <span class="quote_after">”</span></p>
          </blockquote>
        </details>
        <details>
          <summary class="summary_song_title_cubs">
            Το αστεράκι
          </summary>
          <blockquote>
            <p class="song_lyrics">
              Πάντα ψηλά σαν κοιτάζεις<br>
              μέσ’ το σκοτάδι θα βρεις<br>
              ένα μικρό αστεράκι<br>
              για να οδηγηθείς.<br><br>
              Θε να σου δείχνει το δρόμο<br>
              στο Νότο και στο Βορρά<br>
              κι άμα το βρεις μη φοβάσαι<br>
              όλα θα πάνε καλά.<br><br>
              Γιο - λα - ρι - α (3)<br>
              Γιο - λα - λα - ρι - α - λα –ο<br><br>
              Θάρρος Πρόσκοπέ μου<br>
              σφίξε την καρδιά <br>
              πάρε εμπρός το δρόμο <br>
              δίχως ακεφιά. <br><br>
              Κι όταν το σκοτάδι<br>
              γύρω θα χαθεί<br>
              η ζωή μπροστά σου<br>
              θα φέγγει χαρωπή.
              <span class="quote_after">”</span></p>
              <audio controls>
                <source src="/audio/songs/cubs/star.mp3" type="audio/mpeg">
              </audio>
          </blockquote>
        </details>
        <details>
          <summary class="summary_song_title_cubs">
            Εμπρός λυκοπουλάκια
          </summary>
          <blockquote>
            <p class="song_lyrics">
              Εμπρός Λυκοπουλάκια<br>
              της ζούγκλας τα παιδιά,<br>
              να πούμε τ΄ αδελφού μας<br>
              τραγούδια απ΄ την καρδιά.<br><br>
              Εβγήκε στο κυνήγι<br>
              με πόδια τρυφερά,<br>
              μα τό 'να μάτι ανοίγει<br>
              και λάμπει από χαρά.
              <span class="quote_after">”</span></p>
          </blockquote>
        </details>
        <details>
          <summary class="summary_song_title_cubs">
            Στην εξοχή
          </summary>
          <blockquote>
            <p class="song_lyrics">
              Στην εξοχή δεν πρέπει να κοιμάσαι<br>
              πρωϊ πρωϊ στο πόδι πρέπει να `σαι<br>
              με την δροσιά τα μούτρα σου να πλένεις<br>
              πλάτσα πλούτσα στα νερά, τρα λαλα λαλα λαλα. (Δις)<br><br>
              Κι αν χρειαστεί να πας υπηρεσία<br>
              πρώτος εσύ να γίνεσαι θυσία<br>
              με ντι ντι ντι στην τρόμπα να τρομπάρεις<br>
              τσουφ τσουφ τσουφ στο ντι ντι ντι, κικιρίκι κικικι (Δις) <br><br>
              Κι όταν σκοπό σε βάλουν να φυλάξεις<br>
              σαν δεις γατιά και κότες μην τρομάξεις<br>
              και τις φωνές μην μπήξεις κάνα βράδυ<br>
              συμμορία βρε παιδιά τρα λαλα λαλα λαλα. (Δις) <br><br>
              Χωρίς μιλιά να τρώς ότι σου δίνουν<br>
              τα μάγουλα σου πρέπει να παχύνουν<br>
              και η μαμά να λέει με καμάρι<br>
              ένα γιόκα που `χω εγώ, πω πω πω να τον χαρώ. (Δις)
              <span class="quote_after">”</span></p>
          </blockquote>
        </details>
        <details>
          <summary class="summary_song_title_cubs">
            Ο σωστός λύκος
          </summary>
          <blockquote>
            <p class="song_lyrics">
              Να΄σαι λυκόπουλο είναι καλά<br>
              μεσ΄ την Αγέλη περνάς μια χαρά<br>
              με γέλιο, τραγούδι, παιχνίδι, εκδρομές<br>
              κυνήγια αλησμόνητα, γνώσεις πολλές.<br><br>
              Μα πρέπει και να `χεις στο νου συνεχώς<br>
              να λέγεσαι Λύκος, μα Λύκος σωστός.<br>
              Την μπλέ και χακί σου στολή σαν φοράς<br>
              με πόσο καμάρι στο δρόμο περνάς, <br><br>
              Νόμο και υπόσχεση ξέρεις καλά<br>
              και στήνεις τ΄ αυτιά σαν ο ΑΚΕΛΑ μιλά.<br>
              Μα πρέπει και να `χεις στο νου συνεχώς<br>
              να λέγεσαι Λύκος, μα Λύκος σωστός. <br><br>
              Η κάθε σου πράξη να είναι καλή<br>
              κι ο Νόμος σου ναν΄ οδηγός στη ζωή<br>
              να δίνεις το χέρι σε όποιον πονεί<br>
              και να έχεις αδέλφια σε όλη την γή. <br><br>
              Γιατί πρέπει να `χεις στο νου συνεχώς<br>
              να λέγεσαι Λύκος, μα Λύκος σωστός.
              <span class="quote_after">”</span></p>
          </blockquote>
        </details>
        <details>
          <summary class="summary_song_title_cubs">
            Άσπρα και μαύρα τα λυκάκια
          </summary>
          <blockquote>
            <p class="song_lyrics">
              Άσπρα και μαύρα τα Λυκάκια<br>
              πιτσιλωτά, σταχτιδερά<br>
              όλα μαζί σε μιαν Αγέλη.<br>
              Και θα γλεντήσουμ΄ω χαρά μας<br>
              σε πανηγύρι χαρωπό<br>
              όλοι οι Λύκοι ενωμένοι.<br><br>
              Λα - λα - λα - λα - λα - λα...<br><br>
              Ένα τραγούδι όλοι θα πούμε<br>
              χαρούμενο και γελαστό<br>
              τραγούδι μέσα απ΄ την καρδιά μας.<br>
              Και θα δεθούμε μια για πάντα<br>
              και θα γενούμε αδελφοί<br>
              όλοι οι Λύκοι μεσ΄ τον κόσμο.<br><br>
              Λα - λα - λα - λα - λα - λα...<br><br>
              Αν ενά παιδί τυχεί να σου πει<br>
              πως Λυκόπουλο είναι, να μην γελαστείς.<br>
              Γιατί ψέματα πάντα θα σου πει αν δε το ιδείς φαιδρό.<br><br>
              Γιατί πάντα ένα Λυκάκι,<br>
              δεν θυμώνει, δεν δακρύζει. <br>
              Κι αν ένα κακό πάθει μια φορά,<br>
              εύθυμο ευθύς σφυρά.
              <span class="quote_after">”</span></p>
          </blockquote>
        </details>
          <details>
            <summary class="summary_song_title_cubs">
              Αν ένα παιδί
            </summary>
            <blockquote>
              <p class="song_lyrics">
                Αν ενά παιδί τυχεί να σου πει<br>
                πως Λυκόπουλο είναι, να μην γελαστείς.<br>
                Γιατί ψέματα πάντα θα σου πει αν δε το ιδείς φαιδρό.<br><br>
                Γιατί πάντα ένα Λυκάκι,<br>
                δεν θυμώνει, δεν δακρύζει.<br>
                Κι αν ένα κακό πάθει μια φορά,<br>
                εύθυμο ευθύς σφυρά.
                <span class="quote_after">”</span></p>
                <audio controls>
                  <source src="/audio/songs/cubs/if_a_child.mp3" type="audio/mpeg">
                </audio>  
            </blockquote>
        </details>
      </article>
    </div>