<div class="page-image">
  <img src="/images/uniform/handkerchief.jpg" alt="εικόνα με προσκοπικό μαντήλι" style="border-bottom: 7px solid rgb(61, 61, 61);">
</div>
<h3 style="text-align: center; border-bottom: 7px solid green; padding-bottom: 20px; margin-top: 20px;">Στολή</h3>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-8 order-2 order-md-2">
      <article class="uniform_article">
        <p>
          Παρακάτω μπορείτε να βρείτε μερικές εικόνες που θα σας λύσουν όποια τυχόν απορία τύπου «που πρέπει να ράψω αυτό το σηματάκι»! <br>
          Κάντε κλικ πάνω στις εικόνες για μεγένθυση
        </p>
        <h4>Λυκόπουλα</h4>
        <a href="/images/uniform/stolilykopoula2.jpg" target="_blank"><img src="/images/uniform/stolilykopoula2.jpg" alt="Η μπροστινή πλευρά μιας στολής λυκοπούλων"></a>
        <a href="/images/uniform/diakritikalykopoula2.jpg" target="_blank"><img src="/images/uniform/diakritikalykopoula2.jpg" alt="Τα διακριτικά μιας στολής λυκοπούλων"></a>
        <h4>Πρόσκοποι</h4>
        <a href="/images/uniform/stoliproskopoi2.jpg" target="_blank"><img src="/images/uniform/stoliproskopoi2.jpg" alt="Η μπροστινή πλευρά μιας στολής προσκόπων"></a>
        <a href="/images/uniform/diakritikaproskopoi.jpg" target="_blank"><img src="/images/uniform/diakritikaproskopoi.jpg" alt="Τα διακριτικά μιας στολής προσκόπων"></a>
        <h4>Ανιχνευτές</h4>
        <a href="/images/uniform/stolianixneytes2.jpg" target="_blank"><img src="/images/uniform/stolianixneytes2.jpg" alt="Η μπροστινή πλευρά μιας στολής Ανιχνευτών"></a>
        <a href="/images/uniform/diakritikaanixneytes2.jpg" target="_blank"><img src="/images/uniform/diakritikaanixneytes2.jpg" alt="Τα διακριτικά μιας στολής Ανιχνευτών"></a>
        <h4>Βαθμοφόροι</h4>
        <a href="/images/uniform/stolienilikes.jpg" target="_blank"><img src="/images/uniform/stolienilikes.jpg" alt="Η μπροστινή πλευρά μιας στολής Βαθμοφόρων"></a>
        <a href="/images/uniform/diakritikaenilikes2.jpg" target="_blank"><img src="/images/uniform/diakritikaenilikes2.jpg" alt="Τα διακριτικά μιας στολής Βαθμοφόρων"></a>
      </article>
    </div>