<div class="page-image">
  <img src="/images/uniform/handkerchief.jpg" alt="εικόνα με προσκοπικό μαντήλι" style="border-bottom: 7px solid rgb(61, 61, 61);">
</div>
<h2 class="title_page">Στολή</h2>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-8 order-1 order-md-2">
      <article class="uniform_article">
        <p>
          Παρακάτω μπορείτε να βρείτε μερικές εικόνες που θα σας λύσουν όποια τυχόν απορία τύπου «που πρέπει να ράψω αυτό το σηματάκι»! <br>
          Κάντε κλικ πάνω στις εικόνες για μεγένθυση
        </p>
        <h4>Λυκόπουλα</h4>
        <a href="/images/uniform/stolilykopoula2.jpg" target="_blank"><img src="/images/uniform/stolilykopoula2.jpg" alt="Η μπροστινή πλευρά μιας στολής λυκοπούλων"></a>
        <a href="/images/uniform/diakritikalykopoula2.jpg" target="_blank"><img src="/images/uniform/diakritikalykopoula2.jpg" alt="Τα διακριτικά μιας στολής λυκοπούλων"></a><br>
        <a href="/images/uniform/mesaurments_lykopoyla.jpg" target="_blank"><img src="/images/uniform/mesaurments_lykopoyla.jpg" alt="Τα διακριτικά μιας στολής λυκοπούλων"></a>
        <a href="/images/uniform/lyk_requirements.jpg" target="_blank">
        <img src="/images/uniform/lyk_requirements_small.jpg" alt="Τα διακριτικά μιας στολής λυκοπούλων" usemap="#workmap">
      </a>
      <map name="workmap">
        <area shape="rect" coords="34,156,177,340" href="https://www.scout-shop.gr/eshop/product/17821/poykamiso-lykopoylon-kitrino" target="_blank" alt="Πουκάμισο Λυκοπούλου" title="Πουκάμισο Λυκοπούλου">
        <area shape="rect" coords="262,156,408,350" href="https://www.scout-shop.gr/eshop/product/21438/panteloni-unisex-diairoymeno-no30-40" target="_blank" alt="Παντελόνι Unisex Διαιρούμενο No30-40" title="Παντελόνι Unisex Διαιρούμενο No30-40">
        <area shape="rect" coords="24,362,177,532" href="https://www.scout-shop.gr/eshop/product/7222/manthli-lykopoylon-proskopon" target="_blank" alt="Μαντήλι Λυκοπούλων Προσκόπων" title="Μαντήλι Λυκοπούλων Προσκόπων">
        <area shape="rect" coords="262,373,394,535" href="https://www.scout-shop.gr/eshop/product/7227/kriko-aplo" target="_blank" alt="Κρίκος απλός" title="Κρίκος απλός">
        <area shape="rect" coords="147,542,294,714" href="https://www.scout-shop.gr/eshop/product/17924/kapelo-tzoke-lykopoyloy" target="_blank" alt="Καπέλο Τζόκεϋ Λυκόπουλου" title="Καπέλο Τζόκεϋ Λυκόπουλου">
      </map>
        <h4>Πρόσκοποι</h4>
        <a href="/images/uniform/stoliproskopoi2.jpg" target="_blank"><img src="/images/uniform/stoliproskopoi2.jpg" alt="Η μπροστινή πλευρά μιας στολής προσκόπων"></a>
        <a href="/images/uniform/diakritikaproskopoi.jpg" target="_blank"><img src="/images/uniform/diakritikaproskopoi.jpg" alt="Τα διακριτικά μιας στολής προσκόπων"></a>
        <h4>Ανιχνευτές</h4>
        <a href="/images/uniform/stolianixneytes2.jpg" target="_blank"><img src="/images/uniform/stolianixneytes2.jpg" alt="Η μπροστινή πλευρά μιας στολής Ανιχνευτών"></a>
        <a href="/images/uniform/diakritikaanixneytes2.jpg" target="_blank"><img src="/images/uniform/diakritikaanixneytes2.jpg" alt="Τα διακριτικά μιας στολής Ανιχνευτών"></a>
        <h4>Βαθμοφόροι</h4>
        <a href="/images/uniform/stolienilikes.jpg" target="_blank"><img src="/images/uniform/stolienilikes.jpg" alt="Η μπροστινή πλευρά μιας στολής Βαθμοφόρων"></a>
        <a href="/images/uniform/diakritikaenilikes2.jpg" target="_blank"><img src="/images/uniform/diakritikaenilikes2.jpg" alt="Τα διακριτικά μιας στολής Βαθμοφόρων"></a>
      </article>
    </div>
    <script>
      $(document).ready(function(e) {
        $('img[usemap]').rwdImageMaps();
      });
      </script>