<input type="hidden" name="page" value="scout_group_annoncements" class="page_name">
<div class="page-image">
  <img src="/images/scout_group/announcements/exclamation-mark-2620923_1920.jpg" alt="εικόνα με ντουντούκα"
    style="border-bottom: 7px solid rgb(61, 61, 61);">
</div>
<h2 class="title_page">Ανακοινώσεις</h2>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-8 order-1 order-md-2 second_column">
      <article>
        <div class="grid_container_two_column_article">
          <div class="grid_item_two_column_article">
            <img src="/images/scout_group/announcements/used-clothing-3779497_1920.jpg" alt="placeholder image" loading="lazy" width="100%" height="450">
            <div class="text_below_image">
            <a href="#"><h3>Ανακύκλωση Ρούχων</h3></a>
            </div>
          </div>
          <div class="grid_item_two_column_article">
            <img src="/images/scout_group/announcements/battery-22119_1920.jpg" alt="placeholder image" loading="lazy" width="100%" height="450">
            <div class="text_below_image">
            <a href="#"><h3>Ανακύκλωση ηλεκτρικών αξεσουάρ</h3></a>
          </div>
          </div>
          <div class="grid_item_two_column_article">
            <img src="/images/scout_group/announcements/plastic-528789_1920.jpg" alt="placeholder image" loading="lazy" width="100%" height="450">
            <div class="text_below_image">
            <a href="#"><h3>Ανακύκλωση Καπάκια</h3></a>
          </div>
          </div>
      </article>
    </div>