<div class="page-image">
  <img src="/images/uniform/handkerchief.jpg" alt="εικόνα με προσκοπικό μαντήλι"
    style="border-bottom: 7px solid rgb(61, 61, 61);">
</div>
<h2 class="title_page">Βαθμοφόροι Συστήματος</h2>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-8 order-1 order-md-2">
    </div>