<input type="hidden" name="page" value="scout_group_members" class="page_name">
<div class="page-image">
  <img src="/images/scout_group/members/main_image.jpg" alt="tree with hands"
    style="border-bottom: 7px solid rgb(61, 61, 61);">
</div>
<h2 class="title_page">Βαθμοφόροι Συστήματος</h2>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-9 order-1 order-md-2 second_column">
      <article class="scout_group_members_article">
        <p>
          Ο προσκοπισμός είναι η μεγαλύτερη εθελοντική παιδαγωγική κίνηση νέων στην Ελλάδα και τον Κόσμο.
          <br>
          Όλες οι δραστηριότητες διοργανώνονται και πραγματοποιούνται από Ενήλικες Εθελοντές. Ασχολούνται με την
          επιμέλεια του προσκοπικού προγράμματος, την οργάνωση δραστηριοτήτων και την διοικητική διαχείριση των
          προσκοπικών τμημάτων
          <br>
          Όλοι οι Ενήλικες που συμμετέχουν στην προσκοπική κίνηση είναι κατάλληλα εκπαιδευμένοι σε ζητήματα που αφορούν
          την παιδαγωγική συμβολή του προσκοπισμού και την διοργάνωση και ασφάλεια των δραστηριοτήτων που προσφέρει.
          Γνωρίστε παρακάτω τους ανθρώπους πίσω από το Σύστημά μας.
        </p>
        <div class="grid_container_two_column_article grid_container_two_column_scout_group_members">
          <div class="grid_item_two_column_article grid_item_two_column_scout_group_members">
            <img src="/images/scout_group/members/circle_image_placeholder.png" alt="placeholder image" loading="lazy">
            <div class="text_below_image">
              <h3><a href="https://www.facebook.com/xristos.mellos" target="_blank">Χρήστος Μέλλος</a></h3>
              <h4>Αρχηγός Συστήματος</h4>
              <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum commodi facilis veniam sint porro
                dolorem vel atque pariatur totam temporibus.</p> -->
            </div>
          </div>
          <div class="grid_item_two_column_article grid_item_two_column_scout_group_members">
            <img src="/images/scout_group/members/circle_image_placeholder.png" alt="placeholder image" loading="lazy">
            <div class="text_below_image">
              <h3><a href="https://www.facebook.com/vaso.voxaki" target="_blank">Βάσω Βοξάκη</a></h3>
              <h4>Υπαρχηγός Συστήματος</h4>
              <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum commodi facilis veniam sint porro
                dolorem vel atque pariatur totam temporibus.</p> -->
            </div>
          </div>
          <div class="grid_item_two_column_article grid_item_two_column_scout_group_members">
            <img src="/images/scout_group/members/circle_image_placeholder.png" alt="placeholder image" loading="lazy">
            <div class="text_below_image">
              <h3><a href="https://www.facebook.com/profile.php?id=100027254147568" target="_blank">Ρίκα Φαράκλα</a></h3>
              <h4>Αρχηγός Αγέλης</h4>
              <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum commodi facilis veniam sint porro
                dolorem vel atque pariatur totam temporibus.</p> -->
            </div>
          </div>
          <div class="grid_item_two_column_article grid_item_two_column_scout_group_members">
            <img src="/images/scout_group/members/circle_image_placeholder.png" alt="placeholder image" loading="lazy">
            <div class="text_below_image">
              <h3><a href="https://www.facebook.com/dimitris.balis.31" target="_blank">Δημήτρης Μπαλής</a></h3>
              <h4>Υπαρχηγός Αγέλης</h4>
              <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum commodi facilis veniam sint porro
                dolorem vel atque pariatur totam temporibus.</p> -->
            </div>
          </div>
          <div class="grid_item_two_column_article grid_item_two_column_scout_group_members">
            <img src="/images/scout_group/members/circle_image_placeholder.png" alt="placeholder image" loading="lazy">
            <div class="text_below_image">
              <h3><a href="https://www.facebook.com/andriotikaiti" target="_blank">Καίτη Ανδριώτη</a></h3>
              <h4>Υπαρχηγός Αγέλης</h4>
              <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum commodi facilis veniam sint porro
                dolorem vel atque pariatur totam temporibus.</p> -->
            </div>
          </div>
          <div class="grid_item_two_column_article grid_item_two_column_scout_group_members">
            <img src="/images/scout_group/members/circle_image_placeholder.png" alt="placeholder image" loading="lazy">
            <div class="text_below_image">
              <h3><a href="https://www.facebook.com/fanoyrios.gkialis" target="_blank">Φανούριος Γκιάλης</a></h3>
              <h4>Υπαρχηγός Αγέλης</h4>
              <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum commodi facilis veniam sint porro
                dolorem vel atque pariatur totam temporibus.</p> -->
            </div>
          </div>
          <div class="grid_item_two_column_article grid_item_two_column_scout_group_members">
            <img src="/images/scout_group/members/circle_image_placeholder.png" alt="placeholder image" loading="lazy">
            <div class="text_below_image">
              <h3><a href="https://www.facebook.com/mixalisx1" target="_blank">Μιχάλης Ξενάκης</a></h3>
              <h4>Αρχηγός Ομάδας</h4>
              <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum commodi facilis veniam sint porro
                dolorem vel atque pariatur totam temporibus.</p> -->
            </div>
          </div>
      </article>
    </div>