<div class="page-image">
  <img src="/images/confidential/keys_b.jpg" alt="εικόνα με κλειδιά"
    style="border-bottom: 7px solid rgb(61, 61, 61);">
</div>
<h3 style="text-align: center; border-bottom: 7px solid green; padding-bottom: 20px; margin-top: 20px;">Εμπιστευτικά Αγέλης</h3>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-8 order-2 order-md-2">
      <div class="login-form">
        <h2>Βάλε το σωστό σύνθημα:</h2>
        <form action="authorization_cub" method="POST">
          <input type="hidden" name="username" value="Λυκόπουλα">
          <input type="password" name="password" placeholder="Βάλε το σύνθημά σου εδώ" required>
          <input type="submit" value="Είσοδος">
          <img src="<%=img%>" alt="<%=alt%>" style="margin: auto; text-align: center; display: block;">
        </form>
      </div>
    </div>