<input type="hidden" name="page" value="cubs_private" class="page_name">
<div class="page-image">
  <img src="/images/confidential/cubs_unlocked_b.jpg" alt="εικόνα με προσκόπους"
    style="border-bottom: 7px solid rgb(61, 61, 61);">
</div>
<h2 class="title_page">Λυκόπουλα</h2>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-8 order-1 order-md-2 second_column">
      <h1 style="text-align: center;">Καλωσήρθες Λυκόπουλο</h1>
      <div id="home_cluster_1">
        <div class="grid_container_two_column_article grid_container_two_column_article_cubs_private">
          <div class="grid_item_two_column_article grid_item_two_column_article_cubs_private">
            <img src="https://via.placeholder.com/320x220" alt="placeholder image" loading="lazy" width="100%">
            <div class="text_below_image">
            <a href="/articles/cubs/habet"><h3>Qui habet.</h3></a>
            <h5><i class="far fa-calendar-alt"></i> XX/XX/XXXX</h5>
            </div>
          </div>
          <div class="grid_item_two_column_article grid_item_two_column_article_cubs_private">
            <img src="https://via.placeholder.com/320x220" alt="placeholder image" loading="lazy" width="100%">
            <div class="text_below_image">
            <a href="#"><h3>Qui habet et pugnat longissimum patientia vincit.</h3></a>
            <h5><i class="far fa-calendar-alt"></i> XX/XX/XXXX</h5>
          </div>
          </div>
          <div class="grid_item_two_column_article grid_item_two_column_article_cubs_private">
            <img src="https://via.placeholder.com/320x220" alt="placeholder image" loading="lazy" width="100%">
            <div class="text_below_image">
            <a href="#"><h3>Qui habet et pugnat longissimum patientia vincit.</h3></a>
            <h5><i class="far fa-calendar-alt"></i> XX/XX/XXXX</h5>
          </div>
          </div>
          <div class="grid_item_two_column_article grid_item_two_column_article_cubs_private">
            <img src="https://via.placeholder.com/320x220" alt="placeholder image" loading="lazy" width="100%">
            <div class="text_below_image">
            <a href="#"><h3>Qui habet et pugnat longissimum patientia vincit.</h3></a>
            <h5><i class="far fa-calendar-alt"></i> XX/XX/XXXX</h5>
          </div>
          </div>
          <div class="grid_item_two_column_article grid_item_two_column_article_cubs_private">
              <img src="https://via.placeholder.com/320x220" alt="placeholder image" loading="lazy" width="100%">
              <div class="text_below_image">
              <a href="/articles/cubs/habet"><h3>Qui habet.</h3></a>
              <h5><i class="far fa-calendar-alt"></i> XX/XX/XXXX</h5>
              </div>
          </div>
          <div class="grid_item_two_column_article grid_item_two_column_article_cubs_private">
            <img src="https://via.placeholder.com/320x220" alt="placeholder image" loading="lazy" width="100%">
            <div class="text_below_image">
            <a href="#"><h3>Qui habet et pugnat longissimum patientia vincit.</h3></a>
            <h5><i class="far fa-calendar-alt"></i> XX/XX/XXXX</h5>
          </div>
          </div>
          <div class="grid_item_two_column_article grid_item_two_column_article_cubs_private">
            <img src="https://via.placeholder.com/320x220" alt="placeholder image" loading="lazy" width="100%">
            <div class="text_below_image">
            <a href="#"><h3>Qui habet et pugnat longissimum patientia vincit.</h3></a>
            <h5><i class="far fa-calendar-alt"></i> XX/XX/XXXX</h5>
          </div>
          </div>
          <div class="grid_item_two_column_article grid_item_two_column_article_cubs_private">
            <img src="https://via.placeholder.com/320x220" alt="placeholder image" loading="lazy" width="100%">
            <div class="text_below_image">
            <a href="#"><h3>Qui habet et pugnat longissimum patientia vincit.</h3></a>
            <h5><i class="far fa-calendar-alt"></i> XX/XX/XXXX</h5>
          </div>
          </div>
          <div class="grid_item_two_column_article grid_item_two_column_article_cubs_private">
            <img src="https://via.placeholder.com/320x220" alt="placeholder image" loading="lazy" width="100%">
            <div class="text_below_image">
            <a href="/articles/cubs/habet"><h3>Qui habet.</h3></a>
            <h5><i class="far fa-calendar-alt"></i> XX/XX/XXXX</h5>
            </div>
          </div>
          <div class="grid_item_two_column_article grid_item_two_column_article_cubs_private">
            <img src="https://via.placeholder.com/320x220" alt="placeholder image" loading="lazy" width="100%">
            <div class="text_below_image">
            <a href="#"><h3>Qui habet et pugnat longissimum patientia vincit.</h3></a>
            <h5><i class="far fa-calendar-alt"></i> XX/XX/XXXX</h5>
          </div>
          </div>
        </div>
      </div>
    </div>