<input type="hidden" name="page" value="scouts_login" class="page_name">
<div class="page-image">
  <img src="/images/confidential/keys_b.jpg" alt="εικόνα με κλειδιά"
    style="border-bottom: 7px solid rgb(61, 61, 61);">
</div>
<h2 class="title_page">Εμπιστευτικά Ομάδας</h2>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-9 order-1 order-md-2 second_column">
      <div class="login-form">
        <h2>Βάλε το σωστό σύνθημα:</h2>
        <form action="authorization_scout" method="POST">
          <input type="hidden" name="username" value="scouts">
          <input type="password" name="password" placeholder="Βάλε το σύνθημά σου εδώ" required>
          <input type="submit" value="Είσοδος">
          <img src="<%=img%>" alt="<%=alt%>" style="margin: auto; text-align: center; display: block;">
        </form>
      </div>
    </div>