<input type="hidden" name="page" value="what_is_eks" class="page_name">
<div class="page-image">
  <img src="/images/what_is/eks/main_image.jpg" alt="εικόνα με προσκοπικό μαντήλι" style="border-bottom: 7px solid rgb(61, 61, 61);">
</div>
<h2 class="title_page">Ημερολόγιο 2021-2022 Σεπτέμβριος</h2>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-8 order-1 order-md-2 second_column">
      <article>
        
      </article>
    </div>