<input type="hidden" name="page" value="calendar" class="page_name">
<div class="page-image">
  <img src="/images/articles/calendar/calendar_main_pic.jpg" alt="εικόνα με Ημερολόγιο"
    style="border-bottom: 7px solid rgb(61, 61, 61);">
</div>
<h2 class="title_page">Ημερολόγιο 2021-2022</h2>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-8 order-1 order-md-2 second_column">
      <article>
        <h5>Επιλέξτε μια προσκοπική χρονία και έναν μήνα από τις κάτω λίστες.</h5>
        <label for="calendar_year">Προσκοπική Χρονία:
          <select name="calendar_year" id="calendar_year">
            <option value="nothing_year"></option>
            <option value="2021-2022">2021-2022</option>
          </select>
        </label>
        <label for="calendar_month">Μήνας:
          <select name="calendar_month" id="calendar_month">
            <option value="nothing_month"></option>
            <option value="september">Σεπτέμβριος</option>
            <option value="october">Οκτώμβριος</option>
            <option value="november">Νοέμβριος</option>
            <option value="december">Δεκέμβριος</option>
            <option value="january">Ιανουάριος</option>
            <option value="february">Φεβρουάριος</option>
            <option value="march">Μάρτιος</option>
            <option value="april">Απρίλιος</option>
            <option value="may">Μάϊος</option>
            <option value="june">Ιούνιος</option>
            <option value="july">Ιούλιος</option>
            <option value="august">Αύγουστος</option>
          </select>
        </label><br><br>
        <section class="legend">
          <h3>Παράρτημα ημερολογίου</h3>
          <p>
            <div class="event event_cubs">
              <div class="event_desc">Χρώμα για δράση της Αγέλης</div>
            </div>
            <div class="event event_scouts">
              <div class="event_desc">Χρώμα για δράση της Ομάδας</div>
            </div>
            <div class="event event_ranked">
              <div class="event_desc">Χρώμα για δράση του Συστήματος</div>
            </div>
          </p>
        </section>
        <section class="calendar_2021-2022_month">
          <h3 class="calendar_month_header">Σεπτέμβριος 2021</h3>
          <table class="table table-striped calendar align-top table-bordered border-primary">
            <thead>
              <td>Δευτέρα</td>
              <td>Τρίτη</td>
              <td>Τετάρτη</td>
              <td>Πέμπτη</td>
              <td>Παρασκευή</td>
              <td>Σαββάτο</td>
              <td>Κυριακή</td>
            </thead>
            <tr class="calendar_date_row">
              <td class="previous_after_month"><span class="date_number previous_after_month_number">30</span></td>
              <td class="previous_after_month"><span class="date_number previous_after_month_number">31</span></td>
              <td><span class="date_number">1</span></td>
              <td><span class="date_number">2</span></td>
              <td><span class="date_number">3</span></td>
              <td><span class="date_number">4</span></td>
              <td>
                <span class="date_number">5</span><br><br>
                <div class="event event_ranked">
                  <div class="event_desc">
                    <a href="/articles/cubs/habet">Συμμετοχή στον Eορτασμό της σύναξης των Αγίων της Χίου <i class="far fa-newspaper"></i></a>
                  </div>
                </div>
              </td>
            </tr>
            <tr class="calendar_date_row">
              <td><span class="date_number">6</span></td>
              <td><span class="date_number">7</span></td>
              <td><span class="date_number">8</span></td>
              <td><span class="date_number">9</span></td>
              <td><span class="date_number">10</span></td>
              <td>
                <span class="date_number">11</span><br><br>
                <div class="event event_cubs">
                  <div class="event_desc">Συγκέντρωση στο σύστημα:<br>15:45 - 17:30</div>
                </div>
                <div class="event event_scouts">
                  <div class="event_desc">Συγκέντρωση στο σύστημα:<br>17:30 - 19:30</div>
                </div>
              </td>
              <td><span class="date_number">12</span></td>
            </tr>
            <tr class="calendar_date_row">
              <td><span class="date_number">13</span></td>
              <td><span class="date_number">14</span></td>
              <td><span class="date_number">15</span></td>
              <td><span class="date_number">16</span></td>
              <td><span class="date_number">17</span></td>
              <td>
                <span class="date_number">18</span><br><br>
                <div class="event event_cubs">
                  <div class="event_desc">Συγκέντρωση στο σύστημα:<br>15:45 - 17:30</div>
                </div>
                  <div class="event event_scouts">
                    <div class="event_desc">Συγκέντρωση στο σύστημα:<br>17:30 - 19:30</div>
                  </div>
                </div>
              </td>
              <td><span class="date_number">19</span></td>
            </tr>
            <tr class="calendar_date_row">
              <td><span class="date_number">20</span></td>
              <td><span class="date_number">21</span></td>
              <td><span class="date_number">22</span></td>
              <td><span class="date_number">23</span></td>
              <td><span class="date_number">24</span></td>
              <td>
                <span class="date_number">25</span><br><br>
                <div class="event event_cubs">
                  <div class="event_desc">Συγκέντρωση στο σύστημα:<br>15:45 - 17:30</div>
                </div>
                  <div class="event event_scouts">
                    <div class="event_desc">Συγκέντρωση στο σύστημα:<br>17:30 - 19:30</div>
                  </div>
                </div>
              </td>
              <td><span class="date_number">26</span></td>
            </tr>
            <tr class="calendar_date_row">
              <td><span class="date_number">27</span></td>
              <td><span class="date_number">28</span></td>
              <td><span class="date_number">29</span></td>
              <td><span class="date_number">30</span></td>
              <td class="previous_after_month"><span class="date_number previous_after_month_number">1</span></td>
              <td class="previous_after_month"><span class="date_number previous_after_month_number">2</span></td>
              <td class="previous_after_month"><span class="date_number previous_after_month_number">3</span></td>
            </tr>
          </table>
        </section>
      </article>
    </div>