<input type="hidden" name="page" value="calendar_2021_2022" class="page_name">
<div class="page-image">
  <img src="/images/articles/calendar/calendar_main_pic.jpg" alt="εικόνα με Ημερολόγιο"
    style="border-bottom: 7px solid rgb(61, 61, 61);">
</div>
<h2 class="title_page">Ημερολόγιο 2021-2022</h2>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-9 order-1 order-md-2 second_column">
      <article>
        <h5>Επιλέξτε έναν μήνα από την κάτω λίστα.</h5>
        <label for="calendar_month">Μήνας:
          <select name="calendar_month" id="calendar_month">
            <option value="september">Σεπτέμβριος</option>
            <option value="october">Οκτώμβριος</option>
          </select>
        </label><br><br>
        <section class="legend">
          <h3>Παράρτημα ημερολογίου</h3>
          <p>
            <div class="event event_cubs">
              <div class="event_desc">Χρώμα για δράση της Αγέλης</div>
            </div>
            <div class="event event_scouts">
              <div class="event_desc">Χρώμα για δράση της Ομάδας</div>
            </div>
            <div class="event event_ranked">
              <div class="event_desc">Χρώμα για δράση του Συστήματος</div>
            </div>
          </p>
        </section>
        <section class="calendar_2021-2022_month">
          <h3 class="calendar_month_header">Σεπτέμβριος 2021</h3>
          <table
            class="table table-striped calendar align-top table-bordered border-primary calendar_table_full">
            <thead>
              <td>Δευτέρα</td>
              <td>Τρίτη</td>
              <td>Τετάρτη</td>
              <td>Πέμπτη</td>
              <td>Παρασκευή</td>
              <td>Σαββάτο</td>
              <td>Κυριακή</td>
            </thead>
            <tr class="calendar_date_row">
              <td class="previous_after_month"><span class="date_number previous_after_month_number">30</span></td>
              <td class="previous_after_month"><span class="date_number previous_after_month_number">31</span></td>
              <td><span class="date_number">1</span></td>
              <td><span class="date_number">2</span></td>
              <td><span class="date_number">3</span></td>
              <td><span class="date_number">4</span></td>
              <td>
                <span class="date_number">5</span><br><br>
                <div class="event event_ranked">
                  <div class="event_desc">
                    <a href="/articles/scout_group/sinaji_ton_agion_xioy">Συμμετοχή στον Eορτασμό της σύναξης των Αγίων της Χίου <i
                        class="far fa-newspaper"></i></a>
                  </div>
                </div>
              </td>
            </tr>
            <tr class="calendar_date_row">
              <td><span class="date_number">6</span></td>
              <td><span class="date_number">7</span></td>
              <td><span class="date_number">8</span></td>
              <td><span class="date_number">9</span></td>
              <td><span class="date_number">10</span></td>
              <td>
                <span class="date_number">11</span><br><br>
                <div class="event event_cubs">
                  <a href="/articles/scouts/opening_day_11-09-2021"><div class="event_desc">Συγκέντρωση στο σύστημα:<br>15:45 - 17:30 <i class="far fa-newspaper"></i></div></a>
                </div>
                <div class="event event_scouts">
                  <div class="event_desc">Συγκέντρωση στο σύστημα:<br>17:30 - 19:30</div>
                </div>
              </td>
              <td><span class="date_number">12</span></td>
            </tr>
            <tr class="calendar_date_row">
              <td><span class="date_number">13</span></td>
              <td><span class="date_number">14</span></td>
              <td><span class="date_number">15</span></td>
              <td><span class="date_number">16</span></td>
              <td><span class="date_number">17</span></td>
              <td>
                <span class="date_number">18</span><br><br>
                <div class="event event_cubs">
                  <div class="event_desc">Συγκέντρωση στο σύστημα:<br>15:45 - 17:30</div>
                </div>
                <div class="event event_scouts">
                  <div class="event_desc">Συγκέντρωση στο σύστημα:<br>17:30 - 19:30</div>
                </div>
    </div>
    </td>
    <td><span class="date_number">19</span></td>
    </tr>
    <tr class="calendar_date_row">
      <td><span class="date_number">20</span></td>
      <td><span class="date_number">21</span></td>
      <td><span class="date_number">22</span></td>
      <td><span class="date_number">23</span></td>
      <td><span class="date_number">24</span></td>
      <td>
        <span class="date_number">25</span><br><br>
        <div class="event event_cubs">
          <div class="event_desc">Συγκέντρωση στο σύστημα:<br>15:45 - 17:30</div>
        </div>
        <div class="event event_scouts">
          <div class="event_desc">Συγκέντρωση στο σύστημα:<br>17:30 - 19:30</div>
        </div>
  </div>
  </td>
  <td><span class="date_number">26</span></td>
  </tr>
  <tr class="calendar_date_row">
    <td><span class="date_number">27</span></td>
    <td><span class="date_number">28</span></td>
    <td><span class="date_number">29</span></td>
    <td><span class="date_number">30</span></td>
    <td class="previous_after_month"><span class="date_number previous_after_month_number">1</span></td>
    <td class="previous_after_month"><span class="date_number previous_after_month_number">2</span></td>
    <td class="previous_after_month"><span class="date_number previous_after_month_number">3</span></td>
  </tr>
  </table>
  <table class="table table-striped calendar align-top table-bordered calendar_table_small">
    <thead>
      <td class="date_small" style="height: 20px;">
        Ημέρα
      </td>
      <td style="height: 20px;">
        Γεγονός
      </td>
    </thead>
    <tr>
      <td class="date_small">
        <span class="date_number date_number_left">1</span><br><br>
        <span class="date_name">Τετάρτη</span>
      </td>
      <td class="calendar_small_event">
      </td>
    </tr>
    <tr>
      <td class="date_small">
        <span class="date_number date_number_left">2</span><br><br>
        <span class="date_name">Πέμπτη</span>
      </td>
      <td class="calendar_small_event">
      </td>
    </tr>
    <tr>
      <td class="date_small">
        <span class="date_number date_number_left">3</span><br><br>
        <span class="date_name">Παρασκευή</span>
      </td>
      <td class="calendar_small_event">
      </td>
    </tr>
    <tr>
      <td class="date_small">
        <span class="date_number date_number_left">4</span><br><br>
        <span class="date_name">Σαββάτο</span>
      </td>
      <td class="calendar_small_event">
      </td>
    </tr>
    <tr>
      <td class="date_small">
        <span class="date_number date_number_left">5</span><br><br>
        <span class="date_name">Κυριακή</span>
      </td>
      <td class="calendar_small_event">
        <div class="event event_ranked">
          <div class="event_desc">
            <a href="/articles/cubs/habet">Συμμετοχή στον Eορτασμό της σύναξης των Αγίων της Χίου <i
                class="far fa-newspaper"></i></a>
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td class="date_small">
        <span class="date_number date_number_left">6</span><br><br>
        <span class="date_name">Δευτέρα</span>
      </td>
      <td class="calendar_small_event">
      </td>
    </tr>
    <tr>
      <td class="date_small">
        <span class="date_number date_number_left">7</span><br><br>
        <span class="date_name">Τρίτη</span>
      </td>
      <td class="calendar_small_event">
      </td>
    </tr>
    <tr>
      <td class="date_small">
        <span class="date_number date_number_left">8</span><br><br>
        <span class="date_name">Τετάρτη</span>
      </td>
      <td class="calendar_small_event">
      </td>
    </tr>
    <tr>
      <td class="date_small">
        <span class="date_number date_number_left">9</span><br><br>
        <span class="date_name">Πέμπτη</span>
      </td>
      <td class="calendar_small_event">
      </td>
    </tr>
    <tr>
      <td class="date_small">
        <span class="date_number date_number_left">10</span><br><br>
        <span class="date_name">Παρασκευή</span>
      </td>
      <td class="calendar_small_event">
      </td>
    </tr>
    <tr>
      <td class="date_small">
        <span class="date_number date_number_left">11</span><br><br>
        <span class="date_name">Σαββάτο</span>
      </td>
      <td class="calendar_small_event">
        <div class="event event_cubs">
          <div class="event_desc">Συγκέντρωση στο σύστημα:<br>15:45 - 17:30</div>
        </div>
        <div class="event event_scouts">
          <div class="event_desc">Συγκέντρωση στο σύστημα:<br>17:30 - 19:30</div>
        </div>
      </td>
    </tr>
    <tr>
      <td class="date_small">
        <span class="date_number date_number_left">12</span><br><br>
        <span class="date_name">Κυριακή</span>
      </td>
      <td class="calendar_small_event">
      </td>
    </tr>
    <tr>
      <td class="date_small">
        <span class="date_number date_number_left">13</span><br><br>
        <span class="date_name">Δευτέρα</span>
      </td>
      <td class="calendar_small_event">
      </td>
    </tr>
    <tr>
      <td class="date_small">
        <span class="date_number date_number_left">14</span><br><br>
        <span class="date_name">Τρίτη</span>
      </td>
      <td class="calendar_small_event">
      </td>
    </tr>
    <tr>
      <td class="date_small">
        <span class="date_number date_number_left">15</span><br><br>
        <span class="date_name">Τετάρτη</span>
      </td>
      <td class="calendar_small_event">
      </td>
    </tr>
    <tr>
      <td class="date_small">
        <span class="date_number date_number_left">16</span><br><br>
        <span class="date_name">Πέμπτη</span>
      </td>
      <td class="calendar_small_event">
      </td>
    </tr>
    <tr>
      <td class="date_small">
        <span class="date_number date_number_left">17</span><br><br>
        <span class="date_name">Παρασκευή</span>
      </td>
      <td class="calendar_small_event">
      </td>
    </tr>
    <tr>
      <td class="date_small">
        <span class="date_number date_number_left">18</span><br><br>
        <span class="date_name">Σαββάτο</span>
      </td>
      <td class="calendar_small_event">
        <div class="event event_cubs">
          <div class="event_desc">Συγκέντρωση στο σύστημα:<br>15:45 - 17:30</div>
        </div>
        <div class="event event_scouts">
          <div class="event_desc">Συγκέντρωση στο σύστημα:<br>17:30 - 19:30</div>
        </div>
      </td>
    </tr>
    <tr>
      <td class="date_small">
        <span class="date_number date_number_left">19</span><br><br>
        <span class="date_name">Κυριακή</span>
      </td>
      <td class="calendar_small_event">
      </td>
    </tr>
    <tr>
      <td class="date_small">
        <span class="date_number date_number_left">20</span><br><br>
        <span class="date_name">Δευτέρα</span>
      </td>
      <td class="calendar_small_event">
      </td>
    </tr>
    <tr>
      <td class="date_small">
        <span class="date_number date_number_left">21</span><br><br>
        <span class="date_name">Τρίτη</span>
      </td>
      <td class="calendar_small_event">
      </td>
    </tr>
    <tr>
      <td class="date_small">
        <span class="date_number date_number_left">22</span><br><br>
        <span class="date_name">Τετάρτη</span>
      </td>
      <td class="calendar_small_event">
      </td>
    </tr>
    <tr>
      <td class="date_small">
        <span class="date_number date_number_left">23</span><br><br>
        <span class="date_name">Πέμπτη</span>
      </td>
      <td class="calendar_small_event">
      </td>
    </tr>
    <tr>
      <td class="date_small">
        <span class="date_number date_number_left">24</span><br><br>
        <span class="date_name">Παρασκευή</span>
      </td>
      <td class="calendar_small_event">
      </td>
    </tr>
    <tr>
      <td class="date_small">
        <span class="date_number date_number_left">25</span><br><br>
        <span class="date_name">Σαββάτο</span>
      </td>
      <td class="calendar_small_event">
        <div class="event event_cubs">
          <div class="event_desc">Συγκέντρωση στο σύστημα:<br>15:45 - 17:30</div>
        </div>
        <div class="event event_scouts">
          <div class="event_desc">Συγκέντρωση στο σύστημα:<br>17:30 - 19:30</div>
        </div>
      </td>
    </tr>
    <tr>
      <td class="date_small">
        <span class="date_number date_number_left">26</span><br><br>
        <span class="date_name">Κυριακή</span>
      </td>
      <td class="calendar_small_event">
      </td>
    </tr>
    <tr>
      <td class="date_small">
        <span class="date_number date_number_left">27</span><br><br>
        <span class="date_name">Δευτέρα</span>
      </td>
      <td class="calendar_small_event">
      </td>
    </tr>
    <tr>
      <td class="date_small">
        <span class="date_number date_number_left">28</span><br><br>
        <span class="date_name">Τρίτη</span>
      </td>
      <td class="calendar_small_event">
      </td>
    </tr>
    <tr>
      <td class="date_small">
        <span class="date_number date_number_left">29</span><br><br>
        <span class="date_name">Τετάρτη</span>
      </td>
      <td class="calendar_small_event">
      </td>
    </tr>
    <tr>
      <td class="date_small">
        <span class="date_number date_number_left">30</span><br><br>
        <span class="date_name">Πέμπτη</span>
      </td>
      <td class="calendar_small_event">
      </td>
    </tr>
  </table>
  </section>
  <section class="calendar_2021-2022_month">
    <h3 class="calendar_month_header">Οκτώμβριος 2021</h3>
    <table
      class="table table-striped calendar align-top table-bordered border-primary calendar_table_full">
      <thead>
        <td>Δευτέρα</td>
        <td>Τρίτη</td>
        <td>Τετάρτη</td>
        <td>Πέμπτη</td>
        <td>Παρασκευή</td>
        <td>Σαββάτο</td>
        <td>Κυριακή</td>
      </thead>
      <tr class="calendar_date_row">
        <td class="previous_after_month"><span class="date_number previous_after_month_number">27</span></td>
        <td class="previous_after_month"><span class="date_number previous_after_month_number">28</span></td>
        <td class="previous_after_month"><span class="date_number previous_after_month_number">29</span></td>
        <td class="previous_after_month"><span class="date_number previous_after_month_number">30</span></td>
        <td><span class="date_number">1</span></td>
        <td><span class="date_number">2</span></td>
        <td>
          <span class="date_number">3</span><br><br>
        </td>
      </tr>
      <tr class="calendar_date_row">
        <td><span class="date_number">4</span></td>
        <td><span class="date_number">5</span></td>
        <td><span class="date_number">6</span></td>
        <td><span class="date_number">7</span></td>
        <td><span class="date_number">8</span></td>
        <td>
          <span class="date_number">9</span><br><br>
        </td>
        <td><span class="date_number">10</span></td>
      </tr>
      <tr class="calendar_date_row">
        <td><span class="date_number">11</span></td>
        <td><span class="date_number">12</span></td>
        <td><span class="date_number">13</span></td>
        <td><span class="date_number">14</span></td>
        <td><span class="date_number">15</span></td>
        <td>
          <span class="date_number">16</span><br><br>
        </td>
        <td><span class="date_number">17</span></td>
      </tr>
      <tr class="calendar_date_row">
        <td><span class="date_number">18</span></td>
        <td><span class="date_number">19</span></td>
        <td><span class="date_number">20</span></td>
        <td><span class="date_number">21</span></td>
        <td><span class="date_number">22</span></td>
        <td>
          <span class="date_number">23</span><br><br>
        </td>
        <td><span class="date_number">24</span></td>
      </tr>
      <tr class="calendar_date_row">
        <td><span class="date_number">25</span></td>
        <td><span class="date_number">26</span></td>
        <td><span class="date_number">27</span></td>
        <td><span class="date_number">28</span></td>
        <td><span class="date_number">29</span></td>
        <td><span class="date_number">30</span></td>
        <td><span class="date_number">31</span></td>
      </tr>
    </table>
    <table class="table table-striped calendar align-top table-bordered calendar_table_small">
      <thead>
        <td class="date_small" style="height: 20px;">
          Ημέρα
        </td>
        <td style="height: 20px;">
          Γεγονός
        </td>
      </thead>
      <tr>
        <td class="date_small">
          <span class="date_number date_number_left">1</span><br><br>
          <span class="date_name">Παρασκευή</span>
        </td>
        <td class="calendar_small_event">
        </td>
      </tr>
      <tr>
        <td class="date_small">
          <span class="date_number date_number_left">2</span><br><br>
          <span class="date_name">Σαββάτο</span>
        </td>
        <td class="calendar_small_event">
        </td>
      </tr>
      <tr>
        <td class="date_small">
          <span class="date_number date_number_left">3</span><br><br>
          <span class="date_name">Κυριακή</span>
        </td>
        <td class="calendar_small_event">
        </td>
      </tr>
      <tr>
        <td class="date_small">
          <span class="date_number date_number_left">4</span><br><br>
          <span class="date_name">Δευτέρα</span>
        </td>
        <td class="calendar_small_event">
        </td>
      </tr>
      <tr>
        <td class="date_small">
          <span class="date_number date_number_left">5</span><br><br>
          <span class="date_name">Τρίτη</span>
        </td>
        <td class="calendar_small_event">
        </td>
      </tr>
      <tr>
        <td class="date_small">
          <span class="date_number date_number_left">6</span><br><br>
          <span class="date_name">Τετάρτη</span>
        </td>
        <td class="calendar_small_event">
        </td>
      </tr>
      <tr>
        <td class="date_small">
          <span class="date_number date_number_left">7</span><br><br>
          <span class="date_name">Πέμπτη</span>
        </td>
        <td class="calendar_small_event">
        </td>
      </tr>
      <tr>
        <td class="date_small">
          <span class="date_number date_number_left">8</span><br><br>
          <span class="date_name">Παρασκευή</span>
        </td>
        <td class="calendar_small_event">
        </td>
      </tr>
      <tr>
        <td class="date_small">
          <span class="date_number date_number_left">9</span><br><br>
          <span class="date_name">Σαββάτο</span>
        </td>
        <td class="calendar_small_event">
        </td>
      </tr>
      <tr>
        <td class="date_small">
          <span class="date_number date_number_left">10</span><br><br>
          <span class="date_name">Κυριακή</span>
        </td>
        <td class="calendar_small_event">
        </td>
      </tr>
      <tr>
        <td class="date_small">
          <span class="date_number date_number_left">11</span><br><br>
          <span class="date_name">Δευτέρα</span>
        </td>
        <td class="calendar_small_event">
        </td>
      </tr>
      <tr>
        <td class="date_small">
          <span class="date_number date_number_left">12</span><br><br>
          <span class="date_name">Τρίτη</span>
        </td>
        <td class="calendar_small_event">
        </td>
      </tr>
      <tr>
        <td class="date_small">
          <span class="date_number date_number_left">13</span><br><br>
          <span class="date_name">Τετάρτη</span>
        </td>
        <td class="calendar_small_event">
        </td>
      </tr>
      <tr>
        <td class="date_small">
          <span class="date_number date_number_left">14</span><br><br>
          <span class="date_name">Πέμπτη</span>
        </td>
        <td class="calendar_small_event">
        </td>
      </tr>
      <tr>
        <td class="date_small">
          <span class="date_number date_number_left">15</span><br><br>
          <span class="date_name">Παρασκευή</span>
        </td>
        <td class="calendar_small_event">
        </td>
      </tr>
      <tr>
        <td class="date_small">
          <span class="date_number date_number_left">16</span><br><br>
          <span class="date_name">Σαββάτο</span>
        </td>
        <td class="calendar_small_event">
        </td>
      </tr>
      <tr>
        <td class="date_small">
          <span class="date_number date_number_left">17</span><br><br>
          <span class="date_name">Κυριακή</span>
        </td>
        <td class="calendar_small_event">
        </td>
      </tr>
      <tr>
        <td class="date_small">
          <span class="date_number date_number_left">18</span><br><br>
          <span class="date_name">Δευτέρα</span>
        </td>
        <td class="calendar_small_event">
        </td>
      </tr>
      <tr>
        <td class="date_small">
          <span class="date_number date_number_left">19</span><br><br>
          <span class="date_name">Τρίτη</span>
        </td>
        <td class="calendar_small_event">
        </td>
      </tr>
      <tr>
        <td class="date_small">
          <span class="date_number date_number_left">20</span><br><br>
          <span class="date_name">Τετάρτη</span>
        </td>
        <td class="calendar_small_event">
        </td>
      </tr>
      <tr>
        <td class="date_small">
          <span class="date_number date_number_left">21</span><br><br>
          <span class="date_name">Πέμπτη</span>
        </td>
        <td class="calendar_small_event">
        </td>
      </tr>
      <tr>
        <td class="date_small">
          <span class="date_number date_number_left">22</span><br><br>
          <span class="date_name">Παρασκευή</span>
        </td>
        <td class="calendar_small_event">
        </td>
      </tr>
      <tr>
        <td class="date_small">
          <span class="date_number date_number_left">23</span><br><br>
          <span class="date_name">Σαββάτο</span>
        </td>
        <td class="calendar_small_event">
        </td>
      </tr>
      <tr>
        <td class="date_small">
          <span class="date_number date_number_left">24</span><br><br>
          <span class="date_name">Κυριακή</span>
        </td>
        <td class="calendar_small_event">
        </td>
      </tr>
      <tr>
        <td class="date_small">
          <span class="date_number date_number_left">25</span><br><br>
          <span class="date_name">Δευτέρα</span>
        </td>
        <td class="calendar_small_event">
        </td>
      </tr>
      <tr>
        <td class="date_small">
          <span class="date_number date_number_left">26</span><br><br>
          <span class="date_name">Τρίτη</span>
        </td>
        <td class="calendar_small_event">
        </td>
      </tr>
      <tr>
        <td class="date_small">
          <span class="date_number date_number_left">27</span><br><br>
          <span class="date_name">Τετάρτη</span>
        </td>
        <td class="calendar_small_event">
        </td>
      </tr>
      <tr>
        <td class="date_small">
          <span class="date_number date_number_left">28</span><br><br>
          <span class="date_name">Πέμπτη</span>
        </td>
        <td class="calendar_small_event">
        </td>
      </tr>
      <tr>
        <td class="date_small">
          <span class="date_number date_number_left">29</span><br><br>
          <span class="date_name">Παρασκευή</span>
        </td>
        <td class="calendar_small_event">
        </td>
      </tr>
      <tr>
        <td class="date_small">
          <span class="date_number date_number_left">30</span><br><br>
          <span class="date_name">Σαββάτο</span>
        </td>
        <td class="calendar_small_event">
        </td>
      </tr>
      <tr>
        <td class="date_small">
          <span class="date_number date_number_left">31</span><br><br>
          <span class="date_name">Κυριακή</span>
        </td>
        <td class="calendar_small_event">
        </td>
      </tr>
    </table>
  </section>
  </article>
</div>