<input type="hidden" name="page" value="recycling" class="page_name">
<div class="page-image">
  <img src="/images/recycling/world_recycle.jpg" alt="κόσμος μέσα σε χέρι"
    style="border-bottom: 7px solid rgb(61, 61, 61);">
</div>
<h2 class="title_page">Ανακύκλωση</h2>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-9 order-1 order-md-2 second_column">
      <article>
        <p>
          Στις μέρες μας η έννοια της ανακύκλωσης είναι πιο επίκαιρη από ποτέ και πρέπει όλοι να συνειδητοποιήσουμε πόσο σημαντική είναι η αντιμετώπισή μας για την προστασία του περιβάλλοντος.
        </p>
        <p>
          Κυριότερος σκοπός της ανακύκλωσης είναι η μείωση των βλαβών που υφίσταται η υγεία όλων των ζωντανών οργανισμών από την αλόγιστη και μη οργανωμένη ρίψη επικίνδυνων αποβλήτων. Η ανακύκλωση δεν είναι μια εφήμερη τάση της εποχής, αλλά υποχρέωση κάθε πολιτισμένης κοινωνίας και κάθε πολίτη που σέβεται και εκτιμά τον εαυτό του και έχει ως στόχο τη βελτίωση της ποιότητας ζωής του.
        </p>
        <img src="/images/recycling/recycling_symbol.png" alt="Σύμβολο της ανακύκλωσης" style="float: right;" height="200" width="200">
        <p>
          Η ανακύκλωση βοηθά στην προστασία του περιβάλλοντος από χημικές και επικίνδυνες ουσίες που μπορεί να διαφύγουν στην ατμόσφαιρα, στο νερό και στο έδαφος από απορρίμματα που δεν τα έχουμε διαχειριστεί σωστά. Οι ουσίες αυτές μπορεί να εισέλθουν στην τροφική αλυσίδα και να δημιουργήσουν πολύ σοβαρά προβλήματα τόσο στα ζώα όσο και στον άνθρωπο ο οποίος αποτελεί τον τελευταίο κρίκο της αλυσίδας αυτής. Τα προβλήματα αυτά μπορεί να είναι λοιμώξεις, χρόνιες παθήσεις και πολύ σοβαρές ασθένειες όπως ο καρκίνος. Επίσης, η ανεξέλεγκτη απόθεση των απορριμμάτων μπορεί να αποτελέσει εστία μικροβίων και παθογόνων μικροοργανισμών.
        </p>
        <p>
          Η Ανακύκλωση και κυρίως η σωστή ανακύκλωση συμβάλλει στη δημιουργία ενός καθαρού και υγιούς περιβάλλοντος τόσο σήμερα όσο και αύριο, προστατεύοντας την υγείας μας και συμβάλλοντας σημαντικά στη βελτίωση της ποιότητας ζωής τη δική μας και των παιδιών μας. Tι εννοούμε όμως λέγοντας “Ποιότητα Ζωής” ή αλλιώς “Ευ Ζην”; Το “Ευ Zην” είναι τρόπος σκέψης, τρόπος ζωής με σκοπό τη βελτίωση της ποιότητας ζωής του ανθρώπου και των γύρω του σε όλους τους τομείς. Απαραίτητο συστατικό του “Ευ Ζην” είναι η υγεία, σωματική, πνευματική και ψυχική. Μεταφρασμένο στην καθημερινότητα είναι η καλλιέργεια του πνεύματος, η σωστή διατροφή, η σωματική άσκηση, η ψυχαγωγία, οι καλές κοινωνικές σχέσεις, η θετική ψυχολογία, ο σεβασμός προς το περιβάλλον και τους γύρω μας, ο σεβασμός προς τις νεότερες γενιές. Είναι καθετί που μπορεί να βελτιώσει την ποιότητα της ζωής μας σήμερα χωρίς να υποβαθμίσει την ποιότητα της ζωής μας αύριο Η υγεία αποτελεί αναπόσπαστο συστατικό της καλής ποιότητας ζωής, και το καθαρό περιβάλλον αποτελεί βασική προϋπόθεση της υγείας.
        </p>
        <p>
          Για αυτόν τον λόγο εμείς σαν  σύστημα έχουμε πάρει κάποιες πρωτοβουλίες το τελευταίο διάστημα προς ανακύκλωση κάποιων υλικών. Για πιο συγκεκριμένα πατήστε στις εικόνες από κάτω για να μάθετε πως μπορείτε να βοηθήσετε και εσείς στην ανακύκλωση υλικών για να βοηθήσουμε τον πλανήτη μας.
        </p>
        <a href="/articles/announcements/recycling_clothes">
        <div class="image_with_text_as_link image_with_text_as_link_recycling_clothes">
          <p>
            Ανακύκλωση Ρούχων
          </p>
        </div>
      </a>
      <a href="#">
        <div class="image_with_text_as_link image_with_text_as_link_recycling_phones">
          <p>
            Ανακύκλωση Κινητών και αξεσουάρ
          </p>
        </div>
      </a>
      <a href="#">
        <div class="image_with_text_as_link image_with_text_as_link_recycling_cups">
          <p>
            Ανακύκλωση Καπακιών
          </p>
        </div>
      </a>
      </article>
    </div>